@using Common.Utilities;
@using ViewModels;
@model VanHanhDataViewModel

@{
    ViewData["Title"] = "Nhập dữ liệu vận hành";
    Layout = "~/Views/Shared/_LayoutData.cshtml";
}

<div class="row">
    <div class="col-12">
        <form action="/@Constants.LinkFactory.Main/@Constants.LinkFactory.VanHanh/@Constants.LinkFactory.Create" method="post" class="data-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="Entity.Date" class="control-label"></label>
                        <input class="form-control form-control-lg datepicker datepicker-lg" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                        <span asp-validation-for="Entity.Date" class="text-danger"></span>
                        <input type="hidden" name="Entity.Date" class="hidedatepicker" />
                    </div>
                </div>
                <div class="col-lg-4 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label asp-for="Entity.Ca" class="control-label"></label>
                        <div class="row">
                            <div class="col-10">
                                <select asp-for="Entity.Ca" class="form-control form-control-lg">
                                    <option value="">Chọn</option>
                                    <option value="Ca 1">Ca 1</option>
                                    <option value="Ca 1">Ca 2</option>
                                </select>
                            </div>
                            <div class="col-2 align-middle">
                                <button class="btn btn-sm btn-add-shiftTime" type="button" data-toggle="modal" data-target="#newShitTime" title="Tạo mới ca làm việc">+</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label asp-for="Entity.CaLamViec" class="control-label"></label>
                        <select asp-for="Entity.CaLamViec" class="form-control form-control-lg">
                            <option value="">Chọn</option>
                            <option value="S">S</option>
                            <option value="C1">C1</option>
                            <option value="C2">C2</option>
                            <option value="T">T</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="Entity.MangCongViec" class="control-label"></label>
                        <div class="row">
                            <div class="col-10">
                                <select asp-for="Entity.MangCongViec" class="form-control form-control-lg">
                                    <option value="">Chọn</option>
                                    @{
                                        foreach (var item in Model.Works)
                                        {
                                            <option value="@item.Name">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-2 align-middle">
                                <button class="btn btn-sm btn-add-work" type="button" data-toggle="modal" data-target="#newWork" title="Tạo mới công việc">+</button>
                            </div>
                        </div>
                        <span asp-validation-for="Entity.MangCongViec" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="Entity.CongDoan" class="control-label"></label>
                        <div class="row">
                            <div class="col-10">
                                <select asp-for="Entity.CongDoan" class="form-control form-control-lg js-select2-basic-single">
                                    <option value="">Chọn</option>
                                    @{
                                        foreach (var item in Model.Stages)
                                        {
                                            <option value="@item.Name">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-2 align-middle">
                                <button class="btn btn-sm btn-add-stage" type="button" data-toggle="modal" data-target="#newStage" title="Tạo mới công đoạn">+</button>
                            </div>
                        </div>
                        <span asp-validation-for="Entity.CongDoan" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="Entity.XeCoGioiMay" class="control-label"></label>
                        <div class="row">
                            <div class="col-10">
                                <select asp-for="Entity.XeCoGioiMay" class="form-control form-control-lg js-select2-basic-single">
                                    <option value="">Chọn</option>
                                    @{
                                        foreach (var item in Model.Vehicles)
                                        {
                                            <option value="@item.Name">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-2 align-middle">
                                <button class="btn btn-sm btn-add-vehicle" type="button" data-toggle="modal" data-target="#newVehicle" title="Tạo mới xe cơ giới/máy">+</button>
                            </div>
                        </div>
                        <span asp-validation-for="Entity.XeCoGioiMay" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label asp-for="Entity.NVLTP" class="control-label"></label>
                        <div class="row">
                            <div class="col-10">
                                <select asp-for="Entity.ProductId" class="form-control form-control-lg js-select2-basic-single">
                                    <option value="">Chọn</option>
                                    @{
                                        foreach (var item in Model.Products)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    }
                                </select>
                            </div>
                            <div class="col-2 align-middle">
                                <button class="btn btn-sm btn-add-product" type="button" data-toggle="modal" data-target="#newProduct" title="Tạo mới NVL/BTP/TP">+</button>
                            </div>
                        </div>
                        <span asp-validation-for="Entity.NVLTP" class="text-danger"></span>
                    </div>
                </div>
            </div>
                

                

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.LOT" class="control-label"></label>
                            <input asp-for="Entity.LOT" class="form-control form-control-lg" />
                            <span asp-validation-for="Entity.LOT" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.SLNhanCong" class="control-label"></label>
                            <input name="Entity.SLNhanCong" id="Entity_SLNhanCong" class="form-control form-control-lg slnhancong" value="1" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.Start" class="control-label"></label>
                            <input asp-for="Entity.Start" class="form-control form-control-lg datetimepicker-input" data-toggle="datetimepicker" data-target="#Entity_Start" />
                            <span asp-validation-for="Entity.Start" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.End" class="control-label"></label>
                            <input asp-for="Entity.End" class="form-control form-control-lg datetimepicker-input" data-toggle="datetimepicker" data-target="#Entity_End" />
                            <span asp-validation-for="Entity.End" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.ThoiGianBTTQ" class="control-label"></label>
                            <input asp-for="Entity.ThoiGianBTTQ" class="form-control form-control-lg datetimepicker-input" data-toggle="datetimepicker" data-target="#Entity_ThoiGianBTTQ" />
                            <span asp-validation-for="Entity.ThoiGianBTTQ" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.ThoiGianXeHu" class="control-label"></label>
                            <input asp-for="Entity.ThoiGianXeHu" class="form-control form-control-lg datetimepicker-input" data-toggle="datetimepicker" data-target="#Entity_ThoiGianXeHu" />
                            <span asp-validation-for="Entity.ThoiGianXeHu" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.ThoiGianNghi" class="control-label"></label>
                            <input asp-for="Entity.ThoiGianNghi" class="form-control form-control-lg datetimepicker-input" data-toggle="datetimepicker" data-target="#Entity_ThoiGianNghi" />
                            <span asp-validation-for="Entity.ThoiGianNghi" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.ThoiGianCVKhac" class="control-label"></label>
                            <input asp-for="Entity.ThoiGianCVKhac" class="form-control form-control-lg datetimepicker-input" data-toggle="datetimepicker" data-target="#Entity_ThoiGianCVKhac" />
                            <span asp-validation-for="Entity.ThoiGianCVKhac" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.ThoiGianDayMoBat" class="control-label"></label>
                            <input asp-for="Entity.ThoiGianDayMoBat" class="form-control form-control-lg datetimepicker-input" data-toggle="datetimepicker" data-target="#Entity_ThoiGianDayMoBat" />
                            <span asp-validation-for="Entity.ThoiGianDayMoBat" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.ThoiGianBocHang" class="control-label"></label>
                            <input asp-for="Entity.ThoiGianBocHang" class="form-control form-control-lg datetimepicker-input" data-toggle="datetimepicker" data-target="#Entity_ThoiGianBocHang" />
                            <span asp-validation-for="Entity.ThoiGianBocHang" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.ThoiGianLamViec" class="control-label"></label>
                            <p>
                                <h5><span class="badge badge-light ThoiGianLamViec">08:00</span></h5>
                            </p>
                            <input asp-for="Entity.ThoiGianLamViec" type="hidden" value="08:00" />
                            <input id="ThoiGianLamViec_second" type="hidden" value="28800" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.SoLuongThucHien" class="control-label"></label>
                            <input asp-for="Entity.SoLuongThucHien" class="form-control form-control-lg soluongthuchien" value="0" />
                            <span asp-validation-for="Entity.SoLuongThucHien" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.SoLuongDongGoi" class="control-label"></label>
                            <input asp-for="Entity.SoLuongDongGoi" class="form-control form-control-lg soluongdonggoi" value="0" />
                            <span asp-validation-for="Entity.SoLuongDongGoi" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.SoLuongBocHang" class="control-label"></label>
                            <input asp-for="Entity.SoLuongBocHang" class="form-control form-control-lg soluongbochang" value="0" />
                            <span asp-validation-for="Entity.SoLuongBocHang" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.Dau" class="control-label"></label>
                            <input asp-for="Entity.Dau" class="form-control form-control-lg dau" value="0" />
                            <span asp-validation-for="Entity.Dau" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.Nhot10" class="control-label"></label>
                            <input asp-for="Entity.Nhot10" class="form-control form-control-lg nhot10" value="0" />
                            <span asp-validation-for="Entity.Nhot10" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.Nhot50" class="control-label"></label>
                            <input asp-for="Entity.Nhot50" class="form-control form-control-lg nhot50" value="0" />
                            <span asp-validation-for="Entity.Nhot50" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.Nhot90" class="control-label"></label>
                            <input asp-for="Entity.Nhot90" class="form-control form-control-lg nhot90" value="0" />
                            <span asp-validation-for="Entity.Nhot90" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.Nhot140" class="control-label"></label>
                            <input asp-for="Entity.Nhot140" class="form-control form-control-lg nhot140" value="0" />
                            <span asp-validation-for="Entity.Nhot140" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Entity.NguyenNhan" class="control-label"></label>
                    <input asp-for="Entity.NguyenNhan" class="form-control form-control-lg" />
                    <span asp-validation-for="Entity.NguyenNhan" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.TongThoiGianBocHang" class="control-label"></label>
                            <h5><span class="badge badge-light TongThoiGianBocHang">00:00</span></h5>
                            <input asp-for="Entity.TongThoiGianBocHang" type="hidden" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.TongThoiGianDongGoi" class="control-label"></label>
                            <h5><span class="badge badge-light TongThoiGianDongGoi">08:00</span></h5>
                            <input asp-for="Entity.TongThoiGianDongGoi" type="hidden" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.TongThoiGianCVKhac" class="control-label"></label>
                            <h5><span class="badge badge-light TongThoiGianCVKhac">00:00</span></h5>
                            <input asp-for="Entity.TongThoiGianCVKhac" type="hidden" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Entity.TongThoiGianDayMoBat" class="control-label"></label>
                            <h5><span class="badge badge-light TongThoiGianDayMoBat">00:00</span></h5>
                            <input asp-for="Entity.TongThoiGianDayMoBat" type="hidden" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-danger btn-lg btn-block">
                        <icon class="icon-paper-plane"></icon> Cập nhật
                    </button>
                </div>
</form>
    </div>
</div>

<div>
    <a href="/@Constants.LinkFactory.Main/@Constants.LinkFactory.VanHanh/" class="btn btn-outline-info btn-block"><icon class="icon-forward"></icon>Danh sách</a>
</div>

<div class="modal fade" id="newProduct" tabindex="-1" role="dialog" aria-labelledby="newProductLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemModalLabel">Thêm mới NVL/BTP/TP"</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="data-form" method="post" action="/@Constants.LinkFactory.Main/@Constants.LinkFactory.NewProduct" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span class="result"></span>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Loại</label>
                        <select name="Type" class="form-control form-control-lg js-auto-size">
                            <option value="">NVL/BTP/TP</option>
                            <option value="NVL">NVL</option>
                            <option value="BTP">BTP</option>
                            <option value="TP">TP</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tên NVL/BTP/TP</label>
                        <input name="Name" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">ĐVT</label>
                        <input name="Unit" class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy & Đóng</button>
                    <button type="button" class="btn btn-primary btn-save-product"><i class="icon-save"></i>&nbsp;Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newUnit" tabindex="-1" role="dialog" aria-labelledby="newUnitLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemModalLabel">Thêm mới ĐVT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="data-form" method="post" action="/@Constants.LinkFactory.Main/@Constants.LinkFactory.NewUnit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span class="result"></span>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Công việc</label>
                        <input name="Name" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô tả</label>
                        <textarea name="Description" class="form-control form-control-lg js-auto-size"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy & Đóng</button>
                    <button type="button" class="btn btn-primary btn-save-unit"><i class="icon-save"></i>&nbsp;Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalnotice">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nhập liệu được ghi nhận.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <a href="/@Constants.LinkFactory.Main/@Constants.LinkFactory.VanHanh/@Constants.LinkFactory.Create" class="btn btn-primary">Nhập liệu mới</a>
                <a href="/@Constants.LinkFactory.Main/@Constants.LinkFactory.VanHanh" class="btn btn-info">Danh sách</a>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/lib/timelite/add_two_times.js"></script>
        <script src="~/js/factory-van-hanh-data.js?@DateTime.Now.Ticks"></script>
    }
}