@using ViewModels;
@model TonSxDataViewModel

@{
    ViewData["Title"] = "EditTonSx";
    Layout = "~/Views/Shared/_LayoutSocialFb.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditTonSx">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>    
            <input asp-for="Entity.Id" type="hidden" />
            <div class="form-group">
                <label asp-for="Entity.Date" class="control-label"></label>
                <input class="form-control form-control-lg datepicker datepicker-lg" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                <span asp-validation-for="Entity.Date" class="text-danger"></span>
                <input type="hidden" name="Entity.Date" class="hidedatepicker" />
            </div>
            <div class="form-group">
                <label asp-for="Entity.Product" class="control-label"></label>
                <select asp-for="Entity.Product" class="form-control form-control-lg js-select2-basic-single">
                    @{
                        foreach (var item in Model.Products)
                        {
                            <option value="@item.Id" data-unit="@item.Unit" data-alias="@item.Alias">@item.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="Entity.Product" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.Unit" class="control-label"></label>
                <input asp-for="Entity.Unit" class="form-control form-control-lg" />
            </div>
            <div class="form-group">
                <label asp-for="Entity.LOT" class="control-label"></label>
                <input asp-for="Entity.LOT" class="form-control form-control-lg" />
                <span asp-validation-for="Entity.LOT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.TonDauNgay" class="control-label"></label>
                <input asp-for="Entity.TonDauNgay" class="form-control form-control-lg" />
                <span asp-validation-for="Entity.TonDauNgay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.NhapTuSanXuat" class="control-label"></label>
                <input asp-for="Entity.NhapTuSanXuat" class="form-control form-control-lg" />
                <span asp-validation-for="Entity.NhapTuSanXuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.XuatChoSanXuat" class="control-label"></label>
                <input asp-for="Entity.XuatChoSanXuat" class="form-control form-control-lg" />
                <span asp-validation-for="Entity.XuatChoSanXuat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.NhapTuKho" class="control-label"></label>
                <input asp-for="Entity.NhapTuKho" class="form-control form-control-lg" />
                <span asp-validation-for="Entity.NhapTuKho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.XuatChoKho" class="control-label"></label>
                <input asp-for="Entity.XuatChoKho" class="form-control form-control-lg" />
                <span asp-validation-for="Entity.XuatChoKho" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.XuatHaoHut" class="control-label"></label>
                <input asp-for="Entity.XuatHaoHut" class="form-control form-control-lg" />
                <span asp-validation-for="Entity.XuatHaoHut" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Entity.TonCuoiNgay" class="control-label"></label>
                <input asp-for="Entity.TonCuoiNgay" class="form-control form-control-lg" />
                <span asp-validation-for="Entity.TonCuoiNgay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cập nhật" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Danh sách</a>
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/factory-tonsx-data.js?@DateTime.Now.Ticks"></script>
    }
}
