@using Common.Utilities;
@using ViewModels;
@model VanHanhViewModel
@{
    ViewData["Title"] = "Phiếu in ca";
    var link = Constants.LinkFactory.VanHanh;
    var code = string.Empty;
    var date = DateTime.Now;
    var boPhanThucHien = string.Empty;
    var tenxe = string.Empty;
    var tgxehu = new TimeSpan(0, 0, 0);
    var tgBttq = new TimeSpan(0, 0, 0);
    var tgLamViec = new TimeSpan(0, 0, 0);
    double slThucHien = 0;
    double dau = 0;
    double nhot10 = 0;
    double nhot50 = 0;
    double nhot90 = 0;
    double nhot140 = 0;
    var nguyennhan = string.Empty;
    if (Model.FactoryVanHanhs != null && Model.FactoryVanHanhs.Count > 0)
    {
        code = Model.FactoryVanHanhs[0].PhieuInCa;
        date = Model.FactoryVanHanhs[0].Date;
    }
    if (Model.Vehicle != null)
    {
        boPhanThucHien = Model.Vehicle.NhaThauName;
        tenxe = Model.Vehicle.Category.Name;
    }
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/@link">Vận hành</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Phiếu in ca
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="space-sm">
        <div class="container">
            <form method="get" action="/@link/@Constants.LinkFactory.PhieuInCa" id="form-main">
                <div class="form-row mb-3">
                    <div class="col-md-7 col-sm-6 col-xs-12">
                        <label class="control-label">Xe cơ giới/máy</label>
                        <select asp-for="Xm" class="form-control form-control-lg js-select2-basic-single">
                            <option value="">Tất cả</option>
                            @foreach (var item in Model.Vehicles)
                            {
                                var display = item.Code;
                                display += !string.IsNullOrEmpty(display) ? " - " + item.Name : item.Name;
                                <option value="@item.Code">@display</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-7 col-sm-6 col-xs-12">
                        <label class="control-label">Tháng</label>
                        <select asp-for="Thang" class="custom-select ddl-times">
                            @{
                                foreach (var item in Model.MonthYears)
                                {
                                    <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="m-b-4 col-12">
                        <button class="btn btn-lg btn-block btn-info form-control" type="submit"><i class="icon-magnifying-glass"></i> Tìm kiếm</button>
                    </div>
                </div>
            </form>

            <div class="card">
                <div class="card-body">
                    <div id="div_print" style="width: 210mm; height: 148.5mm;font-size:12px; background-color:">
                        <style>
                            table {
                                width: 100%;
                            }

                            th {
                                text-align: center;
                            }

                            td {
                                vertical-align: bottom;
                            }

                            .th td {
                                text-align: center;
                                font-weight: bold;
                            }

                            .center {
                                text-align: center;
                            }

                            .bold {
                                font-weight: bold;
                            }

                            .font-14 {
                                font-size: 14px;
                            }

                            .font-20 {
                                font-size: 20px;
                            }

                            .space {
                                width: 10px;
                            }
                        </style>
                        <div>
                            <table>
                                <tr>
                                    <td style="width: 150px; text-align: center; vertical-align: top;">
                                        @*<img src="@Constants.System.domain/images/logo.png" />*@
                                        <img src="~/images/logo.png" style="width: 150px" />
                                    </td>
                                    <td class="center font-14 bold">
                                        <span>
                                            NHÀ MÁY XLBT SÀI GÒN XANH
                                        </span>
                                        <br />
                                        <span>
                                            Đ/C : Q.Lộ 50 - Ấp 1 - xã Đa Phước - Bình Chánh - Tp.HCM
                                        </span>
                                        <br />
                                        <span>
                                            Đ.T: (028).6685.7220
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div style="padding-top: 10px;">
                            <table>
                                <tr>
                                    <td class="center font-20 bold">
                                        XÁC NHẬN THỜI GIAN LÀM VIỆC XE CƠ GIỚI
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div>
                            <table>
                                <tr>
                                    <td nowrap>- Số Phiếu:</td>
                                    <td colspan="4" class="bold">@code</td>
                                    <td class="space"></td>
                                    <td nowrap>- Ngày T.hiện:</td>
                                    <td colspan="7" class="center">@date.ToString("dd/MM/yyyy")</td>
                                </tr>
                                <tr>
                                    <td nowrap>- BP T.hiện:</td>
                                    <td colspan="4" class="center">
                                        @boPhanThucHien
                                    </td>
                                    <td class="space"></td>
                                    <td nowrap>- Tên xe:</td>
                                    <td colspan="7" class="center">@tenxe</td>
                                </tr>
                                @if (Model.FactoryVanHanhs != null && Model.FactoryVanHanhs.Count > 0)
                                {
                                    int i = 1;
                                    foreach (var item in Model.FactoryVanHanhs)
                                    {
                                        tgxehu += item.ThoiGianXeHu;
                                        tgBttq += item.ThoiGianBTTQ;
                                        tgLamViec += item.ThoiGianLamViec;
                                        slThucHien += item.SoLuongThucHien;
                                        dau += item.Dau;
                                        nhot10 += item.Nhot10;
                                        nhot50 += item.Nhot50;
                                        nhot90 += item.Nhot90;
                                        nhot140 += item.Nhot140;
                                        if (!string.IsNullOrEmpty(nguyennhan) && !string.IsNullOrEmpty(item.NguyenNhan))
                                        {
                                            nguyennhan += "; ";
                                        }
                                        nguyennhan += item.NguyenNhan;
                                        <tr>
                                            <td nowrap>- Công đoạn:</td>
                                            <td>@item.CongDoanCode</td>
                                            <td class="space"></td>
                                            <td nowrap>- B.ĐẦU @i:</td>
                                            <td>@item.Start.ToString(@"hh\:mm")</td>
                                            <td class="space"></td>
                                            <td>- K.THÚC @i:</td>
                                            <td>@item.End.ToString(@"hh\:mm")</td>
                                            <td class="space"></td>
                                            <td>- T.gian:</td>
                                            <td>@item.ThoiGianLamViec.ToString(@"hh\:mm")</td>
                                            <td class="space"></td>
                                            <td>- SL T.hiện:</td>
                                            <td>@item.SoLuongThucHien</td>
                                        </tr>
                                        i++;
                                    }
                                }
                                <tr>
                                    <td colspan="4" class="bold">- T.G xe hư (giờ):</td>
                                    <td>@tgxehu.ToString(@"hh\:mm")</td>
                                    <td rowspan="2" class="space"></td>
                                    <td nowrap rowspan="2" class="bold" style="vertical-align:middle">
                                        - Tổng Th.Gian<br />làm việc (giờ):
                                    </td>
                                    <td rowspan="2" colspan="7">@tgLamViec.ToString(@"hh\:mm")</td>
                                </tr>
                                <tr>
                                    <td colspan="4" class="bold">- T.G BTTQ (giờ):</td>
                                    <td>@tgBttq.ToString(@"hh\:mm")</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="bold">- Nhiên liệu tiêu hao</td>
                                    <td nowrap class="bold">- Tổng SL.T.Hiện</td>
                                    <td>@slThucHien</td>
                                    <td colspan="6" class="bold">(M3 hoặc Tấn)</td>
                                </tr>
                                <tr>
                                    <td nowrap>Dầu D.O:</td>
                                    <td>@dau</td>
                                    <td class="space"></td>
                                    <td nowrap>Nhớt 10 (Lít):</td>
                                    <td>@nhot10</td>
                                    <td class="space"></td>
                                    <td nowrap>Nhớt 50 (Lít):</td>
                                    <td>@nhot50</td>
                                    <td class="space"></td>
                                    <td nowrap>Nhớt 90 (Lít):</td>
                                    <td>@nhot90</td>
                                    <td class="space"></td>
                                    <td nowrap>Nhớt 140 (Lít):</td>
                                    <td>@nhot140</td>
                                </tr>
                                <tr>
                                    <td class="bold">- Ghi chú:</td>
                                    <td colspan="13">@nguyennhan</td>
                                </tr>
                                <tr>
                                    <td colspan="6" class="bold center">Nhà Máy Sài Gòn Xanh</td>
                                    <td class="space"></td>
                                    <td colspan="7" class="bold center">Đơn Vị Thực Hiện</td>
                                </tr>
                                <tr>
                                    <td nowrap class="center bold">BP Thống Kê</td>
                                    <td colspan="5" class="bold center">Quản Lý / Tổ Trưởng Bộ Phận</td>
                                    <td class="space"></td>
                                    <td colspan="7" class="bold center">Tài Xế</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button name="b_print" type="button" class="btn btn-lg btn-success btn-block" onClick="PrintElem('div_print');"><i class="fas fa-print"></i> In</button>
                </div>
            </div>
        </div>
    </section>
</div>




@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/factories/phieu-in-ca.js?@Constants.VersionJs"></script>
    }
}
