@using Common.Utilities;
@using ViewModels;
@model VanHanhViewModel
@{
    ViewData["Title"] = "Vận Hành";
    var link = Constants.LinkFactory.VanHanh;
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/@Constants.LinkFactory.Index">Nhà máy</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="/@link">Vận hành</a>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="space-sm">
        <div class="container-fluid">
            <form method="get" action="@Constants.LinkFactory.VanHanh">
                <div class="form-row mb-3">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label class="control-label">Xe cơ giới/máy</label>
                        <select asp-for="Xm" class="form-control form-control-lg js-select2-basic-single">
                            <option value="">Tất cả</option>
                            @foreach (var item in Model.Vehicles)
                            {
                                var display = item.Code;
                                display += !string.IsNullOrEmpty(display) ? " - " + item.Name : item.Name;
                                <option value="@item.Code">@display</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <label class="control-label">Công đoạn</label>
                        <select asp-for="Cd" class="form-control form-control-lg js-select2-basic-single">
                            <option value="">Tất cả</option>
                            @foreach (var item in Model.Stages)
                            {
                                var display = item.Code + " - " + item.Name;
                                <option value="@item.Code">@display</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <label class="control-label">Tên NVL/BTP/TP</label>
                        <select asp-for="Nvl" class="form-control form-control-lg js-select2-basic-single">
                            <option value="">Tất cả</option>
                            @{
                                foreach (var item in Model.Products)
                                {
                                    <option value="@item.Alias">@item.Name</option>
                                }
                            }
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <label class="control-label">LOT</label>
                        <input asp-for="Lot" class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <label class="control-label">Phiếu in ca <code>{MaXe}:{YYYY}-{MM}-{DD}</code></label>
                        <input asp-for="Phieu" class="form-control form-control-lg" />
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <label class="control-label">Ca</label>
                        <select asp-for="Ca" class="form-control form-control-lg">
                            <option value="">Tất cả</option>
                            @foreach (var item in Model.Shifts)
                            {
                                <option value="@item.Alias">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <label class="control-label">Ca làm việc</label>
                        <select asp-for="CaLamViec" class="form-control form-control-lg">
                            <option value="">Tất cả</option>
                            @foreach (var item in Model.ShiftSubs)
                            {
                                <option value="@item.Alias">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 date-area">
                        <label class="control-label">Từ</label>
                        @{
                            if (Model.Tu.HasValue)
                            {
                                <input class="form-control form-control-lg datepicker datepicker-lg" value="@Model.Tu.Value.ToString("dd/MM/yyyy")" />
                            }
                            else
                            {
                                <input class="form-control form-control-lg datepicker datepicker-lg" />
                            }
                        }
                        <input type="hidden" asp-for="Tu" class="hidedatepicker" />
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 date-area">
                        <label class="control-label">Đến</label>
                        @{
                            if (Model.Den.HasValue)
                            {
                                <input class="form-control form-control-lg datepicker datepicker-lg" value="@Model.Den.Value.ToString("dd/MM/yyyy")" />
                            }
                            else
                            {
                                <input class="form-control form-control-lg datepicker datepicker-lg" />
                            }
                        }
                        <input type="hidden" asp-for="Den" class="hidedatepicker" />
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-mb-4 col-sm-6 col-12">
                        <button class="btn btn-lg btn-block btn-info form-control btn-lg" type="submit"><i class="icon-magnifying-glass"></i> Tìm kiếm</button>
                    </div>
                    <div class="col-mb-4 col-sm-6 col-12">
                        <a href="/@Constants.LinkFactory.VanHanh/@Constants.ActionLink.Data" class="btn btn-lg btn-success btn-block">
                            <i class="icon-add-to-list mr-1"></i> Nhập số liệu
                        </a>
                    </div>
                    @*<div class="col-md-2">
                            <label class="control-label">Dòng</label>
                            <select asp-for="Dong" class="form-control form-control-lg">
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Trang</label>
                            <select asp-for="Trang" class="form-control form-control-lg">
                                @{
                                    var pages = Model.Pages;
                                    for (var i = 1; i <= pages; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                }
                            </select>
                        </div>*@
                </div>
            </form>

            <small><span class="badge badge-info">@Model.Records</span> được tìm thấy.</small>
            <p><small><span class="badge badge-light">Ghi chú:</span> Thời gian tính theo giờ:phút.</small></p>
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Tháng</th>
                            <th>Ngày</th>
                            <th>Ca</th>
                            <th>Công đoạn</th>
                            <th>Nội dung công đoạn</th>
                            <th>Mã công đoạn</th>
                            <th>LOT</th>
                            <th>Xe cơ giới/Máy</th>
                            <th>NVL/BTP/TP</th>
                            <th>Tên công nhân</th>
                            <th>Ca làm việc</th>
                            <th>Thời gian bắt đầu</th>
                            <th>Thời gian kết thúc</th>
                            <th>Thời gian BTTQ</th>
                            <th>Thời gian xe hư</th>
                            <th>Thời gian nghỉ</th>
                            <th>Thời gian CV khác</th>
                            <th>Thời gian làm việc</th>
                            <th>Số lượng thực hiện</th>
                            <th>Dầu</th>
                            <th>Nhớt 10</th>
                            <th>Nhớt 50</th>
                            <th>Nhớt 90</th>
                            <th>Nhớt 140</th>
                            <th>Nguyên nhân</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.FactoryVanHanhs)
                        {
                            <tr>
                                <td>
                                    <a href="/@Constants.LinkFactory.VanHanh/@Constants.LinkFactory.PhieuInCa?phieu=@item.PhieuInCa" target="_blank"><i class="fas fa-print"></i></a>
                                    <br />
                                    <a href="/@Constants.LinkFactory.VanHanh/@Constants.ActionLink.Data?Id=@item.Id"><i class="fas fa-edit"></i></a>
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.Month)</td>
                                <td>@item.Date.ToString("dd/MM/yyyy")</td>
                                <td>@item.Ca</td>
                                <td>@item.CongDoanName</td>
                                <td>@item.CongDoanNoiDung</td>
                                <td>@item.CongDoanCode</td>
                                <td>@item.LOT</td>
                                <td>@item.XeCoGioiMayName</td>
                                <td>@item.ProductName</td>
                                <td>@item.Employee</td>
                                <td>@item.CaLamViec</td>
                                <td>@item.Start.ToString(@"hh\:mm")</td>
                                <td>@item.End.ToString(@"hh\:mm")</td>
                                <td>@item.ThoiGianBTTQ.ToString(@"hh\:mm")</td>
                                <td>@item.ThoiGianXeHu.ToString(@"hh\:mm")</td>
                                <td>@item.ThoiGianNghi.ToString(@"hh\:mm")</td>
                                <td>@item.ThoiGianCVKhac.ToString(@"hh\:mm")</td>
                                <td>@item.ThoiGianLamViec.ToString(@"hh\:mm")</td>
                                <td>@String.Format("{0:#,###,###.##}", item.SoLuongThucHien)</td>
                                <td>@String.Format("{0:#,###,###.##}", item.Dau)</td>
                                <td>@String.Format("{0:#,###,###.##}", item.Nhot10)</td>
                                <td>@String.Format("{0:#,###,###.##}", item.Nhot50)</td>
                                <td>@String.Format("{0:#,###,###.##}", item.Nhot90)</td>
                                <td>@String.Format("{0:#,###,###.##}", item.Nhot140)</td>
                                <td>@Constants.Truncate(item.NguyenNhan, 100)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
@section scripts {
    <script type="text/javascript" src="~/js/factories/van-hanh.js?@Constants.VersionJs"></script>
}
