@using Common.Utilities;
@using Common.Enums;
@using ViewModels;
@model BangLuongViewModel
@{
    Layout = "~/Views/Shared/_LayoutSocialFbFS.cshtml";
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
}
<link href="~/assets/wingman/css/big-screen.css" rel="stylesheet" />
<style>
    tbody th:nth-child(3), tbody td:nth-child(3) {
        position: sticky;
        left: 0px;
    }

    tbody td:nth-child(3) {
        background-color: lightgoldenrodyellow;
    }
</style>
<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Bảng lương Nhà Máy</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.BangLuong/@Constants.ActionLink.Update">BẢNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.CongTong/@Constants.ActionLink.Update">CÔNG TỔNG & HỔ TRỢ CƠM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Timer?khoi=@EKhoiLamViec.NM">CHẤM CÔNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.Credits/@Constants.ActionLink.Update">ỨNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangLuongTrue/@Constants.LinkSalary.ThangLuong">THANG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.Setting/@Constants.ActionLink.Update">THAM SỐ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN -->
    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="real" role="tabpanel" aria-labelledby="real-tab">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-lg-3 col-md-6">
                            <a class="btn btn-lg btn-block btn-success btn-edit-real" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.BangLuong/@Constants.LinkSalary.Update" data-toggle="tooltip" title="Bấm thay đổi thang bảng lương.">
                                <i class="icon icon-edit"></i>Chỉnh sửa
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a class="btn btn-lg btn-block btn-info" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.BangLuong/@Constants.LinkSalary.Export" data-toggle="tooltip" title="Xuất ra tài liệu file excel.">
                                <i class="fas fa-download"></i> Xuất excel
                            </a>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 d-none">
                            <b>MỨC LƯƠNG TỐI THIỂU VÙNG:</b> <b>@String.Format("{0:#,###,###}", Model.SalaryMucLuongVung.ToiThieuVungQuiDinh)</b> đồng/tháng
                        </div>
                        <div class="col-12">
                            Mức lương tối thiểu mà doanh nghiệp đang áp dụng: <b>@String.Format("{0:#,###,###}", Model.SalaryMucLuongVung.ToiThieuVungDoanhNghiepApDung)</b> đồng/tháng
                        </div>
                    </div>
                    <form method="get" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.BangLuong/@Constants.ActionLink.Update" id="form-main">
                        <div class="card card-sm">
                            <div class="card-header bg-secondary d-flex justify-content-between align-items-center">
                                <div>
                                    <h6>BẢNG LƯƠNG</h6>(đvt: vnđ)
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2 text-muted text-small text-nowrap">Tháng:</span>
                                    <select asp-for="Thang" class="custom-select ddl-times">
                                        @{
                                            foreach (var item in Model.MonthYears)
                                            {
                                                <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" style="margin-top: -1.5rem;">
                            <div class="col-md-1 col-sm-6 col-xs-12">
                                <span class="badge badge-primary">Tìm kiếm:</span>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <span class="mr-2 text-muted text-small text-nowrap">Nhân viên</span>
                                <select asp-for="Id" class="custom-select ddlEmployeeId">
                                    <option value="">Tất cả</option>
                                    @foreach (var employee in Model.EmployeesDdl)
                                    {
                                        string displayTitle = string.Empty;
                                        if (!string.IsNullOrEmpty(employee.Title))
                                        {
                                            displayTitle += "[" + employee.Title + "]";
                                        }
                                        if (!string.IsNullOrEmpty(employee.Email))
                                        {
                                            displayTitle += "- " + employee.Email + "";
                                        }
                                        <option value="@employee.Id">@employee.FullName @displayTitle</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <span class="mr-2 text-muted text-small text-nowrap">Phòng ban:</span>
                                <select asp-for="Phongban" class="custom-select">
                                    <option value="">Tất cả</option>
                                    @foreach (var item in Model.Departments)
                                    {
                                        <option value="@item.Alias">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>

                    <form action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.BangLuong/@Constants.ActionLink.Update" method="post" class="data-form">
                        @{
                            <div class="row">
                                <div class="col-12 table-responsive-sm">
                                    <table class="table table-responsive-sm table-bordered table-striped table-hover floating-header">
                                        <thead style="background-color:lightgrey">
                                            <tr>
                                                <td>#</td>
                                                <td>Mã <br /><small>(Mã cũ)</small></td>
                                                <td nowrap>Họ và tên</td>
                                                <td>Chức vụ</td>
                                                <td>Ngày vào làm việc</td>
                                                <td>Số tháng thâm niên</td>
                                                <td>Hệ số thâm niên</td>
                                                <td>Ngạch lương</td>
                                                <td>Hệ số lương</td>
                                                <td>Lương CB</td>
                                                <td>Ngày công lv</td>
                                                <td>Lương định mức</td>
                                                <td>Ngày phép năm</td>
                                                <td>Giờ tăng ca</td>
                                                <td>Giờ làm việc CN</td>
                                                <td>Ngày nghỉ lễ tết</td>
                                                <td>Ngày LV lễ tết</td>
                                                <td>Thành tiền lương CB</td>
                                                <td>Lương vượt định mức</td>
                                                <td>Phụ cấp thâm niên</td>
                                                <td>Phụ cấp chuyên cần</td>
                                                <td>Phụ cấp khác</td>
                                                <td>Tổng phụ cấp</td>
                                                <td>Tổng thu nhập</td>
                                                <td>Trừ tạm ứng</td>
                                                <td>Trừ BHXH</td>
                                                <td>Lương đóng BHXH</td>
                                                <td>Thưởng Lễ</td>
                                                <td>Thực lãnh</td>
                                                <td>Tiền cơm (KD)</td>
                                                <td>Tiền cơm (SX)</td>
                                                <td>Hỗ trợ thêm</td>
                                                <td>
                                                    Thực lãnh (Tròn Số)
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody class="font-14">
                                            @{
                                                var i = 1;
                                                var iEntity = 0;
                                                foreach (var item in Model.SalaryEmployeeMonths)
                                                {
                                                    <tr>
                                                        <td>
                                                            @i
                                                        </td>
                                                        <td nowrap>
                                                            @item.MaNhanVien <small>@item.ViTriCode</small>
                                                        </td>
                                                        <td nowrap>
                                                            @item.FullName
                                                        </td>
                                                        <td>
                                                            <small class="bold">@item.ChucVu</small>
                                                        </td>
                                                        <td>
                                                            @item.ThamNienLamViec.ToString("dd/MM/yyyy")
                                                        </td>
                                                        <td>
                                                            <span class="badge badge-info">@item.ThamNienMonth</span>
                                                        </td>
                                                        <td>
                                                            @item.HeSoThamNien
                                                        </td>
                                                        <td>
                                                            @item.SalaryMaSoChucDanhCongViec
                                                        </td>
                                                        <td>
                                                            <input value="@item.Bac" name="SalaryEmployeeMonths[@iEntity].Bac" class="form-control width100 serial numeric bac-@iEntity" data-id="bac-@iEntity" />
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", Math.Round((double)item.LuongCanBan, 0))
                                                        </td>
                                                        <td>
                                                            @item.NgayCongLamViec
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.LuongDinhMuc)
                                                        </td>
                                                        <td>
                                                            @item.NgayNghiPhepNam
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.CongTangCaNgayThuongGio)
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.CongCNGio)
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.NgayNghiLeTetHuongLuong)
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.CongLeTet)
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.ThanhTienLuongCanBan)
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.LuongVuotDinhMuc)
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.ThamNien)
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.PhuCapChuyenCan)
                                                        </td>
                                                        <td>
                                                            <input value="@Math.Round(item.PhuCapKhac / 1000, 0)" name="SalaryEmployeeMonths[@iEntity].PhuCapKhac" class="form-control width100 numeric phucapkhac-@iEntity" data-id="phucapkhac-@iEntity" />
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.TongPhuCap)
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.TongThuNhap)
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.TamUng)
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.BHXHBHYT)
                                                        </td>
                                                        <td>
                                                            <input value="@Math.Round((double)item.LuongThamGiaBHXH / 1000d, 0)" name="SalaryEmployeeMonths[@iEntity].LuongThamGiaBHXH" class="form-control width100 numeric luongThamGiaBHXH-@iEntity" data-id="luongThamGiaBHXH-@iEntity" />
                                                        </td>
                                                        <td>
                                                            <input value="@(Math.Round((double)item.ThuongLeTet / 1000d, 0))" name="SalaryEmployeeMonths[@iEntity].ThuongLeTet" class="form-control width100 numeric thuongLeTet-@iEntity" data-id="thuongLeTet-@iEntity" />
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.ThucLanh)
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.ComKD)
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.ComSX)
                                                        </td>
                                                        <td>
                                                            <input value="@Math.Round(item.HoTroNgoaiLuong / 1000, 0)" name="SalaryEmployeeMonths[@iEntity].HoTroNgoaiLuong" class="form-control width100 numeric hoTroNgoaiLuong-@iEntity" data-id="hoTroNgoaiLuong-@iEntity" />
                                                        </td>
                                                        <td>
                                                            @String.Format("{0:#,###,###}", item.ThucLanhTronSo)
                                                        </td>
                                                    </tr>
                                                    i++;
                                                    iEntity++;
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/bang-luong-nha-may-update.js?@DateTime.Now.Ticks"></script>
}



