@using System;
@using System.Globalization;
@using Common.Utilities;
@using Common.Enums;
@using ViewModels;

@model BangLuongViewModel
@{
    
    CultureInfo culture = CultureInfo.CreateSpecificCulture("en-US");
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
    var thang = Model.Thang;
}
<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Bảng lương Nhà Máy</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.BangLuong">BẢNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.TheLuong">THẺ LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.CongTong">CÔNG TỔNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Timer?thang=@Model.Thang&khoi=@EKhoiLamViec.NM">CHẤM CÔNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkCredit.Main/@Constants.LinkCredit.Credits?thang=@Model.Thang&khoi=@EKhoiLamViec.NM">ỨNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangLuongTrue/@Constants.LinkSalary.ThangLuong">THANG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.Setting">THAM SỐ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN -->
    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="real" role="tabpanel" aria-labelledby="real-tab">
                <div class="container-fluid">
                    <div class="row mb-3 d-none">
                        <div class="col-lg-3 col-md-6">
                            <a class="btn btn-lg btn-block btn-success btn-edit-real" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.BangLuong/@Constants.LinkSalary.Update" data-toggle="tooltip" title="Bấm thay đổi thang bảng lương.">
                                <i class="icon icon-edit"></i>Chỉnh sửa
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a class="btn btn-lg btn-block btn-info" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.ThangLuong/@Constants.LinkSalary.Export" data-toggle="tooltip" title="Xuất ra tài liệu file excel.">
                                <i class="fas fa-download"></i> Xuất excel
                            </a>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <a class="nav-link custom-more collapsed" data-toggle="collapse" href="#uploadarea" aria-expanded="false" aria-controls="more">
                            <i class="icon icon-magnifying-glass"></i> Cập nhật dữ liệu: Ngày làm việc - tăng ca, phép năm, lễ tết, tạm ứng, thưởng, đóng bhxh, phụ cấp.
                        </a>
                    </div>
                    <div id="uploadarea" class="col-12 collapse">
                        <div class="row mb-3">
                            <div class="col-12">
                                <span>Chọn dữ liệu tháng:</span>
                                <select asp-for="Thang" id="ddlMonthImport">
                                    @{
                                        foreach (var item in Model.MonthYears)
                                        {
                                            <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                        }
                                    }
                                </select>
                                <a href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.SanXuatNgoaiGioPhuCapTemplate?thang=@thang" class="btn btn-success btn-list btn-link-tang-ca" data-toggle="tooltip" title="Bấm tải về mẫu tài liệu.">
                                    <i class="icon icon-back"></i>Tải mẫu [Tăng ca - Phụ cấp]
                                </a>
                                <a href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.SanXuatTamUngTemplate?thang=@thang" class="btn btn-success btn-list btn-link-tam-ung" data-toggle="tooltip" title="Bấm tải về mẫu tài liệu.">
                                    <i class="icon icon-back"></i>Tải mẫu [Ứng lương]
                                </a>
                                <a href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.SanXuatNgayCongThuongBHXHTemplate?thang=@thang" class="btn btn-success btn-list btn-link-thuong-bhxh" data-toggle="tooltip" title="Bấm tải về mẫu tài liệu.">
                                    <i class="icon icon-back"></i>Tải mẫu [Điều chỉnh ngày công, thưởng, đóng bhxh]
                                </a>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <form method="post" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.SanXuatTamUngPost" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="file" name="files" class="form-control fUpload" />
                                        </div>
                                        <div class="col-md-8">
                                            <input type="button" class="btn btn-danger btnUpload" value="Tải lên [Ứng lương]" />
                                            <button class="btn btn-danger btn-upload-process d-none" type="button" disabled>
                                                <i class="fas fa-spinner"></i>
                                                Đang xử lý...
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <form method="post" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.SanXuatNgayCongThuongBHXHPost" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="file" name="files" class="form-control fUpload" />
                                        </div>
                                        <div class="col-md-8">
                                            <input type="button" class="btn btn-danger btnUpload" value="Tải lên [Ngày làm việc, phép năm, lễ tết, thưởng, đóng bhxh]" />
                                            <button class="btn btn-danger btn-upload-process d-none" type="button" disabled>
                                                <i class="fas fa-spinner"></i>
                                                Đang xử lý...
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <form method="post" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.SanXuatNgoaiGioPhuCapPost" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="file" name="files" class="form-control fUpload" />
                                        </div>
                                        <div class="col-md-8">
                                            <input type="button" class="btn btn-danger btnUpload" value="Tải lên [Tăng ca - Phụ cấp]" />
                                            <button class="btn btn-danger btn-upload-process d-none" type="button" disabled>
                                                <i class="fas fa-spinner"></i>
                                                Đang xử lý...
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>



                    <form method="get" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.BangLuong" id="form-main">
                        <div class="card card-sm">
                            <div class="card-header bg-secondary d-flex justify-content-between align-items-center">
                                <div>
                                    <h6>BẢNG LƯƠNG</h6>(đvt: vnđ)
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2 text-muted text-small text-nowrap">Tháng:</span>
                                    <select asp-for="Thang" class="custom-select ddl-times">
                                        @{
                                            foreach (var item in Model.MonthYears)
                                            {
                                                <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" style="margin-top: -1.5rem;">
                            <div class="col-md-1 col-sm-6 col-xs-12">
                                <span class="badge badge-primary">Tìm kiếm:</span>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <span class="mr-2 text-muted text-small text-nowrap">Nhân viên</span>
                                <select asp-for="Id" class="custom-select ddlEmployeeId">
                                    <option value="">Tất cả</option>
                                    @foreach (var employee in Model.Employees)
                                    {
                                        string displayTitle = string.Empty;
                                        if (!string.IsNullOrEmpty(employee.Email))
                                        {
                                            displayTitle += "- " + employee.Email + "";
                                        }
                                        <option value="@employee.Id">@employee.FullName @displayTitle</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        @{
                            <div class="col-12 table-responsive-sm">
                                <table class="table table-responsive-sm table-bordered table-striped table-hover floating-header">
                                    <thead style="background-color:lightgrey">
                                        <tr>
                                            <td>#</td>
                                            <td>Mã <br /><small>(Mã cũ)</small></td>
                                            <td nowrap>Họ và tên</td>
                                            <td>Chức vụ</td>
                                            <td>Phòng ban</td>
                                            <td>Ngày vào làm việc</td>
                                            <td>Số tháng thâm niên</td>
                                            <td>Hệ số thâm niên</td>
                                            <td>Ngạch lương</td>
                                            <td>Hệ số lương</td>
                                            <td>Lương CB</td>
                                            <td>Ngày công lv</td>
                                            <td>Lương định mức</td>
                                            <td>Ngày phép năm</td>
                                            <td>Giờ tăng ca</td>
                                            <td>Giờ làm việc CN</td>
                                            <td>Ngày nghỉ lễ tết</td>
                                            <td>Ngày LV lễ tết</td>
                                            <td>Thành tiền lương CB</td>
                                            <td>Lương vượt định mức</td>
                                            <td>Phụ cấp thâm niên</td>
                                            <td>Phụ cấp chuyên cần</td>
                                            <td>Phụ cấp khác</td>
                                            <td>Tổng phụ cấp</td>
                                            <td>Tổng thu nhập</td>
                                            <td>Trừ tạm ứng</td>
                                            <td>Trừ BHXH</td>
                                            <td>Lương đóng BHXH</td>
                                            <td>Thưởng Lễ</td>
                                            <td>Thực lãnh</td>
                                            <td>Tiền cơm (KD)</td>
                                            <td>Tiền cơm (SX)</td>
                                            <td>Hỗ trợ thêm</td>
                                            <td>Thực lãnh (Tròn Số)</td>
                                        </tr>
                                    </thead>
                                    <tbody class="font-14">
                                        @{
                                            var i = 1;
                                            foreach (var item in Model.SalaryEmployeeMonths)
                                            {
                                                <tr>
                                                    <td>
                                                        @i
                                                    </td>
                                                    <td nowrap>
                                                        @item.EmployeeCode
                                                    </td>
                                                    <td nowrap>
                                                        @item.EmployeeFullName
                                                    </td>
                                                    <td>
                                                        <small class="bold">@item.ChucVuName</small>
                                                    </td>
                                                    <td>
                                                        <small class="bold">@item.PhongBanName</small>
                                                    </td>
                                                    <td>
                                                        @item.JoinDate.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-info">@item.ThamNienMonth</span>
                                                    </td>
                                                    <td>
                                                        @item.HeSoThamNien
                                                    </td>
                                                    <td>
                                                        @item.NgachLuongCode
                                                    </td>
                                                    <td>
                                                        @item.NgachLuongLevel
                                                    </td>
                                                    <td>
                                                        @item.LuongCanBan.ToString("N0", culture)
                                                    </td>
                                                    <td>
                                                        @item.NgayCongLamViec
                                                    </td>
                                                    <td>
                                                        @item.LuongDinhMuc.ToString("N0", culture)
                                                    </td>
                                                    <td>
                                                        @item.NgayNghiPhepNam
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.CongTangCaNgayThuongGio)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.CongCNGio)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.NgayNghiLeTetHuongLuong)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.CongLeTet)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.ThanhTienLuongCanBan)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.LuongVuotDinhMuc)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.ThamNien)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.PhuCapChuyenCan)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.PhuCapKhac)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.TongPhuCap)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.TongThuNhap)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.TamUng)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.BHXHBHYT)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.LuongThamGiaBHXH)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.ThuongLeTet)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.ThucLanh)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.ComKD)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.ComSX)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.HoTroNgoaiLuong)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.ThucLanhTronSo)
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/bang-luong-nha-may.js?@Constants.VersionJs"></script>
}



