@using Common.Utilities;
@using Common.Enums;
@using ViewModels;
@model BangLuongViewModel
@{
    Layout = "~/Views/Shared/_LayoutSocialFbFS.cshtml";
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
}
<link href="~/assets/wingman/css/big-screen.css" rel="stylesheet" />
<style>
    .employeekpi tbody th:nth-child(3), .employeekpi tbody td:nth-child(3) {
        position: sticky;
        left: 0px;
    }

    .employeekpi tbody td:nth-child(3) {
        background-color: lightgoldenrodyellow;
    }

    .kpi tbody th:nth-child(2), .kpi tbody td:nth-child(2) {
        position: sticky;
        left: 0px;
    }

    .kpi tbody td:nth-child(2) {
        background-color: lightgoldenrodyellow;
    }
</style>

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Công tổng</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.CongTong">CÔNG TỔNG & HỔ TRỢ CƠM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.BangLuong">BẢNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Timer?khoi=@ESalaryType.NM">CHẤM CÔNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.Credits">ỨNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangLuongTrue/@Constants.LinkSalary.ThangLuong">THANG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.Setting">THAM SỐ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="sale" role="tabpanel" aria-labelledby="sale-tab">
                <div class="container">
                    <div class="card card-sm">
                        <div class="card-header bg-secondary d-flex justify-content-between align-items-center">
                            <div>
                                <h6>Công tổng</h6>(ĐVT: đồng)
                            </div>
                            <form class="d-flex align-items-center" method="get" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.CongTong" id="form-main">
                                <span class="mr-2 text-muted text-small text-nowrap">Tháng:</span>
                                <select asp-for="thang" class="custom-select ddl-times">
                                    @{
                                        foreach (var item in Model.MonthYears)
                                        {
                                            <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                        }
                                    }
                                </select>
                            </form>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-lg-3 col-md-6">
                            <a class="btn btn-lg btn-block btn-success btn-edit-real" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.CongTong/@Constants.LinkSalary.Update" data-toggle="tooltip" title="Bấm thay đổi dữ liệu.">
                                <i class="icon icon-edit"></i>Chỉnh sửa
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a class="btn btn-lg btn-block btn-info" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.CongTong/@Constants.LinkSalary.Export" data-toggle="tooltip" title="Xuất ra tài liệu file excel.">
                                <i class="fas fa-download"></i> Xuất excel
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 table-responsive-sm">
                            <table class="table table-responsive-sm table-bordered table-striped table-hover floating-header employeekpi">
                                <thead style="background-color:lightgrey">
                                    <tr>
                                        <td>#</td>
                                        <td>Mã nhân viên</td>
                                        <td>Họ tên</td>
                                        <td>Chức vụ</td>
                                        <td>Công tổng</td>
                                        <td>Cơm SX</td>
                                        <td>Cơm KD</td>
                                        <td>Giờ tăng ca</td>
                                        <td>Giờ làm việc CN</td>
                                        <td>Giờ làm việc Lễ/Tết</td>
                                    </tr>
                                </thead>

                                <tbody>
                                    @{
                                        int i = 1;
                                        foreach (var item in Model.SalaryNhaMayCongs)
                                        {
                                    <tr class="tr-@item.Id" data-id="@item.Id">
                                        <td>
                                            @i
                                        </td>
                                        <td>@item.EmployeeCode</td>
                                        <td nowrap>@item.EmployeeName</td>
                                        <td nowrap>@item.EmployeeChucVu</td>
                                        <td>
                                            @String.Format("{0:#,###,###}", item.CongTong)
                                        </td>
                                        <td>
                                            @String.Format("{0:#,###,###}", item.ComSX)
                                        </td>
                                        <td>
                                            @String.Format("{0:#,###,###}", item.ComKD)
                                        </td>
                                        <td>
                                            @String.Format("{0:#,###,###}", item.GioTangCa)
                                        </td>
                                        <td>
                                            @String.Format("{0:#,###,###}", item.GioLamViecCN)
                                        </td>
                                        <td>
                                            @String.Format("{0:#,###,###}", item.GioLamViecLeTet)
                                        </td>
                                    </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/salary-nha-may-cong-tong.js?@DateTime.Now.Ticks"></script>
}



