@using Helpers;
@{
    var language = ViewData["Language"].ToString();
}
<!DOCTYPE html>
<html dir="ltr" lang="@ViewBag.LanguageHtmlTag">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="@Html.Raw(ViewBag.Robots)" />
    @*<meta name="spm-id" content="a2o4n.home">*@
    <meta name="keywords" content="@Html.Raw(ViewBag.KeyWords)">
    <meta name="description" content="@Html.Raw(ViewBag.Description)">
    <meta name="author" content="@Html.Raw(ViewBag.MetaAuthor)">

    <meta property="og:url" content="@Html.Raw(ViewBag.OgUrl)" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="@Html.Raw(ViewBag.OgTitle)" />
    <meta property="og:description" content="@Html.Raw(ViewBag.OgDescription)" />
    @*<meta property="og:image" content="//laz-img-cdn.alicdn.com/tfs/TB15BYfh4rI8KJjy0FpXXb5hVXa-200-200.png">*@

    <title>@Html.Raw(ViewBag.Title)</title>

    <link rel="canonical" href="@Html.Raw(ViewBag.Canonical)" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css" />
    <link href="~/lib/bootstrap-4.0.0-dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/canvas/css/style.css" rel="stylesheet" />
    <link href="~/lib/swiper/css/swiper.css" rel="stylesheet" />
    <link href="~/assets/canvas/css/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/fontawesome/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="css/font-icons.css" type="text/css" />*@
    <link href="~/lib/animate/animate.css" rel="stylesheet" />
    <link href="~/lib/magnific-popup/magnific-popup.css" rel="stylesheet" />
    <link href="~/assets/canvas/css/responsive.css" rel="stylesheet" type="text/css" />

</head>
<body class="stretched">

    @if (ViewData["Disable"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["Disable"]
        </div>
    }

        <div id="wrapper" class="clearfix">
            @RenderBody()
        </div>
        



        <div id="gotoTop" class="icon-angle-up"></div>


        <script src="/assets/canvas/js/email-decode.min.js"></script>
        <script src="/assets/canvas/js/jquery.js"></script>

        <script src="/assets/canvas/js/plugins.js"></script>
        <script src="/assets/canvas/js/function.js"></script>



        <!--Multilanguage-->
        <script type="text/javascript">

            $('.btn-language').on('click', function () {
                var language = $(this).attr("data-value");
                var url = $('.' + language, $('.link-languages')).data('value');
                console.log(url);
                $.ajax({
                    url: '/language/change/',
                    data: { language: language },
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {
                        if (data == true) {
                            //window.location.reload();
                            console.log(url);
                            if (typeof url !== "undefined") {
                                window.location.replace(url);
                            }
                            else {
                                window.location.reload();
                            }
                        }
                    }
                });
            });
        </script>

        <!--Start of Tawk.to Script-->
        <script type="text/javascript">
            var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
            (function () {
                var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
                s1.async = true;
                s1.src = 'https://embed.tawk.to/5adae73a227d3d7edc242b43/default';
                s1.charset = 'UTF-8';
                s1.setAttribute('crossorigin', '*');
                s0.parentNode.insertBefore(s1, s0);
            })();
        </script>
        <!--End of Tawk.to Script-->
</body>
</html>