@using Helpers;
@{
    var language = "en";
}

<!doctype html>
<html lang="@language">

<head>
    <meta charset="utf-8">
    <meta name="keywords" content="@Html.Raw(ViewBag.KeyWords)">
    <meta name="description" content="@Html.Raw(ViewBag.Description)">
    <meta name="author" content="@Html.Raw(ViewBag.MetaAuthor)">

    <meta property="og:url" content="@Html.Raw(ViewBag.OgUrl)" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="@Html.Raw(ViewBag.OgTitle)" />
    <meta property="og:description" content="@Html.Raw(ViewBag.OgDescription)" />

    <title>@Html.Raw(ViewBag.Title)</title>

    <link rel="canonical" href="@Html.Raw(ViewBag.Canonical)" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
    <link href="~/lib/fontawesome/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/assets/wingman/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/lib/entypo-master/font/entypo.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/assets/wingman/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/assets/wingman/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/assets/wingman/css/screen.css" rel="stylesheet" type="text/css" media="all" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>

<body>

    @RenderBody()

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
    <script type="text/javascript" src="~/assets/wingman/js/jquery.smartWizard.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.0.10/flickity.pkgd.min.js"></script>
    <script type="text/javascript" src="~/assets/wingman/js/scrollMonitor.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.polyfills.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/prism.min.js"></script>
    <script type="text/javascript" src="~/assets/wingman/js/zoom.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/wingman/js/theme.js"></script>
    <script type="text/javascript" src="~/lib/autosize/jquery.textarea_autosize.js"></script>
    <script type="text/javascript" src="~/lib/js-render/jsrender.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
</body>
</html>