@using Common.Utilities;
@using Common.Enums;
@using ViewModels;
@model BangLuongViewModel
@{
    Layout = "~/Views/Shared/_LayoutSocialFbFS.cshtml";
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
    var displayLaw = string.Empty;
    var rightLuongVanPhong = false;
    var rightLuongNhaMay = false;
    var rightLuongSanXuat = false;
    if (!string.IsNullOrEmpty(login))
    {
        rightLuongVanPhong = Utility.IsRight(login, Constants.Rights.LuongVP, (int)ERights.View);
        rightLuongNhaMay = Utility.IsRight(login, Constants.Rights.LuongNM, (int)ERights.View);
        rightLuongSanXuat = Utility.IsRight(login, Constants.Rights.LuongSX, (int)ERights.View);
    }
    @if (rightLuongVanPhong || rightLuongNhaMay || rightLuongSanXuat)
    {
        displayLaw = "BHXH";
    }
}
<link href="~/assets/wingman/css/big-screen.css" rel="stylesheet" />

<style>
    tbody th:nth-child(2), tbody td:nth-child(2) {
        position: sticky;
        left: 0px;
    }

    tbody td:nth-child(2) {
        background-color: lightgoldenrodyellow;
    }
</style>

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Bảng lương</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangLuong">THANG LƯƠNG @displayLaw</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.BangLuong">BẢNG LƯƠNG @displayLaw</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN -->
    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="law" role="tabpanel" aria-labelledby="law-tab">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-12">
                            <a class="btn btn-info d-none" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangLuong/@Constants.LinkSalary.Export" data-toggle="tooltip" title="Xuất ra tài liệu file excel.">
                                <i class="fas fa-download"></i> Xuất excel
                            </a>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <b>MỨC LƯƠNG TỐI THIỂU VÙNG:</b> <b>@String.Format("{0:#,###,###}", Math.Round((double)Model.SalaryMucLuongVung.ToiThieuVungQuiDinh / 1000d, 0))</b> đồng/tháng
                        </div>
                        <div class="col-12">
                            Mức lương tối thiểu mà doanh nghiệp đang áp dụng: <b>@String.Format("{0:#,###,###}", Math.Round((double)Model.SalaryMucLuongVung.ToiThieuVungDoanhNghiepApDung / 1000d, 0))</b> đồng/tháng
                        </div>
                    </div>

                    <div class="card card-sm">
                        <div class="card-header bg-secondary d-flex justify-content-between align-items-center">
                            <div>
                                <h6>BẢNG LƯƠNG</h6>(ĐVT: đồng)
                            </div>
                            <form class="d-flex align-items-center" method="get" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.BangLuong" id="form-main">
                                <span class="mr-2 text-muted text-small text-nowrap">Tháng:</span>
                                <select asp-for="Thang" class="custom-select ddl-times">
                                    @{
                                        foreach (var item in Model.MonthYears)
                                        {
                                            <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                        }
                                    }
                                </select>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        @{
                            <div class="col-12 table-responsive-sm">
                                <table class="table table-responsive-sm table-bordered table-striped table-hover floating-header">
                                    <thead style="background-color:lightgrey">
                                        <tr>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>#</th>
                                            <th rowspan="2" style="vertical-align:middle;text-align:center;font-weight:bold" nowrap>Họ và tên</th>
                                            <th rowspan="2" style="vertical-align:middle;text-align:center;font-weight:bold" nowrap>Chức vụ</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">Ngày vào</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>Bậc</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>Lương CB</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">BHXH BHYT</th>
                                            <td colspan="4" style="vertical-align:middle;font-weight:bold" nowrap>PHỤ CẤP (P2)</td>
                                            <td colspan="8" style="vertical-align:middle;font-weight:bold" nowrap>PHÚC LỢI KHÁC (P2)</td>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">Lương cơ bản (tháng) bao gồm phụ cấp</div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>
                                                <div class="rotate">
                                                    Ngày công làm việc
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>
                                                <div class="rotate">
                                                    Ngày nghỉ phép hưởng lương
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>
                                                <div class="rotate">
                                                    Ngày nghỉ Lễ Tết hưởng lương
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>
                                                <div class="rotate">
                                                    Công CN (giờ)
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>
                                                <div class="rotate">
                                                    Công tăng ca ngày thường (giờ)
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>
                                                <div class="rotate">
                                                    Công lễ tết
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">Tổng thu nhập</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">Tạm ứng</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">Thực lãnh</th>
                                        </tr>
                                        <tr>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">
                                                    NẶNG NHỌC ĐỘC HẠI
                                                </div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">TRÁCH NHIỆM</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">THÂM NIÊN</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">THU HÚT</div>
                                            </td>

                                            <td style="text-align:center; color:red">
                                                <div class="rotate">XĂNG</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">ĐIỆN THOẠI</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">CƠM</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">NHÀ Ở</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">Kiêm nhiệm</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">BHYT ĐẶC BIỆT</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">VỊ TRÍ CẦN KN NHIỀU NĂM</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">Vị trí đặc thù</div>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody class="font-14">
                                        @{
                                            var i = 1;
                                            var groupLocation = (from s in Model.SalaryEmployeeMonths.Where(m => !m.NoiLamViecOrder.Equals(0))
                                                                 group s by new
                                                                 {
                                                                     s.NoiLamViecOrder,
                                                                     s.NoiLamViec
                                                                 }
                                                                            into l
                                                                 select new
                                                                 {
                                                                     NoiLamViecOrder = l.Key.NoiLamViecOrder,
                                                                     NoiLamViec = l.Key.NoiLamViec,
                                                                     salaries = l.ToList(),
                                                                 }).ToList();

                                            var locations = groupLocation.OrderBy(m => m.NoiLamViecOrder).ToList();
                                            foreach (var location in locations)
                                            {
                                                <tr>
                                                    <td style="background-color:red"></td>
                                                    <td colspan="40" style="background-color:red">
                                                        @location.salaries[0].NoiLamViec
                                                    </td>
                                                </tr>
                                                var locationSalaries = location.salaries;

                                                var groupDepartment = (from a in locationSalaries
                                                                       group a by new
                                                                       {
                                                                           a.PhongBan,
                                                                           a.PhongBanOrder
                                                                       }
                                                            into b
                                                                       select new
                                                                       {
                                                                           PhongBan = b.Key.PhongBan,
                                                                           PhongBanOrder = b.Key.PhongBanOrder,
                                                                           salaries = b.ToList(),
                                                                       }).ToList();
                                                var departments = groupDepartment.OrderBy(m => m.PhongBanOrder);

                                                foreach (var department in departments)
                                                {
                                                    <tr><td colspan="2" style="background-color:forestgreen"></td><td colspan="39" style="background-color:forestgreen">@department.PhongBan</td></tr>
                                                    foreach (var item in department.salaries)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td nowrap>
                                                                @item.FullName
                                                            </td>
                                                            <td nowrap>
                                                                @item.ChucVu
                                                            </td>
                                                            <td>
                                                                @item.ThamNienLamViec.ToString("dd/MM/yyyy")
                                                            </td>
                                                            <td>
                                                                @item.Bac
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.LuongCanBan / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.BHXHBHYT / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.NangNhocDocHai / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.TrachNhiem / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.ThamNien / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.ThuHut / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.Xang / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.DienThoai / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.Com / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.NhaO / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.KiemNhiem / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.BhytDacBiet / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.ViTriCanKnNhieuNam / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.ViTriDacThu / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.LuongCoBanBaoGomPhuCap / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.NgayCongLamViec)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.NgayNghiPhepHuongLuong)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.NgayNghiLeTetHuongLuong)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.CongCNGio)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.CongTangCaNgayThuongGio)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.CongLeTet)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.TongThuNhap / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.TamUng / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.ThucLanh / 1000d, 0))
                                                            </td>
                                                        </tr>
                                                        i++;
                                                    }
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
                
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/bang-luong.js?@DateTime.Now.Ticks"></script>
}



