@using Common.Utilities;
@using ViewModels;
@model BangLuongViewModel
@{
    Layout = "~/Views/Shared/_LayoutSocialFbFS.cshtml";
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
}
<link href="~/assets/wingman/css/big-screen.css" rel="stylesheet" />
<style>
    th:nth-child(3), td:nth-child(3) {
        position: sticky;
        left: 0px;
    }

    td:nth-child(3) {
        background-color: lightgoldenrodyellow;
    }
</style>
<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Bảng lương áp dụng</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.ThangBangLuong">THANG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.BangLuong">BẢNG LƯƠNG</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN -->
    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="real" role="tabpanel" aria-labelledby="real-tab">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-lg-3 col-md-6">
                            <a class="btn btn-lg btn-block btn-success btn-edit-real" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.BangLuong/@Constants.LinkSalary.Update" data-toggle="tooltip" title="Bấm thay đổi thang bảng lương.">
                                <i class="icon icon-edit"></i>Chỉnh sửa
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a class="btn btn-lg btn-block btn-info" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.ThangBangLuong/@Constants.LinkSalary.Export" data-toggle="tooltip" title="Xuất ra tài liệu file excel.">
                                <i class="fas fa-download"></i> Xuất excel
                            </a>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 d-none">
                            <b>MỨC LƯƠNG TỐI THIỂU VÙNG:</b> <b>@String.Format("{0:#,###,###}", Math.Round((double)Model.SalaryMucLuongVung.ToiThieuVungQuiDinh / 1000d, 0))</b> đồng/tháng
                        </div>
                        <div class="col-12">
                            Mức lương tối thiểu mà doanh nghiệp đang áp dụng: <b>@String.Format("{0:#,###,###}", Math.Round((double)Model.SalaryMucLuongVung.ToiThieuVungDoanhNghiepApDung / 1000d, 0))</b> đồng/tháng
                        </div>
                    </div>
                    <div class="card card-sm">
                        <div class="card-header bg-secondary d-flex justify-content-between align-items-center">
                            <div>
                                <h6>BẢNG LƯƠNG</h6>(ĐVT: 1,000 đồng)
                            </div>
                            <form class="d-flex align-items-center" method="get" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.BangLuong" id="form-main">
                                <span class="mr-2 text-muted text-small text-nowrap">Tháng:</span>
                                <select asp-for="thang" class="custom-select ddl-times">
                                    @{
                                        foreach (var item in Model.MonthYears)
                                        {
                                            <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                        }
                                    }
                                </select>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        @{
                            <div class="col-12 table-responsive-sm">
                                <table class="table table-responsive-sm table-bordered table-striped table-hover floating-header">
                                    <thead>
                                        <tr style="background-color:white" class="header">
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>STT</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>Mã</th>
                                            <th rowspan="2" style="vertical-align:middle;text-align:center;font-weight:bold" nowrap>Họ và tên</th>
                                            <th rowspan="2" style="vertical-align:middle;text-align:center;font-weight:bold" nowrap>Chức vụ</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">Thâm niên làm việc</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>Bậc</th>
                                            <td colspan="3" style="background-color:yellow;text-align:center;font-weight:bold">Thâm niên</td>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>Lương CB</th>
                                            <td colspan="4" style="vertical-align:middle;font-weight:bold" nowrap>PHỤ CẤP (P2)</td>
                                            <td colspan="7" style="vertical-align:middle;font-weight:bold" nowrap>PHÚC LỢI KHÁC (P2)</td>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">Lương cơ bản (tháng) bao gồm phụ cấp</div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Ngày công làm việc
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Phút công làm việc
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Ngày nghỉ phép hưởng lương
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Ngày nghỉ Lễ Tết hưởng lương
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Công CN (giờ)
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Công CN (phút)
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Công tăng ca ngày thường (giờ)
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Công tăng ca ngày thường (phút)
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Công lễ tết
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Công lễ tết (phút)
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Công tác xa
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Mức đạt trong tháng
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Lương theo doanh thu doanh số
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Tổng bùn bốc
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Thành tiền bốc bùn
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Lương khác
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Thi đua
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">
                                                <div class="rotate">
                                                    Hỗ trợ ngoài lương
                                                </div>
                                            </th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">Tổng thu nhập</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">Tổng thu nhập (phút)</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">BHXH BHYT</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">Lương tham gia BHXH</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">Tạm ứng</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">Thưởng Lễ Tết</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">Thực lãnh</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold">Thực lãnh (phút)</th>
                                        </tr>
                                        <tr style="background-color:white!important">
                                            <td style="background-color:yellow;text-align:center; color:red">Năm</td>
                                            <td style="background-color:yellow;text-align:center; color:red">Tháng</td>
                                            <td style="background-color:yellow;text-align:center; color:red">Ngày</td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">
                                                    NẶNG NHỌC ĐỘC HẠI
                                                </div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">TRÁCH NHIỆM</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">THÂM NIÊN</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">THU HÚT</div>
                                            </td>

                                            <td style="text-align:center; color:red">
                                                <div class="rotate">XĂNG</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">ĐIỆN THOẠI</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">CƠM</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">Kiêm nhiệm</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">BHYT ĐẶC BIỆT</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">VỊ TRÍ CẦN KN NHIỀU NĂM</div>
                                            </td>
                                            <td style="text-align:center; color:red">
                                                <div class="rotate">Vị trí đặc thù</div>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody class="font-14">
                                        @{
                                            var i = 1;
                                            var groupLocation = (from s in Model.SalaryEmployeeMonths.Where(m => !m.NoiLamViecOrder.Equals(0))
                                                                 group s by new
                                                                 {
                                                                     s.NoiLamViecOrder,
                                                                     s.NoiLamViec
                                                                 }
                                                                            into l
                                                                 select new
                                                                 {
                                                                     NoiLamViecOrder = l.Key.NoiLamViecOrder,
                                                                     NoiLamViec = l.Key.NoiLamViec,
                                                                     salaries = l.ToList(),
                                                                 }).ToList();

                                            var locations = groupLocation.OrderBy(m => m.NoiLamViecOrder).ToList();
                                            foreach (var location in locations)
                                            {
                                                <tr>
                                                    <td style="background-color:red"></td>
                                                    <td colspan="47" style="background-color:red">
                                                        @location.salaries[0].NoiLamViec
                                                    </td>
                                                </tr>
                                                var locationSalaries = location.salaries;

                                                var groupDepartment = (from a in locationSalaries
                                                                       group a by new
                                                                       {
                                                                           a.PhongBan,
                                                                           a.PhongBanOrder
                                                                       }
                                                            into b
                                                                       select new
                                                                       {
                                                                           PhongBan = b.Key.PhongBan,
                                                                           PhongBanOrder = b.Key.PhongBanOrder,
                                                                           salaries = b.ToList(),
                                                                       }).ToList();
                                                var departments = groupDepartment.OrderBy(m => m.PhongBanOrder);

                                                foreach (var department in departments)
                                                {
                                                    <tr><td colspan="2" style="background-color:forestgreen"></td><td colspan="46" style="background-color:forestgreen">@department.PhongBan</td></tr>
                                                    foreach (var item in department.salaries)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td>
                                                                @item.MaNhanVien <small>@item.ViTriCode</small>
                                                            </td>
                                                            <td nowrap>
                                                                @item.FullName
                                                            </td>
                                                            <td nowrap>
                                                                <small class="bold">@item.ChucVu</small>
                                                            </td>
                                                            <td>
                                                                @item.ThamNienLamViec.ToString("dd/MM/yyyy")
                                                            </td>
                                                            <td>
                                                                @item.Bac
                                                            </td>
                                                            <td>
                                                                @item.ThamNienYear
                                                            </td>
                                                            <td>
                                                                @item.ThamNienMonth
                                                            </td>
                                                            <td>
                                                                @item.ThamNienDay
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.LuongCanBan / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.NangNhocDocHai / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.TrachNhiem / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.ThamNien / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.ThuHut / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.Xang / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.DienThoai / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.Com / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.KiemNhiem / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.BhytDacBiet / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.ViTriCanKnNhieuNam / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.ViTriDacThu / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.LuongCoBanBaoGomPhuCap / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.NgayCongLamViec)
                                                            </td>
                                                            <td>
                                                                @{
                                                                    if (item.PhutCongLamViec > 0)
                                                                    {
                                                                        <span>@String.Format("{0:#,###,###}", item.PhutCongLamViec)</span>
                                                                        @*var miss = item.MauSo * 8 * 60 - item.PhutCongLamViec;
                                                            if (miss > 0)
                                                            {
                                                            <small>Thiếu: @String.Format("{0:#,###,###}", miss) phút</small>
                                                            }*@
                                                                    }
                                                                    else
                                                                    {
                                                                        <span>--</span>
                                                                    }
                                                                }
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.NgayNghiPhepHuongLuong)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.NgayNghiLeTetHuongLuong)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.CongCNGio)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.CongCNPhut)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.CongTangCaNgayThuongGio)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.CongTangCaNgayThuongPhut)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.CongLeTet)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.CongLeTetPhut)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.CongTacXa)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.MucDatTrongThang)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.LuongTheoDoanhThuDoanhSo)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.TongBunBoc)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.ThanhTienBunBoc)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.LuongKhac)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.ThiDua)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", item.HoTroNgoaiLuong)
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.TongThuNhap / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.TongThuNhapMinute / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.BHXHBHYT / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.LuongThamGiaBHXH / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.TamUng / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.ThuongLeTet / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.ThucLanh / 1000d, 0))
                                                            </td>
                                                            <td>
                                                                @String.Format("{0:#,###,###}", Math.Round((double)item.ThucLanhMinute / 1000d, 0))
                                                            </td>
                                                        </tr>
                                                        i++;
                                                    }
                                                }
                                            }
                                            //foreach (var item in Model.SalaryEmployeeMonths)
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/bang-luong.js?@DateTime.Now.Ticks"></script>
}



