@using Common.Utilities;
@using Common.Enums;
@using ViewModels;
@model BangLuongViewModel
@{
    Layout = "~/Views/Shared/_LayoutSocialFbFS.cshtml";
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
}
<input type="hidden" id="hidCalculatorLuong" value="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.BangLuong/@Constants.LinkSalary.Calculator" />
<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Bảng lương văn phòng</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.ThangLuong/@Constants.ActionLink.Update">THANG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.BangLuong/@Constants.ActionLink.Update">BẢNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Timer?khoi=@EKhoiLamViec.VP">CHẤM CÔNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.LogisticCong">LOGISTICS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.SaleKPIEmployee">SALES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkCredit.Main/@Constants.LinkCredit.Credits?thang=@Model.Thang&khoi=@EKhoiLamViec.VP">VAY & TẠM ỨNG</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN -->
    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="real" role="tabpanel" aria-labelledby="real-tab">
                <div class="container">
                    <form action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.BangLuong/@Constants.LinkSalary.Update" method="post" class="data-form">
                        <input type="hidden" asp-for="Salary.Id" />
                        <div class="row mb-4">
                            <div class="col">
                                <h5>
                                    Cập nhật lương
                                    <b>@Model.Salary.EmployeeFullName</b>
                                    <code>@Model.Salary.EmployeeCode</code>
                                    <span class="badge badge-info">@Model.Salary.ChucVuName</span>
                                </h5>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="col-sm-2 col-form-label">Thâm niên làm việc</label>
                            <div class="col-sm-10 form-control-plaintext">
                                @Model.Salary.JoinDate.ToString("dd/MM/yyyy")
                                (<code>@Model.Salary.ThamNienYear</code> năm
                                - <code>@Model.Salary.ThamNienMonth</code> tháng
                                - <code>@Model.Salary.ThamNienDay</code> ngày)
                            </div>
                        </div>
                        <div class="row mb-4">
                            <label class="col-sm-1 col-form-label">Bậc</label>
                            <div class="col-sm-1">
                                <select class="form-control" asp-for="Salary.NgachLuongLevel">
                                    @for (int i = 1; i <= 10; i++)
                                    {
                                        <option value="@i">@i</option>
                                    }
                                </select>
                            </div>
                            <label class="col-sm-1 col-form-label">Lương CB</label>
                            <div class="col-sm-2">
                                <input type="text" readonly class="form-control-plaintext" asp-for="Salary.LuongCanBan" />
                            </div>
                        </div>
                        <div class="row mb-4">
                            <p class="col-12"><b>PHỤ CẤP(P2)</b></p>
                            <label class="col-sm-1 col-form-label">NẶNG NHỌC ĐỘC HẠI</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" asp-for="Salary.NangNhocDocHai" />
                            </div>
                            <label class="col-sm-1 col-form-label">TRÁCH NHIỆM</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" asp-for="Salary.TrachNhiem" />
                            </div>
                            <label class="col-sm-1 col-form-label">THÂM NIÊN</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" asp-for="Salary.ThamNien" />
                            </div>
                            <label class="col-sm-1 col-form-label">THU HÚT</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" asp-for="Salary.ThuHut" />
                            </div>
                        </div>
                        <div class="row mb-4">
                            <p class="col-12"><b>PHÚC LỢI KHÁC</b></p>
                            <label class="col-sm-1 col-form-label">XĂNG</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" asp-for="Salary.Xang" />
                            </div>
                            <label class="col-sm-1 col-form-label">ĐIỆN THOẠI</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" asp-for="Salary.DienThoai" />
                            </div>
                            <label class="col-sm-1 col-form-label">CƠM</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" asp-for="Salary.Com" />
                            </div>
                            <label class="col-sm-1 col-form-label">KIÊM NHIỆM</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" asp-for="Salary.KiemNhiem" />
                            </div>
                            <label class="col-sm-1 col-form-label">BHYT ĐẶC BIỆT</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" asp-for="Salary.BhytDacBiet" />
                            </div>
                            <label class="col-sm-1 col-form-label">VỊ TRÍ CẦN KN NHIỀU NĂM</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" asp-for="Salary.ViTriCanKnNhieuNam" />
                            </div>
                            <label class="col-sm-1 col-form-label">Vị trí đặc thù</label>
                            <div class="col-sm-1">
                                <input type="text" class="form-control" asp-for="Salary.ViTriDacThu" />
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <button class="btn btn-info btn-list d-none" data-toggle="tooltip" title="Bấm trở về thang bảng lương.">
                                    <i class="icon icon-back"></i>Trở về
                                </button>
                                <button type="submit" class="btn btn-danger btnSubmitThangBangLuongReal" data-toggle="tooltip" title="Bấm cập nhật thang lương."><i class="icon-save"></i>&nbsp;Cập nhật</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/salaries/vp-update.js?@Constants.VersionJs"></script>
}



