@using Common.Utilities;
@using Common.Enums;
@using ViewModels;
@model BangLuongViewModel
@{
    
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;

    var priceHOCHIMINHN = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("HOCHIMINH") && m.LoaiXeCode.Equals("XN"));
    var priceHOCHIMINHL = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("HOCHIMINH") && m.LoaiXeCode.Equals("XL"));
    var priceBINHDUONGN = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("BINHDUONG") && m.LoaiXeCode.Equals("XN"));
    var priceBINHDUONGL = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("BINHDUONG") && m.LoaiXeCode.Equals("XL"));
    var priceBIENHOAN = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("BIENHOA") && m.LoaiXeCode.Equals("XN"));
    var priceBIENHOAL = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("BIENHOA") && m.LoaiXeCode.Equals("XL"));
    var priceVUNGTAUN = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("VUNGTAU") && m.LoaiXeCode.Equals("XN"));
    var priceVUNGTAUL = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("VUNGTAU") && m.LoaiXeCode.Equals("XL"));
    var priceBINHTHUANN = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("BINHTHUAN") && m.LoaiXeCode.Equals("XN"));
    var priceBINHTHUANL = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("BINHTHUAN") && m.LoaiXeCode.Equals("XL"));
    var priceCANTHON = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("CANTHO") && m.LoaiXeCode.Equals("XN"));
    var priceCANTHOL = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("CANTHO") && m.LoaiXeCode.Equals("XL"));
    var priceVINHLONGN = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("VINHLONG") && m.LoaiXeCode.Equals("XN"));
    var priceVINHLONGL = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("VINHLONG") && m.LoaiXeCode.Equals("XL"));
    var priceLONGANN = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("LONGAN") && m.LoaiXeCode.Equals("XN"));
    var priceLONGANL = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("LONGAN") && m.LoaiXeCode.Equals("XL"));
    var priceTIENGIANGN = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("TIENGIANG") && m.LoaiXeCode.Equals("XN"));
    var priceTIENGIANGL = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("TIENGIANG") && m.LoaiXeCode.Equals("XL"));
    var priceDONGNAIN = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("DONGNAI") && m.LoaiXeCode.Equals("XN"));
    var priceDONGNAIL = Model.LogisticGiaChuyenXes.First(m => m.TuyenCode.Equals("DONGNAI") && m.LoaiXeCode.Equals("XL"));
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Công Logistics</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.ThangLuong">THANG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.BangLuong">BẢNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Timer">CHẤM CÔNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.SaleKPIEmployee">KINH DOANH</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.LogisticCong">LOGISTICS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkCredit.Main/@Constants.LinkCredit.Credits?thang=@Model.Thang&khoi=@EKhoiLamViec.VP">VAY & TẠM ỨNG</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="sale" role="tabpanel" aria-labelledby="sale-tab">
                <div class="container">
                    <div class="row mb-3">
                        <a class="nav-link custom-more collapsed" data-toggle="collapse" href="#uploadarea" aria-expanded="false" aria-controls="more">
                            <i class="icon icon-magnifying-glass"></i> Đẩy dữ liệu
                        </a>
                    </div>
                    <div id="uploadarea" class="col-12 collapse">
                        <div class="row mb-3">
                            <div class="col-12">
                                <span>Chọn dữ liệu tháng:</span>
                                <select asp-for="Thang" id="ddlMonthImport">
                                    @{
                                        foreach (var item in Model.MonthYears)
                                        {
                                            <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                        }
                                    }
                                </select>
                                <a href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.LogisticCong/@Constants.ActionLink.Template?Thang=@Model.Thang" class="btn btn-success btn-list btn-link-import" data-toggle="tooltip" title="Bấm tải về mẫu tài liệu.">
                                    <i class="icon icon-back"></i>Tải mẫu dữ liệu
                                </a>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <form method="post" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.LogisticCong/@Constants.ActionLink.Import" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="file" name="files" class="form-control fUpload" />
                                        </div>
                                        <div class="col-md-8">
                                            <input type="button" class="btn btn-danger btnUpload" value="Tải lên" />
                                            <button class="btn btn-danger btn-upload-process d-none" type="button" disabled>
                                                <i class="fas fa-spinner"></i>
                                                Đang xử lý...
                                            </button>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%"></div>
                                    </div>
                                    <div id="dvData"></div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div>
                        <h6>CÔNG LOGISTICS</h6>(ĐVT: đồng)
                    </div>
                    <form method="get" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.LogisticCong" id="form-main">
                        <input asp-for="Trang" type="hidden" value="1" />
                        <input asp-for="SapXep" class="sap-xep" type="hidden" />
                        <input asp-for="ThuTu" class="thu-tu" type="hidden" />
                        <div class="row">
                            <div class="col-12"><span class="badge badge-primary">Tìm kiếm:</span></div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-4 col-xs-12">
                                <span class="mr-2 text-muted text-small text-nowrap">Tháng:</span>
                                <select asp-for="Thang" class="custom-select form-control-lg" onchange="formSubmit();">
                                    <option value="">Tất cả</option>
                                    @foreach (var item in Model.MonthYears)
                                    {
                                        <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <span class="mr-2 text-muted text-small text-nowrap">Nhân viên</span>
                                <select asp-for="Id" class="custom-select js-select2-basic-single ddlEmployeeId">
                                    <option value="">Tất cả</option>
                                    @foreach (var employee in Model.Employees)
                                    {
                                        string displayTitle = string.Empty;
                                        if (!string.IsNullOrEmpty(employee.Email))
                                        {
                                            displayTitle += "- " + employee.Email + "";
                                        }
                                        <option value="@employee.Id">@employee.FullName @displayTitle</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <span>Sắp xếp theo: </span>
                                @{
                                    var sortFlagNameDesc = "badge-default";
                                    if (Model.SapXep == "ten" && Model.ThuTu == "desc")
                                    {
                                        sortFlagNameDesc = "badge-success";
                                    }
                                    var sortFlagNameAsc = "badge-default";
                                    if (Model.SapXep == "ten" && Model.ThuTu == "asc")
                                    {
                                        sortFlagNameAsc = "badge-success";
                                    }
                                    var sortFlagMaDesc = "badge-default";
                                    if (Model.SapXep == "ma" && Model.ThuTu == "desc")
                                    {
                                        sortFlagMaDesc = "badge-success";
                                    }
                                    var sortFlagMaAsc = "badge-default";
                                    if (Model.SapXep == "ma" && Model.ThuTu == "asc")
                                    {
                                        sortFlagMaAsc = "badge-success";
                                    }
                                    var sortFlagDoanhThuDesc = "badge-default";
                                    if (Model.SapXep == "doanh-thu" && Model.ThuTu == "desc")
                                    {
                                        sortFlagDoanhThuDesc = "badge-success";
                                    }
                                    var sortFlagDoanhThuAsc = "badge-default";
                                    if (Model.SapXep == "doanh-thu" && Model.ThuTu == "asc")
                                    {
                                        sortFlagDoanhThuAsc = "badge-success";
                                    }
                                    <a href="javascript:;" data-sortby="ten" data-sortorder="asc" class="btn-sort">
                                        <span class="badge @sortFlagNameAsc"><i class="fas fa-sort-alpha-up"></i> Tên tăng dần</span>
                                    </a>
                                    <a href="javascript:;" data-sortby="ten" data-sortorder="desc" class="btn-sort">
                                        <span class="badge @sortFlagNameDesc"><i class="fas fa-sort-alpha-down"></i> Tên giảm dần</span>
                                    </a>
                                    <a href="javascript:;" data-sortby="ma" data-sortorder="asc" class="btn-sort">
                                        <span class="badge @sortFlagMaAsc"><i class="fas fa-sort-alpha-up"></i> Mã tăng dần</span>
                                    </a>
                                    <a href="javascript:;" data-sortby="ma" data-sortorder="desc" class="btn-sort">
                                        <span class="badge @sortFlagMaDesc"><i class="fas fa-sort-alpha-down"></i> Mã giảm dần</span>
                                    </a>
                                    <a href="javascript:;" data-sortby="danh-thu" data-sortorder="asc" class="btn-sort">
                                        <span class="badge @sortFlagDoanhThuAsc"><i class="fas fa-sort-alpha-up"></i> Doanh thu tăng dần</span>
                                    </a>
                                    <a href="javascript:;" data-sortby="danh-thu" data-sortorder="desc" class="btn-sort">
                                        <span class="badge @sortFlagDoanhThuDesc"><i class="fas fa-sort-alpha-down"></i> Doanh thu giảm dần</span>
                                    </a>
                                }
                            </div>
                        </div>
                    </form>

                    <div class="row mb-3">
                        <div class="col-12">Tìm thấy <span class="badge badge-info">@Model.Records</span> kết quả.</div>
                        <div class="col-12 table-responsive mb-1">
                            <table class="table table-sm table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th rowspan="3" scope="col" nowrap>#</th>
                                        <th rowspan="3" scope="col" nowrap>MÃ NV</th>
                                        <th rowspan="3" scope="col" nowrap>Họ Tên</th>
                                        <th rowspan="3" scope="col" nowrap>Chức vụ</th>
                                        <th rowspan="3" scope="col" nowrap>Doanh thu</th>
                                        <th rowspan="3" scope="col" nowrap>Lương theo danh thu/doanh số</th>
                                        <th colspan="5" scope="col" nowrap>TP.HCM Xe nhỏ 1.7 tấn</th>
                                        <th colspan="5" scope="col" nowrap>TP.HCM Xe lớn ben và 8 tấn</th>
                                        <th colspan="5" scope="col" nowrap>BÌNH DƯƠNG Xe nhỏ</th>
                                        <th colspan="5" scope="col" nowrap>BÌNH DƯƠNG Xe lớn</th>
                                        <th colspan="5" scope="col" nowrap>BIÊN HÒA Xe nhỏ</th>
                                        <th colspan="5" scope="col" nowrap>BIÊN HÒA Xe lớn</th>
                                        <th colspan="2" scope="col" nowrap>Vũng Tàu</th>
                                        <th colspan="2" scope="col" nowrap>Bình Thuận</th>
                                        <th scope="col" nowrap>Cần Thơ</th>
                                        <th scope="col" nowrap>Vĩnh Long</th>
                                        <th colspan="2" scope="col" nowrap>Long An</th>
                                        <th colspan="2" scope="col" nowrap>Tiền Giang</th>
                                        <th colspan="2" scope="col" nowrap>Đồng Nai</th>
                                        <th rowspan="3" scope="col">Tổng số chuyến</th>
                                        <th rowspan="3" scope="col">Tiền chuyến</th>
                                        <th rowspan="3" scope="col">Công tác xa</th>
                                        <th rowspan="3" scope="col">Khối lượng bùn</th>
                                        <th rowspan="3" scope="col">Tiền/tấn</th>
                                    </tr>
                                    <tr>
                                        <td colspan="5">Trợ cấp</td>
                                        <td colspan="5">Trợ cấp</td>
                                        <td colspan="5">Trợ cấp</td>
                                        <td colspan="5">Trợ cấp</td>
                                        <td colspan="5">Trợ cấp</td>
                                        <td colspan="5">Trợ cấp</td>
                                        <td>Xe nhỏ</td>
                                        <td>Xe lớn</td>
                                        <td>Xe nhỏ</td>
                                        <td>Xe lớn</td>
                                        <td>Xe lớn</td>
                                        <td>Xe lớn</td>
                                        <td>Xe nhỏ</td>
                                        <td>Xe lớn</td>
                                        <td>Xe nhỏ</td>
                                        <td>Xe lớn</td>
                                        <td>Xe nhỏ</td>
                                        <td>Xe lớn</td>
                                    </tr>
                                    <tr>
                                        @for (int iCHCMN = 1; iCHCMN <= 5; iCHCMN++)
                                        {
                                            <td>Chuyến @iCHCMN</td>
                                        }
                                        @for (int iCHCML = 1; iCHCML <= 5; iCHCML++)
                                        {
                                            <td>Chuyến @iCHCML</td>
                                        }
                                        @for (int iCBDN = 1; iCBDN <= 5; iCBDN++)
                                        {
                                            <td>Chuyến @iCBDN</td>
                                        }
                                        @for (int iCBDL = 1; iCBDL <= 5; iCBDL++)
                                        {
                                            <td>Chuyến @iCBDL</td>
                                        }
                                        @for (int iCBHN = 1; iCBHN <= 5; iCBHN++)
                                        {
                                            <td>Chuyến @iCBHN</td>
                                        }
                                        @for (int iCBHL = 1; iCBHL <= 5; iCBHL++)
                                        {
                                            <td>Chuyến @iCBHL</td>
                                        }
                                        <td>VT</td>
                                        <td>VT</td>
                                        <td>BT</td>
                                        <td>BT</td>
                                        <td>CT</td>
                                        <td>VL</td>
                                        <td>LA</td>
                                        <td>LA</td>
                                        <td>TG</td>
                                        <td>TG</td>
                                        <td>ĐN</td>
                                        <td>ĐN</td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">ĐƠN GIÁ CHUYẾN XE</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHN.Chuyen1)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHN.Chuyen2)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHN.Chuyen3)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHN.Chuyen4)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHN.Chuyen5)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHL.Chuyen1)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHL.Chuyen2)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHL.Chuyen3)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHL.Chuyen4)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHL.Chuyen5)</td>

                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGN.Chuyen1)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGN.Chuyen2)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGN.Chuyen3)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGN.Chuyen4)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGN.Chuyen5)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGL.Chuyen1)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGL.Chuyen2)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGL.Chuyen3)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGL.Chuyen4)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGL.Chuyen5)</td>

                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAN.Chuyen1)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAN.Chuyen2)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAN.Chuyen3)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAN.Chuyen4)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAN.Chuyen5)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAL.Chuyen1)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAL.Chuyen2)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAL.Chuyen3)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAL.Chuyen4)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAL.Chuyen5)</td>

                                        <td>@String.Format("{0:#,###,###}", priceVUNGTAUN.Chuyen2)</td>
                                        <td>@String.Format("{0:#,###,###}", priceVUNGTAUL.Chuyen2)</td>

                                        <td>@String.Format("{0:#,###,###}", priceBINHTHUANN.Chuyen2)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHTHUANL.Chuyen2)</td>

                                        <td>@String.Format("{0:#,###,###}", priceCANTHOL.Chuyen2)</td>
                                        <td>@String.Format("{0:#,###,###}", priceVINHLONGL.Chuyen2)</td>

                                        <td>@String.Format("{0:#,###,###}", priceLONGANN.Chuyen2)</td>
                                        <td>@String.Format("{0:#,###,###}", priceLONGANL.Chuyen2)</td>

                                        <td>@String.Format("{0:#,###,###}", priceTIENGIANGN.Chuyen2)</td>
                                        <td>@String.Format("{0:#,###,###}", priceTIENGIANGL.Chuyen2)</td>

                                        <td>@String.Format("{0:#,###,###}", priceDONGNAIN.Chuyen2)</td>
                                        <td>@String.Format("{0:#,###,###}", priceDONGNAIL.Chuyen2)</td>

                                        <td rowspan="2"></td>
                                        <td rowspan="2"></td>
                                        <td rowspan="2"></td>
                                        <td rowspan="2"></td>
                                        <td rowspan="2" style="text-align:center;vertical-align:bottom;">
                                            @String.Format("{0:#,###,###}", Model.DonGiaBun)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="6">HỖ TRỢ CÔNG TÁC XA</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHL.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHL.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHL.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHL.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceHOCHIMINHL.HoTroTienComTinh)</td>

                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGL.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGL.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGL.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGL.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHDUONGL.HoTroTienComTinh)</td>

                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAL.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAL.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAL.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAL.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBIENHOAL.HoTroTienComTinh)</td>

                                        <td>@String.Format("{0:#,###,###}", priceVUNGTAUN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceVUNGTAUL.HoTroTienComTinh)</td>

                                        <td>@String.Format("{0:#,###,###}", priceBINHTHUANN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceBINHTHUANL.HoTroTienComTinh)</td>

                                        <td>@String.Format("{0:#,###,###}", priceCANTHOL.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceVINHLONGL.HoTroTienComTinh)</td>

                                        <td>@String.Format("{0:#,###,###}", priceLONGANN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceLONGANL.HoTroTienComTinh)</td>

                                        <td>@String.Format("{0:#,###,###}", priceTIENGIANGN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceTIENGIANGL.HoTroTienComTinh)</td>

                                        <td>@String.Format("{0:#,###,###}", priceDONGNAIN.HoTroTienComTinh)</td>
                                        <td>@String.Format("{0:#,###,###}", priceDONGNAIL.HoTroTienComTinh)</td>

                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                        foreach (var item in Model.LogisticEmployeeCongs)
                                        {
                                            <tr class="tr-@item.Id" data-id="@item.Id">
                                                <td>
                                                    @i
                                                </td>
                                                <td>@item.MaNhanVien</td>
                                                <td nowrap>@item.FullName</td>
                                                <td nowrap>@item.ChucVu</td>
                                                <td>@String.Format("{0:#,###,###}", item.DoanhThu)</td>
                                                <td>@String.Format("{0:#,###,###}", Math.Round((double)item.LuongTheoDoanhThuDoanhSo / 1000d, 0))</td>
                                                <td>@item.Chuyen1HcmXeNho</td>
                                                <td>@item.Chuyen2HcmXeNho</td>
                                                <td>@item.Chuyen3HcmXeNho</td>
                                                <td>@item.Chuyen4HcmXeNho</td>
                                                <td>@item.Chuyen5HcmXeNho</td>
                                                <td>@item.Chuyen1HcmXeLon</td>
                                                <td>@item.Chuyen2HcmXeLon</td>
                                                <td>@item.Chuyen3HcmXeLon</td>
                                                <td>@item.Chuyen4HcmXeLon</td>
                                                <td>@item.Chuyen5HcmXeLon</td>

                                                <td>@item.Chuyen1BinhDuongXeNho</td>
                                                <td>@item.Chuyen2BinhDuongXeNho</td>
                                                <td>@item.Chuyen3BinhDuongXeNho</td>
                                                <td>@item.Chuyen4BinhDuongXeNho</td>
                                                <td>@item.Chuyen5BinhDuongXeNho</td>
                                                <td>@item.Chuyen1BinhDuongXeLon</td>
                                                <td>@item.Chuyen2BinhDuongXeLon</td>
                                                <td>@item.Chuyen3BinhDuongXeLon</td>
                                                <td>@item.Chuyen4BinhDuongXeLon</td>
                                                <td>@item.Chuyen5BinhDuongXeLon</td>

                                                <td>@item.Chuyen1BienHoaXeNho</td>
                                                <td>@item.Chuyen2BienHoaXeNho</td>
                                                <td>@item.Chuyen3BienHoaXeNho</td>
                                                <td>@item.Chuyen4BienHoaXeNho</td>
                                                <td>@item.Chuyen5BienHoaXeNho</td>
                                                <td>@item.Chuyen1BienHoaXeLon</td>
                                                <td>@item.Chuyen2BienHoaXeLon</td>
                                                <td>@item.Chuyen3BienHoaXeLon</td>
                                                <td>@item.Chuyen4BienHoaXeLon</td>
                                                <td>@item.Chuyen5BienHoaXeLon</td>

                                                <td>@item.VungTauXeNho</td>
                                                <td>@item.VungTauXeLon</td>

                                                <td>@item.BinhThuanXeNho</td>
                                                <td>@item.BinhThuanXeLon</td>

                                                <td>@item.CanThoXeLon</td>
                                                <td>@item.VinhLongXeLon</td>

                                                <td>@item.LongAnXeNho</td>
                                                <td>@item.LongAnXeLon</td>

                                                <td>@item.TienGiangXeNho</td>
                                                <td>@item.TienGiangXeLon</td>

                                                <td>@item.DongNaiXeNho</td>
                                                <td>@item.DongNaiXeLon</td>

                                                <td>@item.TongSoChuyen</td>
                                                <td>
                                                    @String.Format("{0:#,###,###}", Math.Round((double)item.TienChuyen / 1000d, 0))
                                                </td>
                                                <td>
                                                    @String.Format("{0:#,###,###}", Math.Round((double)item.CongTacXa / 1000d, 0))
                                                </td>
                                                <td>@String.Format("{0:#,###,###}", item.KhoiLuongBun)</td>
                                                <td>
                                                    @String.Format("{0:#,###,###}", Math.Round((double)item.ThanhTienBun / 1000d, 0))
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <a class="btn btn-lg btn-block btn-info" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.LogisticCong/@Constants.ActionLink.Export" data-toggle="tooltip" title="Xuất ra tài liệu file excel.">
                                <i class="fas fa-download"></i> Xuất excel
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <a class="btn btn-link btn-block" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.LogisticPrice">
                                <i class="fas fa-dollar-sign"></i> BẢNG GIÁ CHUYẾN XE
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/logistics/cong.js?@Constants.VersionJs"></script>
}



