@using Common.Utilities;
@using ViewModels;
@model BangLuongViewModel
@{
    Layout = "~/Views/Shared/_LayoutSocialFb.cshtml";
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Dữ liệu kinh doanh</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.BangLuongReal">BẢNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Setting/@Constants.LinkSalary.Update">THAM SỐ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.SaleKPIs/@Constants.LinkSalary.Update">KINH DOANH</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.LogisticDatas/@Constants.LinkSalary.Update">LOGISTICS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Credits/@Constants.LinkSalary.Update">VAY & TẠM ỨNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangBangLuongReal/@Constants.LinkSalary.Update">THANG LƯƠNG</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="law" role="tabpanel" aria-labelledby="law-tab">
                <form action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.SaleKPIs/@Constants.LinkSalary.Update" method="post" class="data-form">
                    <div class="row mb-3">
                        <div class="col-12">
                            <button type="button" class="btn btn-success btn-edit d-none" data-toggle="tooltip" title="Bấm thay đổi dữ liệu.">
                                <i class="icon icon-edit"></i>Chỉnh sửa
                            </button>

                            <button type="submit" class="btn btn-primary btn-submit" data-toggle="tooltip" title="Bấm để cập nhật dữ liệu.">
                                <i class="icon icon-save"></i>Lưu thay đổi
                            </button>
                            <button type="button" class="btn btn-success btn-back d-none" data-toggle="tooltip" title="Bấm để trở về.">
                                <i class="icon icon-back"></i>Trở về
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        @{
                            <div class="col-12 table-responsive-sm">
                                <table class="table table-responsive-sm table-bordered table-salary-level">
                                    <tr style="background-color:yellow!important">
                                        <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>STT</th>
                                        <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>MÃ</th>
                                        <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>KH VỰC</th>
                                        <th colspan="5" style="vertical-align:middle;font-weight:bold" nowrap>CHỈ TIÊU</th>
                                        <th colspan="5" style="vertical-align:middle;font-weight:bold" nowrap>THỰC HIỆN</th>
                                        <th colspan="5" style="vertical-align:middle;font-weight:bold" nowrap>CHỈ TIÊU & THỰC HIỆN</th>
                                        <th colspan="7" style="vertical-align:middle;font-weight:bold" nowrap>Incentive KPIs</th>
                                    </tr>
                                    <tr style="background-color:yellow!important">
                                        <td style="text-align:center;">DOANH SỐ</td>
                                        <td style="text-align:center;">DOANH THU</td>
                                        <td style="text-align:center;">ĐỘ PHỦ</td>
                                        <td style="text-align:center;">MỞ MỚI</td>
                                        <td style="text-align:center;">NGÀNH HÀNG</td>
                                        <td style="text-align:center;">DOANH SỐ</td>
                                        <td style="text-align:center;">DOANH THU</td>
                                        <td style="text-align:center;">ĐỘ PHỦ</td>
                                        <td style="text-align:center;">MỞ MỚI</td>
                                        <td style="text-align:center;">NGÀNH HÀNG</td>
                                        <td style="text-align:center;">DOANH SỐ</td>
                                        <td style="text-align:center;">DOANH THU</td>
                                        <td style="text-align:center;">ĐỘ PHỦ</td>
                                        <td style="text-align:center;">MỞ MỚI</td>
                                        <td style="text-align:center;">NGÀNH HÀNG</td>
                                        <td style="text-align:center;">DOANH SỐ</td>
                                        <td style="text-align:center;">DOANH THU</td>
                                        <td style="text-align:center;">ĐỘ PHỦ</td>
                                        <td style="text-align:center;">MỞ MỚI</td>
                                        <td style="text-align:center;">NGÀNH HÀNG</td>
                                        <td style="text-align:center;">TOTAL</td>
                                        <td style="text-align:center;">Thử  Việc</td>
                                    </tr>
                                    <tbody>
                                        @{
                                            int i = 1;
                                            int iEntity = 0;
                                            foreach (var item in Model.SalarySaleKPIs)
                                            {
                                                <tr class="tr-@iEntity" data-id="@item.Id">
                                                    <td>
                                                        @i
                                                        <input type="hidden" asp-for="SalaryCredits[iEntity].Id" />
                                                    </td>
                                                    <td>@item.MaNhanVien</td>
                                                    <td>@item.FullName</td>
                                                    <td>
                                                        <input value="@Math.Round(Model.SalarySaleKPIs[iEntity].ChiTieuDoanhSo/1000, 0)" name="SalarySaleKPIs[@iEntity].ChiTieuDoanhSo" class="form-control width100 numeric chitieudoanhso-@iEntity" data-id="chitieudoanhso-@iEntity" />
                                                    </td>
                                                    <td>
                                                        <input value="@Math.Round(Model.SalarySaleKPIs[iEntity].ChiTieuDoanhThu/1000, 0)" name="SalarySaleKPIs[@iEntity].ChiTieuDoanhThu" class="form-control width100 numeric chitieudoanhthu-@iEntity" data-id="chitieudoanhthu-@iEntity" />
                                                    </td>
                                                    <td>
                                                        <input value="@Math.Round(Model.SalarySaleKPIs[iEntity].ChiTieuDoPhu/1000, 0)" name="SalarySaleKPIs[@iEntity].ChiTieuDoPhu" class="form-control width100 numeric chitieudophu-@iEntity" data-id="chitieudophu-@iEntity" />
                                                    </td>
                                                    <td>
                                                        <input value="@Math.Round(Model.SalarySaleKPIs[iEntity].ChiTieuMoMoi/1000, 0)" name="SalarySaleKPIs[@iEntity].ChiTieuMoMoi" class="form-control width100 numeric chitieumomoi-@iEntity" data-id="chitieumomoi-@iEntity" />
                                                    </td>
                                                    <td>
                                                        <input value="@Model.SalarySaleKPIs[iEntity].ChiTieuNganhHang" name="SalarySaleKPIs[@iEntity].ChiTieuNganhHang" class="form-control width100 numeric chitieunganhhang-@iEntity" data-id="chitieunganhhang-@iEntity" />
                                                    </td>
                                                    <td>
                                                        <input value="@Math.Round(Model.SalarySaleKPIs[iEntity].ThucHienDoanhSo/1000, 0)" name="SalarySaleKPIs[@iEntity].ThucHienDoanhSo" class="form-control width100 numeric thuchiendoanhso-@iEntity" data-id="thuchiendoanhso-@iEntity" />
                                                    </td>
                                                    <td>
                                                        <input value="@Math.Round(Model.SalarySaleKPIs[iEntity].ThucHienDoanhThu/1000, 0)" name="SalarySaleKPIs[@iEntity].ThucHienDoanhThu" class="form-control width100 numeric thuchiendoanhthu-@iEntity" data-id="thuchiendoanhthu-@iEntity" />
                                                    </td>
                                                    <td>
                                                        <input value="@Math.Round(Model.SalarySaleKPIs[iEntity].ThucHienDoPhu/1000, 0)" name="SalarySaleKPIs[@iEntity].ThucHienDoPhu" class="form-control width100 numeric thuchiendophu-@iEntity" data-id="thuchiendophu-@iEntity" />
                                                    </td>
                                                    <td>
                                                        <input value="@Math.Round(Model.SalarySaleKPIs[iEntity].ThucHienMoMoi/1000, 0)" name="SalarySaleKPIs[@iEntity].ThucHienMoMoi" class="form-control width100 numeric thuchienmomoi-@iEntity" data-id="thuchienmomoi-@iEntity" />
                                                    </td>
                                                    <td>
                                                        <input value="@Model.SalarySaleKPIs[iEntity].ThucHienNganhHang" name="SalarySaleKPIs[@iEntity].ThucHienNganhHang" class="form-control width100 numeric thuchiennganhhang-@iEntity" data-id="thuchiennganhhang-@iEntity" />
                                                    </td>


                                                    <td>
                                                        <span class="chitieuthuchiendoanhso-@iEntity">@Model.SalarySaleKPIs[iEntity].ChiTieuThucHienDoanhSo %</span>
                                                    </td>
                                                    <td>
                                                        <span class="chitieuthuchiendoanhthu-@iEntity">@Model.SalarySaleKPIs[iEntity].ChiTieuThucHienDoanhThu %</span>
                                                    </td>
                                                    <td>
                                                        <span class="chitieuthuchiendophu-@iEntity">@Model.SalarySaleKPIs[iEntity].ChiTieuThucHienDoPhu %</span>
                                                    </td>
                                                    <td>
                                                        <span class="chitieuthuchienmomoi-@iEntity">@Model.SalarySaleKPIs[iEntity].ChiTieuThucHienMoMoi %</span>
                                                    </td>
                                                    <td>
                                                        <span class="chitieuthuchiennganhhang-@iEntity">@Model.SalarySaleKPIs[iEntity].ChiTieuThucHienNganhHang %</span>
                                                    </td>
                                                    <td>
                                                        <span class="thuongchitieuthuchiendoanhso-@iEntity">@Model.SalarySaleKPIs[iEntity].ThuongChiTieuThucHienDoanhSo %</span>
                                                    </td>
                                                    <td>
                                                        <span class="thuongchitieuthuchiendoanhthu-@iEntity">@Model.SalarySaleKPIs[iEntity].ThuongChiTieuThucHienDoanhThu %</span>
                                                    </td>
                                                    <td>
                                                        <span class="thuongchitieuthuchiendophu-@iEntity">@Model.SalarySaleKPIs[iEntity].ThuongChiTieuThucHienDoPhu %</span>
                                                    </td>
                                                    <td>
                                                        <span class="thuongchitieuthuchienmomoi-@iEntity">@Model.SalarySaleKPIs[iEntity].ThuongChiTieuThucHienMoMoi %</span>
                                                    </td>
                                                    <td>
                                                        <span class="thuongchitieuthuchiennganhhang-@iEntity">@Model.SalarySaleKPIs[iEntity].ThuongChiTieuThucHienNganhHang %</span>
                                                    </td>
                                                    <td>
                                                        @if (Model.SalarySaleKPIs[iEntity].TongThuong > 0)
                                                        {
                                                            <span class="tongthuong-@iEntity">
                                                                @Model.SalarySaleKPIs[iEntity].TongThuong %
                                                            </span>
                                                        }
                                                    <td>
                                                        <input value="@Model.SalarySaleKPIs[iEntity].ThuViec" name="SalarySaleKPIs[@iEntity].ThuongChiTieuThucHienNganhHang" class="form-control width100 numeric thuongchitieuthuchiennganhhang-@iEntity" data-id="thuongchitieuthuchiennganhhang-@iEntity" />
                                                    </td>
                                                </tr>
                                                i++;
                                                iEntity++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>

                </form>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/salary-sale-kpi-update.js?@DateTime.Now.Ticks"></script>
}



