@using Common.Utilities;
@using Common.Enums;
@using ViewModels;
@model BangLuongViewModel
@{
    
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
}
<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.SaleKPIEmployee">Công</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Dữ liệu kinh doanh</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.ThangLuong">THANG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.BangLuong">BẢNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Timer?khoi=@EKhoiLamViec.VP">CHẤM CÔNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.LogisticCong">LOGISTICS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.SaleKPIEmployee">SALES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkCredit.Main/@Constants.LinkCredit.Credits?thang=@Model.Thang&khoi=@EKhoiLamViec.VP">VAY & TẠM ỨNG</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="sale" role="tabpanel" aria-labelledby="sale-tab">
                <div class="container">
                    <div class="card card-sm">
                        <div class="card-header bg-secondary d-flex justify-content-between align-items-center">
                            <div>
                                <h6>KPI THÁNG</h6>(ĐVT: 1,000 đồng)
                            </div>
                            <form class="d-flex align-items-center" method="get" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.SaleKPI" id="form-main">
                                <span class="mr-2 text-muted text-small text-nowrap">Tháng:</span>
                                <select asp-for="Thang" class="custom-select ddl-times">
                                    @{
                                        foreach (var item in Model.MonthYears)
                                        {
                                            <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                        }
                                    }
                                </select>
                            </form>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">Tìm thấy <span class="badge badge-info">@Model.Records</span> kết quả.</div>
                        <div class="col-12 table-responsive mb-1">
                            <table class="table table-sm table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th rowspan="2" nowrap>#</th>
                                        <th rowspan="2" nowrap>Chức vụ</th>
                                        <th rowspan="2" nowrap>KH Mới</th>
                                        <th colspan="1" nowrap>Độ phủ</th>
                                        <th colspan="1" nowrap>Ngành hàng</th>
                                        <th colspan="2" nowrap>Doanh thu</th>
                                        <th colspan="3" nowrap>Doanh số</th>
                                        <th rowspan="2" nowrap>Tổng</th>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;">Trên 80%</td>
                                        <td style="text-align:center;">Đạt 70% 4 ngành</td>
                                        <td style="text-align:center;">80% - 99%</td>
                                        <td style="text-align:center;">Đạt 100%</td>
                                        <td style="text-align:center;">80% - 99%</td>
                                        <td style="text-align:center;">Đạt 100%</td>
                                        <td style="text-align:center;">Trên 120%</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int iS = 1;
                                        foreach (var item in Model.SaleKPIs)
                                        {
                                            <tr class="tr-@item.Id" data-id="@item.Id">
                                                <td>
                                                    @iS
                                                </td>
                                                <td>@item.ChucVu</td>
                                                <td nowrap>
                                                    @String.Format("{0:#,###,###}", Math.Round((double)item.KHMoi / 1000d, 0))
                                                </td>
                                                <td>
                                                    @String.Format("{0:#,###,###}", Math.Round((double)item.DoPhuTren80 / 1000d, 0))
                                                </td>
                                                <td>
                                                    @String.Format("{0:#,###,###}", Math.Round((double)item.NganhHangDat704Nganh / 1000d, 0))
                                                </td>
                                                <td>
                                                    @String.Format("{0:#,###,###}", Math.Round((double)item.DoanhThuTren80 / 1000d, 0))
                                                </td>
                                                <td>
                                                    @String.Format("{0:#,###,###}", Math.Round((double)item.DoanhThuDat100 / 1000d, 0))
                                                </td>
                                                <td>
                                                    @String.Format("{0:#,###,###}", Math.Round((double)item.DoanhSoTren80 / 1000d, 0))
                                                </td>
                                                <td>
                                                    @String.Format("{0:#,###,###}", Math.Round((double)item.DoanhSoDat100 / 1000d, 0))
                                                </td>
                                                <td>
                                                    @String.Format("{0:#,###,###}", Math.Round((double)item.DoanhSoTren120 / 1000d, 0))
                                                </td>
                                                <td>
                                                    @String.Format("{0:#,###,###}", Math.Round((double)item.Total / 1000d, 0))
                                                </td>
                                            </tr>
                                            iS++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <a class="btn btn-lg btn-block btn-info" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.SaleKPI/@Constants.ActionLink.Export" data-toggle="tooltip" title="Xuất ra tài liệu file excel.">
                                <i class="fas fa-download"></i> Xuất excel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/sales/kpi.js?@Constants.VersionJs"></script>
}



