@using Common.Utilities;
@using Common.Enums;
@using ViewModels;
@model ThangBangLuongViewModel
@{
    Layout = "~/Views/Shared/_LayoutSocialFbFS.cshtml";
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
    var displayLaw = string.Empty;
    @if (Utility.IsRight(login, Constants.Rights.LuongReal, (int)ERights.View))
    {
        displayLaw = "BHXH";
    }
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Thang bảng lương</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangBangLuongLaw/@Constants.LinkSalary.Update">THANG LƯƠNG @displayLaw</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN -->
    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <!-- LAW -->
            <div class="tab-pane fade show active" id="law" role="tabpanel" aria-labelledby="law-tab">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-12">
                            <button class="btn btn-success btn-edit" data-toggle="tooltip" title="Bấm thay đổi thang bảng lương.">
                                <i class="icon icon-edit"></i>Chỉnh sửa
                            </button>
                            <a class="btn btn-info d-none" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangBangLuongLaw/@Constants.LinkSalary.Export" data-toggle="tooltip" title="Xuất ra tài liệu file excel.">
                                <i class="fas fa-download"></i> Xuất excel
                            </a>
                        </div>
                    </div>
                    <form action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangBangLuongLaw/@Constants.LinkSalary.Update" method="post" class="data-form">
                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <a href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangBangLuongLaw" class="btn btn-info btn-list" data-toggle="tooltip" title="Bấm trở về thang bảng lương.">
                                    <i class="icon icon-back"></i>Trở về
                                </a>
                                <button type="submit" class="btn btn-danger btnSubmitThangBangLuongLaw" data-toggle="tooltip" title="Bấm cập nhật thang bảng lương."><i class="icon-save"></i>&nbsp;Cập nhật thang bảng lương</button>
                            </div>
                        </div>

                        <input type="hidden" id="hidCalculatorThangBangLuongLaw" value="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangBangLuongLawCalculator" />
                        <div class="row mb-3">
                            <div class="col-12">
                                <b>I/ MỨC LƯƠNG TỐI THIỂU VÙNG (đồng/tháng):</b>
                                <input class="form-control form-control-lg toithieuvung" asp-for="SalaryMucLuongVung.ToiThieuVungQuiDinh" />
                                <input type="hidden" asp-for="SalaryMucLuongVung.Id" />
                            </div>
                            <div class="col-12">
                                Mức lương tối thiểu mà doanh nghiệp đang áp dụng (đồng/tháng):
                                <input class="form-control form-control-lg toithieuvungdoanhnghiepapdung" asp-for="SalaryMucLuongVung.ToiThieuVungDoanhNghiepApDung" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <b>
                                    II/ HỆ THỐNG THANG LƯƠNG:
                                </b>
                                (ĐVT:  đồng)
                            </div>
                            @{

                                var iEdit = 1;
                                var iOrderSalaryThangBangLuongLaws = 0;
                                var typelevels = (from p in Model.SalaryThangBangLuongLaws
                                                  group p by new
                                                  {
                                                      p.TypeRole
                                                  }
                                            into d
                                                  select new
                                                  {
                                                      TypeRoleName = d.Key.TypeRole,
                                                      Levels = d.ToList(),
                                                  }).ToList();

                                foreach (var typeLevel in typelevels)
                                {
                                    <div class="col-12">
                                        <b>@iEdit-@typeLevel.TypeRoleName</b>
                                    </div>
                                    <div class="col-12 table-responsive-sm">
                                        <table class="table table-responsive-sm table-bordered table-striped table-hover floating-header">
                                            @{
                                                var groupBacLuong = (from s in typeLevel.Levels
                                                                     group s by new
                                                                     {
                                                                         s.Name,
                                                                         s.MaSo
                                                                     }
                                                into l
                                                                     select new
                                                                     {
                                                                         Name = l.Key.Name,
                                                                         MaSo = l.Key.MaSo,
                                                                         CountSalaries = l.Count(),
                                                                         Salaries = l.ToList(),
                                                                     }).ToList();

                                                var levelMax = groupBacLuong.OrderByDescending(m => m.CountSalaries).First().CountSalaries;
                                            }
                                            <thead>
                                                <tr style="background-color:yellow!important">
                                                    <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>CHỨC DANH CÔNG VIỆC</th>
                                                    <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>MÃ SỐ</th>
                                                    <td colspan="@levelMax" style="text-align:center;font-weight:bold">BẬC/ HỆ SỐ/ MỨC LƯƠNG</td>
                                                </tr>
                                                <tr style="background-color:yellow!important">
                                                    @for (var ilevel = 0; ilevel < levelMax; ilevel++)
                                                    {
                                                        if (ilevel == 0)
                                                        {
                                                            <td style="text-align:center;">Định mức</td>
                                                        }
                                                        else
                                                        {
                                                            <td style="text-align:center; color:red">@ilevel</td>
                                                        }
                                                    }
                                                </tr>
                                            </thead>

                                            <tbody class="font-14">
                                                @{
                                                    int iName = 1;
                                                    foreach (var bacLuong in groupBacLuong)
                                                    {
                                                        int miss = 0;
                                                        if (levelMax > bacLuong.CountSalaries)
                                                        {
                                                            miss = levelMax - bacLuong.CountSalaries;
                                                        }
                                                        int numCol = levelMax + 2;
                                                        <tr style="background-color:rgb(0, 176, 240); color:black">
                                                            <td colspan="@numCol">
                                                                <b>@iName- @bacLuong.Name</b>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="background-color:white">
                                                                Hệ số
                                                            </td>
                                                            <td style="background-color:rgb(0,211,240);color:black"></td>
                                                            @{
                                                                var firstMucLuong = 0;
                                                                var iHeso = 1;
                                                                foreach (var heso in bacLuong.Salaries)
                                                                {
                                                                    if (heso.Bac == 0)
                                                                    {
                                                                        <td style="text-align:right;background-color:rgb(0,211,240);"></td>
                                                                        firstMucLuong = iOrderSalaryThangBangLuongLaws;
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="text-align:right;background-color:rgb(0,211,240);padding:0.3rem;vertical-align:middle">
                                                                            <input id="heso-@heso.Id" value="@heso.HeSo" data-id="@heso.Id" name="SalaryThangBangLuongLaws[@iOrderSalaryThangBangLuongLaws].HeSo" class="form-control heso-@iOrderSalaryThangBangLuongLaws" style="width:90px;padding:0" />
                                                                            <input type="hidden" name="SalaryThangBangLuongLaws[@iOrderSalaryThangBangLuongLaws].Id" value="@heso.Id" />
                                                                            <input type="hidden" name="SalaryThangBangLuongLaws[@iOrderSalaryThangBangLuongLaws].Bac" value="@heso.Bac" />
                                                                            <input type="hidden" name="SalaryThangBangLuongLaws[@iOrderSalaryThangBangLuongLaws].Name" value="@heso.Name" />
                                                                            <input type="hidden" name="SalaryThangBangLuongLaws[@iOrderSalaryThangBangLuongLaws].MaSo" value="@heso.MaSo" />
                                                                            <input type="hidden" name="SalaryThangBangLuongLaws[@iOrderSalaryThangBangLuongLaws].TypeRole" value="@heso.TypeRole" />
                                                                            <input type="hidden" class="codeHeSo" value="@iOrderSalaryThangBangLuongLaws" />
                                                                        </td>
                                                                        iOrderSalaryThangBangLuongLaws++;
                                                                        iHeso++;
                                                                    }

                                                                }
                                                                if (miss > 0)
                                                                {
                                                                    for (var i2 = 1; i2 <= miss; i2++)
                                                                    {
                                                                        <td style="text-align:right;background-color:rgb(0,211,240);color:black"></td>
                                                                    }
                                                                }
                                                            }
                                                        </tr>
                                                        <tr>
                                                            <td style="background-color:white">
                                                                Mức lương tháng
                                                            </td>
                                                            <td style="background-color:white">@bacLuong.MaSo</td>
                                                            @{
                                                                var iMucLuong = 1;
                                                                foreach (var heso in bacLuong.Salaries)
                                                                {
                                                                    if (heso.Bac == 0)
                                                                    {
                                                                        <td style="background-color:white" class="moneytext-@heso.Id">
                                                                            <input id="mucluong-@heso.Id" value="@Math.Round(heso.MucLuong, 0)" data-id="@heso.Id" name="SalaryThangBangLuongLaws[@firstMucLuong].MucLuong" class="form-control mucluong-@firstMucLuong" style="width:90px;padding:0" />
                                                                            <input type="hidden" class="codeMucLuong" value="@firstMucLuong" />
                                                                        </td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td style="background-color:white" class="money-@heso.Id">
                                                                            @string.Format("{0:n0}", heso.MucLuong)
                                                                        </td>
                                                                    }
                                                                    iMucLuong++;
                                                                }
                                                                if (miss > 0)
                                                                {
                                                                    for (var i3 = 1; i3 <= miss; i3++)
                                                                    {
                                                                        <td style="background-color:white"></td>
                                                                    }
                                                                }
                                                            }
                                                        </tr>
                                                        iName++;
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    iEdit++;
                                }
                            }
                        </div>

                        <!-- PHU CAP & PHUC LOI -->
                        <div class="row">
                            <div class="col-12">
                                <b>HỢP ĐỒNG</b>
                            </div>
                            <div class="col-12">
                                <b>PHỤ CẤP THÊM VÀO TRONG QUY CHẾ LƯƠNG NỘP KÈM THEO</b>
                            </div>
                            <div class="col-12">
                                <b>THANG BẢNG LƯƠNG ĐỂ TÍNH VÀO LƯƠNG ĐÓNG BẢO HIỂM</b>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 table-responsive-sm">
                                <table class="table table-responsive-sm table-bordered table-striped table-hover">
                                    <tr>
                                        <th rowspan="2"></th>
                                        <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>Phụ cấp trách nhiệm</th>
                                        <td colspan="4" style="font-weight:bold">Các khoản hổ trợ khác</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center">
                                            Điện thoại
                                        </td>
                                        <td style="text-align:center">
                                            Xăng
                                        </td>
                                        <td style="text-align:center">
                                            Cơm
                                        </td>
                                        <td style="text-align:center">
                                            Nhà ở
                                        </td>
                                    </tr>
                                    @{
                                        int iOrderPhuCap = 0;
                                        var phucapEntity = new SalaryThangBangPhuCapPhucLoi();
                                        var groupPhuCaps = (from phucap in Model.SalaryThangBangPhuCapPhucLois
                                                            group phucap by new
                                                            {
                                                                phucap.MaSo
                                                            }
                                        into pl
                                                            select new
                                                            {
                                                                MaSo = pl.Key.MaSo,
                                                                Phucaps = pl.ToList(),
                                                            }).ToList();
                                        foreach (var pc in groupPhuCaps)
                                        {
                                            <tr>
                                                <td>@Utility.GetChucDanhCongViec(pc.MaSo)</td>
                                                <td>
                                                    @{
                                                        phucapEntity = pc.Phucaps.Find(m => m.Code == "01-002");
                                                        if (phucapEntity != null)
                                                        {
                                                            <input value="@phucapEntity.Money" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Money" class="form-control phucap-@iOrderPhuCap" style="width:90px;padding:0" />
                                                            <input type="hidden" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Id" value="@phucapEntity.Id" />
                                                            <input type="hidden" class="codePhuCap" value="@iOrderPhuCap" />
                                                        }
                                                        else
                                                        {
                                                            <input value="0" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Money" class="form-control phucap-@iOrderPhuCap" style="width:90px;padding:0" />
                                                            <input type="hidden" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Code" value="01-002" />
                                                            <input type="hidden" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].MaSo" value="@pc.MaSo" />
                                                            <input type="hidden" class="codePhuCap" value="@iOrderPhuCap" />
                                                        }
                                                        iOrderPhuCap++;
                                                    }
                                                </td>
                                                <td>
                                                    @{
                                                        phucapEntity = pc.Phucaps.Find(m => m.Code == "02-002");
                                                        if (phucapEntity != null)
                                                        {
                                                            <input value="@phucapEntity.Money" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Money" class="form-control phucap-@iOrderPhuCap" style="width:90px;padding:0" />
                                                            <input type="hidden" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Id" value="@phucapEntity.Id" />
                                                            <input type="hidden" class="codePhuCap" value="@iOrderPhuCap" />
                                                        }
                                                        else
                                                        {
                                                            <input value="0" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Money" class="form-control phucap-@iOrderPhuCap" style="width:90px;padding:0" />
                                                            <input type="hidden" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Code" value="01-002" />
                                                            <input type="hidden" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].MaSo" value="@pc.MaSo" />
                                                            <input type="hidden" class="codePhuCap" value="@iOrderPhuCap" />
                                                        }
                                                        iOrderPhuCap++;
                                                    }
                                                </td>
                                                <td>
                                                    @{
                                                        phucapEntity = pc.Phucaps.Find(m => m.Code == "02-001");
                                                        if (phucapEntity != null)
                                                        {
                                                            <input value="@phucapEntity.Money" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Money" class="form-control phucap-@iOrderPhuCap" style="width:90px;padding:0" />
                                                            <input type="hidden" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Id" value="@phucapEntity.Id" />
                                                            <input type="hidden" class="codePhuCap" value="@iOrderPhuCap" />
                                                        }
                                                        else
                                                        {
                                                            <input value="0" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Money" class="form-control phucap-@iOrderPhuCap" style="width:90px;padding:0" />
                                                            <input type="hidden" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Code" value="01-002" />
                                                            <input type="hidden" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].MaSo" value="@pc.MaSo" />
                                                            <input type="hidden" class="codePhuCap" value="@iOrderPhuCap" />
                                                        }
                                                        iOrderPhuCap++;
                                                    }
                                                </td>
                                                <td>
                                                    @{
                                                        phucapEntity = pc.Phucaps.Find(m => m.Code == "02-003");
                                                        if (phucapEntity != null)
                                                        {
                                                            <input value="@phucapEntity.Money" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Money" class="form-control phucap-@iOrderPhuCap" style="width:90px;padding:0" />
                                                            <input type="hidden" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Id" value="@phucapEntity.Id" />
                                                            <input type="hidden" class="codePhuCap" value="@iOrderPhuCap" />
                                                        }
                                                        else
                                                        {
                                                            <input value="0" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Money" class="form-control phucap-@iOrderPhuCap" style="width:90px;padding:0" />
                                                            <input type="hidden" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Code" value="01-002" />
                                                            <input type="hidden" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].MaSo" value="@pc.MaSo" />
                                                            <input type="hidden" class="codePhuCap" value="@iOrderPhuCap" />
                                                        }
                                                        iOrderPhuCap++;
                                                    }
                                                </td>
                                                <td>
                                                    @{
                                                        phucapEntity = pc.Phucaps.Find(m => m.Code == "02-008");
                                                        if (phucapEntity != null)
                                                        {
                                                            <input value="@phucapEntity.Money" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Money" class="form-control phucap-@iOrderPhuCap" style="width:90px;padding:0" />
                                                            <input type="hidden" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Id" value="@phucapEntity.Id" />
                                                            <input type="hidden" class="codePhuCap" value="@iOrderPhuCap" />
                                                        }
                                                        else
                                                        {
                                                            <input value="0" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Money" class="form-control phucap-@iOrderPhuCap" style="width:90px;padding:0" />
                                                            <input type="hidden" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].Code" value="01-002" />
                                                            <input type="hidden" name="SalaryThangBangPhuCapPhucLois[@iOrderPhuCap].MaSo" value="@pc.MaSo" />
                                                            <input type="hidden" class="codePhuCap" value="@iOrderPhuCap" />
                                                        }
                                                        iOrderPhuCap++;
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </div>
                        </div>

                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <button class="btn btn-info btn-list d-none" data-toggle="tooltip" title="Bấm trở về thang bảng lương.">
                                    <i class="icon icon-back"></i>Trở về
                                </button>
                                <button type="submit" class="btn btn-danger btnSubmitThangBangLuongLaw" data-toggle="tooltip" title="Bấm cập nhật thang bảng lương."><i class="icon-save"></i>&nbsp;Cập nhật thang bảng lương</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/thang-bang-luong-law-update.js?@DateTime.Now.Ticks"></script>
}



