@using Common.Utilities;
@using ViewModels;
@model ThangBangLuongViewModel
@{
    Layout = "~/Views/Shared/_LayoutSocialFbFS.cshtml";
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
    var rightSalaryReal = false;
    if (!string.IsNullOrEmpty(login))
    {
        rightSalaryReal = true;
    }
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Thang bảng lương</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangBangLuongReal/@Constants.LinkSalary.Update">THANG LƯƠNG</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN -->
    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="real" role="tabpanel" aria-labelledby="real-tab">
                <div class="row mb-3">
                    <div class="col-12">
                        <button class="btn btn-success btn-edit-real" data-toggle="tooltip" title="Bấm thay đổi thang bảng lương.">
                            <i class="icon icon-edit"></i>Chỉnh sửa
                        </button>
                        <a class="btn btn-info d-none" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangBangLuongReal/@Constants.LinkSalary.Export" data-toggle="tooltip" title="Xuất ra tài liệu file excel.">
                            <i class="fas fa-download"></i> Xuất excel
                        </a>
                    </div>
                </div>

                <div class="mode-edit-real">
                    <form action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangBangLuongReal/@Constants.LinkSalary.Update" method="post" class="data-form">
                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <a href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangBangLuongReal" class="btn btn-info btn-list-real" data-toggle="tooltip" title="Bấm trở về thang bảng lương.">
                                    <i class="icon icon-back"></i>Trở về
                                </a>
                                <button type="submit" class="btn btn-danger btnSubmitThangBangLuongReal" data-toggle="tooltip" title="Bấm cập nhật thang bảng lương."><i class="icon-save"></i>&nbsp;Cập nhật thang bảng lương</button>
                            </div>
                        </div>

                        <input type="hidden" id="hidCalculatorThangBangLuongReal" value="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangBangLuongRealCalculator" />
                        <div class="row mb-3">
                            <div class="col-12">
                                Mức lương tối thiểu mà doanh nghiệp đang áp dụng (đồng/tháng):
                                <input class="form-control form-control-lg toithieuvungdoanhnghiepapdung" name="SalaryMucLuongVung.ToiThieuVungDoanhNghiepApDung" value="@(Math.Round((double)Model.SalaryMucLuongVung.ToiThieuVungDoanhNghiepApDung / 1000d, 0) * 1000)"/>
                                <input type="hidden" name="SalaryMucLuongVung.ToiThieuVungQuiDinh" value="@Model.SalaryMucLuongVung.ToiThieuVungQuiDinh"/>
                                <input type="hidden" name="SalaryMucLuongVung.Id" value="@Model.SalaryMucLuongVung.Id"/>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 mb-3">
                                <b>
                                    II/ HỆ THỐNG THANG LƯƠNG:
                                </b>
                                (ĐVT:  đồng)
                            </div>
                            @*<div class="col-12 mb-3">
                                <button type="button" style="cursor:pointer" class="btn btn-link new-vi-tri-btn">
                                    <i class="icon-add-to-list mr-1"></i> Tạo vị trí mới
                                </button>
                            </div>*@
                            @{
                                var levelMaxReal = 10;
                                var levelMaxEditReal = 10;
                                <div class="col-12 table-responsive-sm">
                                    <table class="table table-responsive-sm table-bordered table-salary-level">
                                        <tr style="background-color:yellow!important">
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>STT</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>VỊ TRÍ</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>HỆ SỐ</th>
                                            <th rowspan="2" style="vertical-align:middle;font-weight:bold" nowrap>ĐIỂM THAM KHẢO</th>
                                            <td colspan="@levelMaxEditReal" style="text-align:center;font-weight:bold">BẬC LƯƠNG</td>
                                        </tr>
                                        <tr style="background-color:yellow!important">
                                            @for (var ilevel = 1; ilevel <= levelMaxEditReal; ilevel++)
                                            {
                                                <td style="text-align:center; color:red">@ilevel</td>
                                            }
                                        </tr>
                                        <tbody>
                                            @{
                                                var sTTReal = 1;
                                                int editCode = 0;
                                                var groupsReal = (from s in Model.SalaryThangBangLuongs
                                                                  group s by new
                                                                  {
                                                                      s.ViTri,
                                                                      s.ViTriCode
                                                                  }
                                            into l
                                                                  select new
                                                                  {
                                                                      ViTri = l.Key.ViTri,
                                                                      ViTriCode = l.Key.ViTriCode,
                                                                      Salaries = l.ToList(),
                                                                  }).ToList();
                                                // base VI TRI
                                                foreach (var group in groupsReal)
                                                {
                                                    <tr>
                                                        <td style="background-color:white">
                                                            @sTTReal
                                                        </td>
                                                        <td nowrap>@group.ViTri</td>
                                                        <td>
                                                            <input type="hidden" value="@editCode" class="editCode" />
                                                            <!-- Update base VITRICODE He So vs Money from bac 1; from bac 1 => calculator up to 10 -->
                                                            <input value="@group.Salaries[0].HeSo" name="SalaryThangBangLuongs[@editCode].HeSo" class="form-control heso-@editCode" style="width:70px;" />
                                                            <input type="hidden" class="codeHeSo" value="@editCode" />
                                                            <input type="hidden" name="SalaryThangBangLuongs[@editCode].ViTriCode" value="@group.Salaries[0].ViTriCode" class="vitricode-@editCode" />
                                                            <input type="hidden" name="SalaryThangBangLuongs[@editCode].Id" value="@group.Salaries[0].Id" class="id-@editCode" />
                                                        </td>
                                                        <td>
                                                            <input value="@(Math.Round((double)group.Salaries[0].MucLuong / 1000d, 0) * 1000)" name="SalaryThangBangLuongs[@editCode].MucLuong" class="form-control mucluong-@editCode mucluongthamkhao" />
                                                            <input type="hidden" class="codeMucLuong" value="@editCode" />
                                                        </td>
                                                        @{
                                                            if (group.Salaries.Count >= levelMaxReal)
                                                            {
                                                                foreach (var item in group.Salaries.Where(m => m.Bac != 0).OrderBy(m => m.Bac))
                                                                {
                                                                    <td class="mucluongresult-@item.Id" style="vertical-align:middle">@String.Format("{0:#,###,###}", Math.Round((double)item.MucLuong / 1000d, 0) * 1000)</td>
                                                                }
                                                            }
                                                            else
                                                            {
                                                                var iMissing = 1;
                                                                foreach (var item in group.Salaries.Where(m => m.Bac != 0).OrderBy(m => m.Bac))
                                                                {
                                                                    if (item.Bac == iMissing)
                                                                    {
                                                                        <td class="mucluongresult-@item.Id" style="vertical-align:middle">@String.Format("{0:#,###,###}", Math.Round((double)item.MucLuong / 1000d, 0) * 1000)</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <td>0</td>
                                                                    }
                                                                    iMissing++;
                                                                }
                                                            }
                                                        }
                                                    </tr>
                                                    sTTReal++;
                                                    editCode++;
                                                }
                                                    <tr>
                                                        <td style="background-color:white">
                                                            @sTTReal
                                                        </td>
                                                        <td nowrap>
                                                            <input name="SalaryThangBangLuongs[@editCode].ViTri" class="form-control" />
                                                        </td>
                                                        <td>
                                                            <input type="hidden" value="@editCode" class="editCode" />
                                                            <input value="1" name="SalaryThangBangLuongs[@editCode].HeSo" class="form-control heso-@editCode" style="width:70px;" />
                                                            <input type="hidden" value="new" class="id-@editCode" />
                                                            <input type="hidden" class="codeHeSo" value="@editCode" />
                                                        </td>
                                                        <td>
                                                            <input value="@(Math.Round((double)Model.SalaryMucLuongVung.ToiThieuVungDoanhNghiepApDung / 1000d, 0) * 1000)" name="SalaryThangBangLuongs[@editCode].MucLuong" class="form-control mucluong-@editCode mucluongthamkhao" />
                                                            <input type="hidden" class="codeMucLuong" value="@editCode" />
                                                        </td>
                                                        @{
                                                            decimal value = Model.SalaryMucLuongVung.ToiThieuVungDoanhNghiepApDung;
                                                            for (var ibac = 1; ibac<= levelMaxReal; ibac++)
                                                            {
                                                                value = value * 1;
                                                                <td class="mucluongresult-new-@ibac" style="vertical-align:middle">@String.Format("{0:#,###,###}", value)</td>
                                                            }
                                                        }
                                                    </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                        </div>

                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <button class="btn btn-info btn-list d-none" data-toggle="tooltip" title="Bấm trở về thang bảng lương.">
                                    <i class="icon icon-back"></i>Trở về
                                </button>
                                <button type="submit" class="btn btn-danger btnSubmitThangBangLuongReal" data-toggle="tooltip" title="Bấm cập nhật thang bảng lương."><i class="icon-save"></i>&nbsp;Cập nhật thang bảng lương</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/thang-bang-luong-real-update.js?@DateTime.Now.Ticks"></script>
}



