@using Common.Utilities;
@using ViewModels;
@model BangLuongViewModel
@{
    
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
}
<link href="~/assets/wingman/css/big-screen.css" rel="stylesheet" />
<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Thang bảng lương</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.ThangLuong/@Constants.LinkSalary.Update">THANG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.BangLuong/@Constants.LinkSalary.Update">BẢNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Timer">CHẤM CÔNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.SaleKPIEmployee/@Constants.LinkSalary.Update">KINH DOANH</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.LogisticCong/@Constants.LinkSalary.Update">LOGISTICS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Credits/@Constants.LinkSalary.Update">VAY & TẠM ỨNG</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN -->
    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="real" role="tabpanel" aria-labelledby="real-tab">
                <div class="container">
                    <div class="card card-sm">
                        <div class="card-header bg-secondary d-flex justify-content-between align-items-center">
                            <div>
                                <h6>HỆ THỐNG THANG LƯƠNG</h6>(ĐVT: 1,000 đồng)
                            </div>
                        </div>
                    </div>

                    <form action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.VanPhong/@Constants.LinkSalary.ThangLuong/@Constants.ActionLink.Update" method="post" class="data-form">
                        <input type="hidden" asp-for="ThangBangLuong.Id" />
                        <input type="hidden" asp-for="ThangBangLuong.Month" />
                        <input type="hidden" asp-for="ThangBangLuong.Year" />
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Vị trí thang lương (Chức vụ)</label>
                                    <input asp-for="ThangBangLuong.ViTriName" class="form-control form-control-lg" autofocus />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Điểm tham khảo</label>
                                    <input asp-for="ThangBangLuong.MucLuong" class="form-control form-control-lg muc-luong" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Hệ số</label>
                                    <input asp-for="ThangBangLuong.TiLe" class="form-control form-control-lg he-so" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Thời điểm áp dụng</label>
                                    <select class="custom-select form-control-lg">
                                        <option value="">Chọn</option>
                                        @foreach (var item in Model.MonthYears)
                                        {
                                            <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Nơi làm việc</label>
                                    <select asp-for="CongTyChiNhanh" class="form-control form-control-lg">
                                        <option value="">Chọn</option>
                                        @foreach (var item in Model.CongTyChiNhanhs)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Khối chức năng</label>
                                    <select asp-for="KhoiChucNang" class="form-control form-control-lg">
                                        <option value="">Chọn</option>
                                        @foreach (var item in Model.KhoiChucNangs)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Phòng ban</label>
                                    <select asp-for="PhongBan" class="form-control form-control-lg">
                                        <option value="">Chọn</option>
                                        @foreach (var item in Model.PhongBans)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="control-label">Phòng ban</label>
                                    <select asp-for="BoPhan" class="form-control form-control-lg">
                                        <option value="">Chọn</option>
                                        @foreach (var item in Model.BoPhans)
                                        {
                                            <option value="@item.Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="mr-2">
                                <button class="btn btn-info btn-list d-none" data-toggle="tooltip" title="Bấm trở về thang bảng lương.">
                                    <i class="icon icon-back"></i>Trở về
                                </button>
                                <button type="submit" class="btn btn-danger btnSubmitThangBangLuongReal" data-toggle="tooltip" title="Bấm cập nhật thang lương."><i class="icon-save"></i>&nbsp;Cập nhật</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/salaries/thang-luong/data.js?@Constants.VersionJs"></script>
}



