@using Common.Utilities;
@using ViewModels;
@model BangLuongViewModel
@{
    Layout = "~/Views/Shared/_LayoutSocialFbFS.cshtml";
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
}

<style>
    #myProgress {
        width: 100%;
        background-color: grey;
    }

    #myBar {
        width: 1%;
        height: 30px;
        background-color: green;
    }

    .employeekpi tbody th:nth-child(3), .employeekpi tbody td:nth-child(3) {
        position: sticky;
        left: 0px;
    }

    .employeekpi tbody td:nth-child(3) {
        background-color: lightgoldenrodyellow;
    }

    .kpi tbody th:nth-child(2), .kpi tbody td:nth-child(2) {
        position: sticky;
        left: 0px;
    }

    .kpi tbody td:nth-child(2) {
        background-color: lightgoldenrodyellow;
    }
</style>

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Dữ liệu ứng lương</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Credits/@Constants.ActionLink.Update">VAY & TẠM ỨNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.CongTong/@Constants.ActionLink.Update">CÔNG TỔNG & HỔ TRỢ CƠM</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.BangLuong/@Constants.ActionLink.Update">BẢNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Timer">CHẤM CÔNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Setting/@Constants.ActionLink.Update">THAM SỐ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="law" role="tabpanel" aria-labelledby="law-tab">
                <div class="container">
                    <div class="card card-sm">
                        <div class="card-header bg-secondary d-flex justify-content-between align-items-center">
                            <div>
                                <h6>Ứng lương</h6>(ĐVT: đồng)
                            </div>
                            <form class="d-flex align-items-center" method="get" action="/@Constants.LinkCredit.Main/@Constants.LinkCredit.CreditsNM/@Constants.ActionLink.Update" id="form-main">
                                <span class="mr-2 text-muted text-small text-nowrap">Tháng:</span>
                                <select asp-for="thang" class="custom-select ddl-times">
                                    @{
                                        foreach (var item in Model.MonthYears)
                                        {
                                            <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                        }
                                    }
                                </select>
                            </form>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <a href="/@Constants.LinkCredit.Main/@Constants.LinkCredit.CreditsNM" class="btn btn-default btn-list" data-toggle="tooltip" title="Bấm trở về.">
                                <i class="icon icon-back"></i>Trở về
                            </a>
                            <a href="/@Constants.LinkCredit.Main/@Constants.LinkCredit.Template" class="btn btn-success btn-list" data-toggle="tooltip" title="Bấm tải mẫu dữ liệu.">
                                <i class="icon icon-back"></i>Tải mẫu dữ liệu
                            </a>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <form method="post" action="/@Constants.LinkCredit.Main/@Constants.LinkCredit.CreditImport" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-4">
                                        <input type="file" name="files" class="form-control fUpload" />
                                    </div>
                                    <div class="col-md-8">
                                        <input type="button" class="btn btn-danger btnUpload" value="Tải lên" />
                                    </div>
                                </div>
                                <br />
                                <div class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%"></div>
                                </div>
                                <div id="dvData"></div>
                            </form>
                        </div>
                    </div>

                    <form action="/@Constants.LinkCredit.Main/@Constants.LinkCredit.CreditsNM/@Constants.ActionLink.Update" method="post" class="data-form">
                        <input type="hidden" name="thang" value="@Model.thang" />
                        <input type="hidden" id="hidCalculator" value="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Factory/@Constants.LinkSalary.Calculator" />
                        <div class="row mb-3">
                            <div class="col-md-3 col-sm-6 col-12">
                                <button type="submit" class="btn btn-lg btn-block btn-danger btn-submit" data-toggle="tooltip" title="Bấm cập nhật dữ liệu."><i class="icon-save"></i>&nbsp;Cập nhật</button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-12 table-responsive-sm">
                                <table class="table table-responsive-sm table-bordered table-salary-level">
                                    <tr style="background-color:yellow!important">
                                        <th style="vertical-align:middle;font-weight:bold" nowrap>#</th>
                                        <th style="vertical-align:middle;font-weight:bold" nowrap>Mã NV</th>
                                        <th style="vertical-align:middle;font-weight:bold" nowrap>Họ và tên</th>
                                        <th style="vertical-align:middle;font-weight:bold" nowrap>Chức vụ</th>
                                        <th style="vertical-align:middle;font-weight:bold" nowrap>Ứng lương</th>
                                    </tr>
                                    <tbody>
                                        @{
                                            int i = 1;
                                            int iEntity = 0;
                                            foreach (var item in Model.SalaryCredits)
                                            {
                                                <tr class="tr-@iEntity" data-id="@item.Id">
                                                    <td>
                                                        @i
                                                        <input type="hidden" asp-for="SalaryCredits[iEntity].Id" />
                                                    </td>
                                                    <td>@item.MaNhanVien</td>
                                                    <td>@item.FullName</td>
                                                    <td>@item.ChucVu</td>
                                                    <td>
                                                        <input value="@Math.Round(Model.SalaryCredits[iEntity].UngLuong, 0)" name="SalaryCredits[@iEntity].UngLuong" class="form-control width100 numeric ungluong-@iEntity" data-id="ungluong-@iEntity" />
                                                    </td>
                                                </tr>
                                                i++;
                                                iEntity++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/credit-nha-may-update.js?@DateTime.Now.Ticks"></script>
}



