@using Common.Utilities;
@using Common.Enums;

<!doctype html>
<html lang="en">
<head>
    <!--speed test-->
    <script type="text/javascript">
        var start = Date.now();
    </script>

    <title>@Html.Raw(ViewBag.Title)</title>
    <meta charset="utf-8">
    <meta name="robots" content="@Html.Raw(ViewBag.Robots)" />
    <meta name="keywords" content="@Html.Raw(ViewBag.KeyWords)">
    <meta name="description" content="@Html.Raw(ViewBag.Description)">
    <meta name="author" content="@Html.Raw(ViewBag.MetaAuthor)">
    <meta property="og:url" content="@Html.Raw(ViewBag.OgUrl)" />
    <meta property="og:type" content="website">
    <meta property="og:title" content="@Html.Raw(ViewBag.OgTitle)" />
    <meta property="og:description" content="@Html.Raw(ViewBag.OgDescription)" />

    <link rel="canonical" href="@Html.Raw(ViewBag.Canonical)" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
    <link href="~/lib/jquery-ui-1.12.1/jquery-ui.min.css" rel="stylesheet">

    @*<link href="~/assets/wingman/fonts/rubik300-400-400i-500.css" rel="stylesheet" />*@
    <link href="~/lib/fontawesome-free-5.3.1-web/css/all.css" rel="stylesheet">
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">*@
    <link href="~/assets/wingman/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/assets/wingman/css/entypo.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/lib/zoom/zoom.css" rel="stylesheet" />
    <!--Bootstrap 4.1.0-->
    <link href="~/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/assets/wingman/css/theme.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/lib/bootstrap-multiselect/dist/css/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/lib/datetimepicker-tempusdominus/css/tempusdominus-bootstrap-4.css" rel="stylesheet" />
    <link href="~/lib/daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="~/lib/select2/select2.min.css" rel="stylesheet" />
    <link href="~/lib/select2/select2-bootstrap.min.css" rel="stylesheet" />
    <link href="~/assets/wingman/css/custom.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/assets/wingman/css/screen.css" rel="stylesheet" type="text/css" media="all" />


    @RenderSection("css", required: false)

    <!-- Global site tag (gtag.js) - Google Analytics -->
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-52115242-13"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-52115242-13');
        </script>*@
    <script type="text/javascript" src="~/lib/jquery3.2.1/dist/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/lib/imsky-holder-8220898/holder.min.js"></script>
</head>

<body>
    @{
        var login = User.Identity.Name;
        var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
        var rightSystem = false;
        var rightHr = false;
        var rightLuong = false;
        var rightLuongReal = false;
        var rightNhaMay = false;
        if (!string.IsNullOrEmpty(login))
        {
            rightSystem = Utility.IsRight(login, Constants.Rights.System, (int)ERights.View);
            rightHr = Utility.IsRight(login, Constants.Rights.HR, (int)ERights.View);
            rightLuong = Utility.IsRight(login, Constants.Rights.Luong, (int)ERights.View);
            rightLuongReal = Utility.IsRight(login, Constants.Rights.LuongReal, (int)ERights.View);
            rightNhaMay = Utility.IsRight(login, Constants.Rights.NhaMay, (int)ERights.View);
        }
    }

    @if (ViewData["Disable"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewData["Disable"]
        </div>
    }

    <div class="nav-container">
        <div class="bg-light navbar-light" data-sticky="top">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/">
                        @*<img alt="Tribat" src="~/assets/wingman/img/logo-white.svg" />*@
                        <img alt="Tribat" src="~/images/logo.png" style="width:120px; height:30px" />
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="icon-menu h4"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item d-none">
                                <a href="/" class="nav-link">Trang chủ</a>
                            </li>
                            @if (rightSystem)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown">Administrator</a>
                                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                                        <a class="dropdown-item" href="/r-u/phan-quyen/">
                                            <span class="h6 mb-0">Phân quyền</span>
                                            <p class="text-small text-muted">Configuration information system</p>
                                        </a>
                                        <div class="dropdown-divider"></div>

                                        <a class="dropdown-item" href="/st/cai-dat/">
                                            <span class="h6 mb-0">Cài đặt</span>
                                            <p class="text-small text-muted">Configuration information system</p>
                                        </a>
                                        <div class="dropdown-divider"></div>

                                        <a class="dropdown-item" href="/text/">
                                            <span class="h6 mb-0">Nội dung</span>
                                            <p class="text-small text-muted">Multi languages display control</p>
                                        </a>
                                    </div>
                                </li>
                            }
                            @if (rightLuong)
                            {
                                var displayLaw = string.Empty;
                                @if (rightLuongReal)
                                {
                                    displayLaw = "BHXH";
                                }
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"><i class="fas fa-dollar-sign"></i> Lương</a>
                                    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                                        <a class="dropdown-item" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangBangLuongLaw">
                                            <span class="h6 mb-0">Thang bảng lương @displayLaw</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.BangLuongLaw">
                                            <span class="h6 mb-0">Bảng lương @displayLaw</span>
                                        </a>
                                        @if (rightLuongReal)
                                        {
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangBangLuongReal">
                                                <span class="h6 mb-0">Thang bảng lương</span>
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.BangLuongReal">
                                                <span class="h6 mb-0">Bảng lương</span>
                                            </a>
                                        }
                                    </div>
                                </li>
                            }
                            <li class="nav-item dropdown d-none">
                                <a class="nav-link dropdown-toggle" href="#" id="componentsDropdown" role="button" data-toggle="dropdown">Hướng dẫn</a>
                                <div class="dropdown-menu" aria-labelledby="componentsDropdown">
                                    <a class="dropdown-item" href="/tai-lieu/nhan-su">Nhân sự</a>
                                    <a class="dropdown-item" href="/tai-lieu/hanh-chinh">Hành chính</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a href="/@Constants.LinkHr.Main/@Constants.LinkHr.Human/@Constants.LinkHr.Information/@login" class="nav-link" data-toggle="tooltip" title="Bấm vô để xem thông tin tài khoản."><i class="fas fa-user-shield"></i> Thông tin</a>
                            </li>
                            <li class="nav-item">
                                <a href="/@Constants.LinkLeave.Main/@Constants.LinkLeave.Index" class="nav-link" data-toggle="tooltip" title="Bấm vô tạo nghỉ phép, lịch sử nghỉ phép."><i class="far fa-calendar"></i> Nghỉ phép</a>
                            </li>
                            <li class="nav-item">
                                <a href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Index" class="nav-link" data-toggle="tooltip" title="Bấm vô xem lịch sử chấm công, xác nhận công."><i class="fas fa-fingerprint"></i> Chấm công</a>
                            </li>
                            <li class="nav-item">
                                <span data-toggle="modal" data-target="#pwdModal">
                                    <a href="javascript:;" class="nav-link" title="Bấm thay đổi mật khẩu." data-toggle="tooltip">
                                        <i class="fas fa-key"></i> Thay đổi mật khẩu
                                    </a>
                                </span>
                            </li>
                            <li class="nav-item">
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="navbar-right logout-form" id="logout-form-layout">
                                    <a href="#" onclick="document.getElementById('logout-form-layout').submit()" class="nav-link" title="Bấm vô để thoát tài khoản." data-toggle="tooltip">
                                        <i class="fas fa-sign-out-alt"></i> Đăng xuất
                                    </a>
                                </form>
                            </li>
                        </ul>
                        <form class="form-inline col p-0 pl-md-2 pr-md-3 d-none">
                            <input class="form-control w-100 common-search" type="search" placeholder="Tìm kiếm" aria-label="Tìm kiếm" onsearch="OnSearch(this)" />
                        </form>

                        <ul class="navbar-nav d-none" id="ownerInfo">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle dropdown-toggle-no-arrow p-lg-0" href="/" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img alt="Thông tin nhân viên" src="http://via.placeholder.com/36x36" class="avatar avatar-xs" />
                                    <span class="badge badge-danger">8</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdown01">
                                    <a class="dropdown-item d-none" href="/notifications">Thông báo <span class="badge badge-danger">8</span></a>
                                    <a class="dropdown-item" href="/@Constants.LinkHr.Main/@Constants.LinkHr.Human/@Constants.LinkHr.Information/@login">Thông tin</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item d-none" href="/cai-dat">Cài đặt</a>
                                    <a class="dropdown-item d-none" href="#">Nhóm</a>

                                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" class="navbar-right logout-form">
                                        <button type="submit" class="btn btn-link dropdown-item">Đăng xuất</button>
                                    </form>
                                    <button type="button" class="btn btn-link dropdown-item btn-change-pwd" data-toggle="modal" data-target="#pwdModal">
                                        Thay đổi mật khẩu
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <script id="tmplOwnerInfo" type="text/x-jsrender">
                            <a class="nav-link dropdown-toggle dropdown-toggle-no-arrow p-lg-0" href="/@Constants.LinkHr.Main/@Constants.LinkHr.Human/@Constants.LinkHr.Information/{{:ownerInformation.id}}" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img alt="{{:ownerInformation.fullName}}" src="{{:ownerInformation.avatar.path}}{{:ownerInformation.avatar.fileName}}" class="avatar avatar-xs" />
                                <span class="badge badge-danger">{{:notificationCount}}</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdown01">
                                <a class="dropdown-item d-none" href="/thong-bao">Thông báo <span class="badge badge-danger">{{:notificationCount}}</span></a>
                                <a class="dropdown-item" href="/@Constants.LinkHr.Main/@Constants.LinkHr.Human/@Constants.LinkHr.Information/@login">Thông tin</a>
                                <div class="dropdown-divider"></div>
                                <form action="/account/logout" method="post" class="navbar-right logout-form">
                                    <button type="submit" class="btn btn-link dropdown-item">Đăng xuất</button>
                                </form>
                                <button type="button" class="btn btn-link dropdown-item btn-change-pwd" data-toggle="modal" data-target="#pwdModal">
                                    Thay đổi mật khẩu
                                </button>
                            </div>
                        </script>
                    </div>
                    <!--end nav collapse-->
                </nav>
            </div>
            <!--end of container-->
        </div>
    </div>

    <div class="main-container">
        <section class="space-sm">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4 mb-4 mb-md-0 d-none">
                        <div class="card card-profile-large text-center card-info">
                            <div class="card-header">
                                <img alt="Đang cập nhật" src="http://via.placeholder.com/354x167" class="bg-image" />
                            </div>
                            <div class="card-body">
                                <a href="/@Constants.LinkHr.Main/@Constants.LinkHr.Human/@Constants.LinkHr.Information">
                                    <img alt="Đang cập nhật" src="http://via.placeholder.com/120x120" class="avatar avatar-lg" />
                                </a>
                                <div class="my-3">
                                    <div class="mb-2">
                                        <h5 class="mb-0">Đang cập nhật</h5>
                                        <span class="text-muted">Đang cập nhật</span>
                                    </div>
                                    <span class="text-small text-muted"><i class="icon-location"></i> Đang cập nhật</span>
                                </div>
                                <div class="d-none">
                                    @*<button class="btn btn-outline-primary"><i class="icon-add-user"></i> Theo dõi</button>*@
                                    @*<button class="btn btn-outline-primary">
                                            <i class="icon-mail"></i>
                                        </button>*@
                                </div>
                            </div>
                        </div>
                        <script id="tmplCardInfo" type="text/x-jsrender">
                            <div class="card-header">
                                <img alt="{{:fullName}}" src="{{:cover.path}}{{:cover.fileName}}" class="bg-image" />
                            </div>
                            <div class="card-body">
                                <a href="/@Constants.LinkHr.Main/@Constants.LinkHr.Human/@Constants.LinkHr.Information/{{:id}}">
                                    <img alt="{{:fullName}}" src="{{:avatar.path}}{{:avatar.fileName}}" class="avatar avatar-lg" />
                                </a>
                                <div class="my-3">
                                    <div class="mb-2">
                                        <h5 class="mb-0"><a href="/@Constants.LinkHr.Main/@Constants.LinkHr.Human/@Constants.LinkHr.Information/{{:id}}" alt="{{:fullName}}">{{:fullName}}</a></h5>
                                        <span class="text-muted">{{:title}} {{:function}}</span>
                                    </div>
                                    <span class="text-small text-muted"><i class="icon-location"></i> {{:addressResident}}</span>
                                </div>
                                <div class="d-none">
                                    @*<button class="btn btn-outline-primary"><i class="icon-add-user"></i> Theo dõi</button>
                                        <button class="btn btn-outline-primary">
                                                <i class="icon-mail"></i>
                                            </button>*@
                                </div>
                            </div>
                        </script>
                        <!-- end card -->

                        <div class="card card-sm card-function">
                            <div class="card-header d-flex justify-content-between">
                                <div>
                                    <a href="javascript:;" data-target="#card-body" data-toggle="collapse" aria-expanded="true">
                                        <span class="h6">Chức năng</span><i class="icon-popup"></i>
                                    </a>
                                </div>
                                @*<a href="#">Tất cả &rsaquo;</a>*@
                            </div>
                            <div class="card-body collapse show" id="card-body">
                                @if (rightHr)
                                {
                                    <a class="list-group-item d-flex justify-content-between" href="/@Constants.LinkHr.Main/@Constants.LinkHr.Human">
                                        <div>
                                            <span>Hồ sơ nhân sự</span>
                                        </div>
                                        <div>
                                            <i class="icon-chevron-right"></i>
                                        </div>
                                    </a>
                                }
                                <a class="list-group-item d-flex justify-content-between" href="/@Constants.LinkLeave.Main/@Constants.LinkLeave.Index">
                                    <div>
                                        <span>Nghỉ phép</span>
                                    </div>
                                    <div>
                                        <i class="icon-chevron-right"></i>
                                    </div>
                                </a>
                                <a class="list-group-item d-flex justify-content-between" href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Index">
                                    <div>
                                        <span>Chấm công</span>
                                    </div>
                                    <div>
                                        <i class="icon-chevron-right"></i>
                                    </div>
                                </a>
                                @if (rightLuong)
                                {
                                    <a class="list-group-item d-flex justify-content-between" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Index">
                                        <div>
                                            <span>Lương</span>
                                        </div>
                                        <div>
                                            <i class="icon-chevron-right"></i>
                                        </div>
                                    </a>
                                }
                                @if (rightHr)
                                {
                                    <a class="list-group-item d-flex justify-content-between" href="/@Constants.LinkEvaluate.Main/@Constants.LinkEvaluate.Index">
                                        <div>
                                            <span>Đánh giá</span>
                                        </div>
                                        <div>
                                            <i class="icon-chevron-right"></i>
                                        </div>
                                    </a>
                                    <a class="list-group-item d-flex justify-content-between" href="/@Constants.LinkRecruitment.Main/@Constants.LinkRecruitment.Index">
                                        <div>
                                            <span>Tuyển dụng</span>
                                        </div>
                                        <div>
                                            <i class="icon-chevron-right"></i>
                                        </div>
                                    </a>

                                    <a class="list-group-item d-flex justify-content-between" href="/@Constants.LinkSurvey.Main/@Constants.LinkSurvey.Index">
                                        <div>
                                            <span>Khảo sát</span>
                                        </div>
                                        <div>
                                            <i class="icon-chevron-right"></i>
                                        </div>
                                    </a>
                                }
                                <a class="list-group-item d-flex justify-content-between" href="/@Constants.LinkTraining.Main/@Constants.LinkTraining.Index">
                                    <div>
                                        <span>Đào tạo</span>
                                    </div>
                                    <div>
                                        <i class="icon-chevron-right"></i>
                                    </div>
                                </a>
                                @*<a class="list-group-item d-flex justify-content-between d-none" href="/@Constants.LinkNotication.Main/@Constants.LinkNotication.Index">
                                    <div>
                                        <span>Thông báo</span>
                                    </div>
                                    <div>
                                        <i class="icon-chevron-right"></i>
                                    </div>
                                </a>*@

                                @if (rightNhaMay)
                                {
                                    <!-- NHA MAY -->
                                    <a class="list-group-item d-flex justify-content-between" href="/@Constants.LinkFactory.Main/@Constants.LinkFactory.TonSx">
                                        <div>
                                            <span>Tồn sản xuất</span>
                                        </div>
                                        <div>
                                            <i class="icon-chevron-right"></i>
                                        </div>
                                    </a>
                                    <a class="list-group-item d-flex justify-content-between" href="/@Constants.LinkFactory.Main/@Constants.LinkFactory.VanHanh">
                                        <div>
                                            <span>Vận hành</span>
                                        </div>
                                        <div>
                                            <i class="icon-chevron-right"></i>
                                        </div>
                                    </a>
                                    <a class="list-group-item d-flex justify-content-between" href="/@Constants.LinkFactory.Main/@Constants.LinkFactory.PhieuInCa">
                                        <div>
                                            <span>Phiếu in ca</span>
                                        </div>
                                        <div>
                                            <i class="icon-chevron-right"></i>
                                        </div>
                                    </a>
                                }
                            </div>
                        </div>
                        <!-- end card -->

                        <div class="card card-activity d-none">
                            <div class="card-header d-flex justify-content-between">
                                <div>
                                    <span class="h6">Hoạt động</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <form class="mb-4">
                                    <input class="form-control" placeholder="Search" type="search" name="search-conversations" />
                                </form>
                                <nav class="nav flex-md-column">
                                    <a href="/activities" class="nav-link active">All</a>
                                    <a href="#" class="nav-link">
                                        <span class="badge badge-indicator badge-success mr-1">&nbsp;</span>On track
                                    </a>
                                    <a href="#" class="nav-link">
                                        <span class="badge badge-indicator badge-warning mr-1">&nbsp;</span>Falling behind
                                    </a>
                                    <a href="#" class="nav-link">
                                        <span class="badge badge-indicator badge-danger mr-1">&nbsp;</span>Needs attention
                                    </a>
                                    <a href="#" class="nav-link">
                                        <span class="badge badge-indicator badge-secondary mr-1">&nbsp;</span>Archived
                                    </a>
                                </nav>
                            </div>
                        </div>
                        <!--end of card-->

                        <div class="card card-flollow d-none">
                            <div class="card-header d-flex justify-content-between">
                                <div>
                                    <span class="h6">Followers</span>
                                </div>
                                <a href="#">View all &rsaquo;</a>
                            </div>
                            <div class="card-body">
                                <ul class="list-unstyled list-spacing-sm">
                                    @for (int i = 1; i <= 4; i++)
                                    {
                                        <li>
                                            <a class="media" href="#">
                                                <img alt="Image" src="~/assets/wingman/img/avatar-male-1.jpg" class="avatar avatar-sm mr-3" />
                                                <div class="media-body">
                                                    <span class="h6 mb-0">Daniel Cameron</span>
                                                    <span class="text-muted">Product Designer</span>
                                                </div>
                                            </a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- end card -->

                        <div class="card card-borderless bg-secondary card-future d-none">
                            <a class="card-body" href="#">
                                <div class="d-flex justify-content-between mb-3">
                                    <img alt="Image" src="~/assets/wingman/img/logo-w-gradient.svg" />
                                    <span class="title-decorative">Sponsor</span>
                                </div>
                                <span class="h6">A robust suite of styled elements and pages</span>
                            </a>
                        </div>
                        <!-- end card -->
                    </div>
                    <!--end of col-->
                    <div class="col-12 col-md-8">
                        @*<div class="alert alert-info text-small mb-0" role="alert">
                                <i class="icon-shield"></i>
                                <span>
                                    We will never distribute your email address to third parties. Read about email communication in our privacy policy.
                                </span>
                                <a href="/nhan-su/thong-tin">Xem thêm ›</a>
                            </div>*@

                        @RenderBody()

                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>

        <footer class="footer-short">
            <div class="container">
                <hr>
                <nav class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="/">
                                    <img alt="Image" src="~/images/logo.png" style="height:30px;margin-top: -15px;" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="/">Trang chủ</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="/tai-lieu/">Tài liệu</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="/v/phien-ban/">Phiên bản</a>
                            </li>
                        </ul>
                    </div>
                    <!--end of col-->
                    <div class="col-auto text-sm-right d-none">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="/"><i class="socicon-twitter"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/tribat.saigonxanh" target="_blank"><i class="socicon-facebook"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!--end of col-->
                </nav>
                <!--end of row-->
                <div class="row">
                    <div class="col">
                        <small>&copy; 2018 Tribat</small>
                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </footer>
    </div>

    <div class="alert alert-light d-none" role="alert">
        Account beta testing: sysadmin - pwd: 06021988
    </div>

    <div class="modal fade" id="pwdModal" tabindex="-1" role="dialog" aria-labelledby="pwdModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modalPwd">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Thay đổi mật khẩu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="data-form-change-pwd">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Mật khẩu mới:</label>
                            <input type="password" class="form-control form-control-lg" name="newpassword" id="newpassword" />
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Nhập lại mật khẩu mới:</label>
                            <input type="password" class="form-control form-control-lg" id="renewpassword" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                        <button type="button" class="btn btn-primary btn-save-pwd">Lưu mật khẩu mới</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <input type="hidden" value=""
           name="clientScreenHeight" id="clientScreenHeight" />
    <input type="hidden" value=""
           name="clientScreenWidth" id="clientScreenWidth" />


    <script>
        $(document).ready(function () {
            $("#clientScreenWidth").val($(window).width());
            $("#clientScreenHeight").val($(window).height());
        });
    </script>
    <script type="text/javascript" src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/lib/popper/popper.min.js"></script>
    <script type="text/javascript" src="~/assets/wingman/js/jquery.smartWizard.min.js"></script>
    <script type="text/javascript" src="~/lib/flickity/flickity.pkgd.min.js"></script>
    <script type="text/javascript" src="~/assets/wingman/js/scrollMonitor.js"></script>
    <script type="text/javascript" src="~/lib/smooth-scroll/smooth-scroll.polyfills.min.js"></script>
    <script type="text/javascript" src="~/lib/prism/prism.min.js"></script>
    <script type="text/javascript" src="~/lib/zoom/zoom-vanilla.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-4.0.0-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/wingman/js/theme.js"></script>
    @*<script type="text/javascript" src="~/lib/jquery-autocomplete/jquery.autocomplete.min.js"></script>*@
    <script type="text/javascript" src="~/lib/bootstrap-multiselect/dist/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="~/lib/autosize/jquery.textarea_autosize.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap-datepicker-1.6.4-dist/locales/bootstrap-datepicker.vi.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="~/lib/moment/moment.min.js"></script>
    <script type="text/javascript" src="~/lib/moment/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="~/lib/chart.js/Chart.min.js"></script>
    <script type="text/javascript" src="~/lib/autoNumber-4-1/autoNumeric.js"></script>
    <script type="text/javascript" src="~/lib/accounting.js/accounting.min.js"></script>
    <script type="text/javascript" src="~/lib/toastr/toastr.min.js"></script>
    <script type="text/javascript" src="~/lib/daterangepicker/daterangepicker.js"></script>
    <script type="text/javascript" src="~/lib/datetimepicker-tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>
    <script type="text/javascript" src="~/lib/js-render/jsrender.min.js"></script>
    <script type="text/javascript" src="~/lib/select2/select2.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>

    @RenderSection("scripts", required: false)

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5adae73a227d3d7edc242b43/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    <script type="text/javascript">
        $(document).ready(function () {
            console.log("Time until DOMready: ", Date.now() - start);
        });
        $(window).on("load", function () {
            console.log("Time until everything loaded: ", Date.now() - start);
        });
    </script>
</body>

</html>
