@using Helpers;
@using Common.Utilities;
@using ViewModels;
@model HomeViewModel;
@{
    Layout = "~/Views/Shared/_Wingman.cshtml";
    var language = ViewData["Language"].ToString();
    var about = Model.Menu.MenusContent.Where(m => m.Code.Equals("about")).First();
    var news = Model.Menu.MenusContent.Where(m => m.Code.Equals("news")).First();
    var contact = Model.Menu.MenusContent.Where(m => m.Code.Equals("contact")).First();
}

<script src="~/lib/ResponsiveSlides.js/responsiveslides.min.js"></script>
<script src="~/js/index.js"></script>

@await Html.PartialAsync("MenuPartial", Model.Menu)

<div class="main-container">
    <ul class="rslides">
        <li><img src="~/assets/images/tempo/background/banner-1.jpg" alt=""></li>
        <li><img src="~/assets/images/tempo/background/banner-2.jpg" alt=""></li>
    </ul>

    <!--MANG CONG VIEC-->
    <section>
        <div class="container">
            <h1 class="mb-3">@Html.Raw(TextHelper.GetText(585, language))</h1>
            <ul class="row feature-list feature-list-sm">
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a href="@Model.LinkBun">
                            <img class="card-img-top" src="~/images/xu-ly-bun-2-1506648101633.jpg" alt="Xử lý - tái chế" height="152">
                        </a>
                        <div class="card-body">
                            <a href="@Model.LinkBun">
                                <h4 class="card-title">@Html.Raw(TextHelper.GetText(506, language))</h4>
                                <p class="card-text text-body">@Html.Raw(TextHelper.GetText(586, language))</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a href="@Model.LinkDatSach">
                            <img class="card-img-top" src="~/images/dat-trong-tribat-rau-mam.jpg" alt="Card image cap" height="152">
                        </a>
                        <div class="card-body">
                            <a href="@Model.LinkDatSach">
                                <h4 class="card-title">@Html.Raw(TextHelper.GetText(536, language))</h4>
                                <p class="card-text text-body">@Html.Raw(TextHelper.GetText(587, language))</p>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="col-12 col-md-6 col-lg-4">
                    <div class="card">
                        <a href="@Model.LinkDichVu">
                            <img class="card-img-top" src="/images/logistic.jpg" alt="Card image cap" height="152">
                        </a>
                        <div class="card-body">
                            <a href="@Model.LinkDichVu">
                                <h4 class="card-title">@Html.Raw(TextHelper.GetText(510, language))</h4>
                                <p class="card-text text-body">@Html.Raw(TextHelper.GetText(588, language))</p>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row justify-content-center text-center section-intro">
                <div class="col-12 col-md-9 col-lg-8">
                    <span class="title-decorative">@Html.Raw(TextHelper.GetText(546, language))</span>
                    <h2 class="display-4">@Html.Raw(TextHelper.GetText(547, language))</h2>
                    <span class="lead">@Html.Raw(TextHelper.GetText(548, language))</span>

                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-8 col-sm-10">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/2i6oFCa33Ng" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--DAT SACH-->
    <section>
        <div class="container">
            <h1 class="mb-3">@Html.Raw(TextHelper.GetText(581, language))</h1>
            <ul class="row mb-3 feature-list feature-list-sm">
                @foreach (var entity in Model.Products)
                {
                    var link = "/" + Constants.Link.Product + "/" + entity.CategoryAlias + "/" + entity.Product.Alias;
                    <li class="col-12 col-md-6 col-lg-4">
                        <div class="card card-lg">
                            <a href="@link">
                                @if (entity.Product.Images != null && entity.Product.Images.Count > 0)
                                {
                                    <img class="card-img-top" src="~/@entity.Product.Images[0].Path/@entity.Product.Images[0].FileName" alt="@entity.Product.Name">
                                }
                                else
                                {
                                    <img class="card-img-top" src="~/images/1449046872no-img.jpg" alt="@entity.Product.Name">
                                }
                            </a>
                            <div class="card-body">
                                <a href="@link">
                                    <h4 class="card-title mb-3">@entity.Product.Name</h4>
                                </a>
                                <p class="card-text">@Constants.Truncate(entity.Product.Description, 135)</p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </section>

    <!--TIN TUC-->
    @if (Model.News != null && Model.News.Count > 0)
    {
        <section>
            <div class="container">
                <div class="row justify-content-between mb-5">
                    <div class="col-auto">
                        <h3>@Html.Raw(TextHelper.GetText(584, language))</h3>
                    </div>
                    <div class="col-auto">
                        @{
                            var linkNewAll = "/" + Constants.Link.News + "/" + ViewData["CategoryNews"];
                        }
                        <a href="@linkNewAll" class="btn btn-outline-primary">@Html.Raw(TextHelper.GetText(534, language))</a>
                    </div>
                </div>
                <ul class="feature-list feature-list-sm row">
                    @{
                        foreach (var relation in Model.News)
                        {
                            var link = "/" + Constants.Link.News + "/" + ViewData["CategoryNews"] + "/" + @relation.Alias;
                            <li class="col-12 col-md-6 col-lg-4">
                                <div class="card card-lg">
                                    <a href="@link">
                                        @if (relation.Images != null && relation.Images.Count > 0)
                                        {
                                            <img src="~/@relation.Images[0].Path/@relation.Images[0].FileName" class="card-img-top" style="height:180px" alt="@relation.Name" />
                                        }
                                        else
                                        {
                                            <img src="~/images/1449046872no-img.jpg" class="card-img-top" style="height:180px" alt="@relation.Name" />
                                        }
                                    </a>
                                    <div class="card-body">
                                        <a href="@link">
                                            <h4 class="card-title mb-3">@relation.Name</h4>
                                        </a>
                                        <p class="card-text">@Constants.Truncate(relation.Description, 200)</p>
                                    </div>
                                </div>
                            </li>

                        }
                    }
                </ul>
            </div>
        </section>
    }

    <!--VIEC LAM-->
    <section class="space-xlg bg-gradient text-white" id="tim-kiem-viec-lam">
        <div class="container">
            <div class="row text-center">
                <div class="col">
                    <h3 class="h1">@Html.Raw(TextHelper.GetText(582, language))</h3>
                    <a href="/j/tuyen-dung" class="btn btn-lg btn-success">@Html.Raw(TextHelper.GetText(583, language))</a>
                </div>
            </div>
        </div>
    </section>
</div>

@await Html.PartialAsync("FooterPartial", Model.Menu)

