@using Helpers;
@using Common.Utilities;
@using ViewModels;
@model NewsViewModel;

@{
    Layout = "~/Views/Shared/_Wingman.cshtml";
    var language = ViewData["Language"].ToString();
}

@await Html.PartialAsync("MenuPartial", Model.Menu)

@if (Model.Entities != null && Model.Entities.Count > 0)
{
    <div class="main-container">
        <section class="flush-with-above">
            <div class="container">
                <ul class="feature-list feature-list-lg">
                    @foreach (var item in Model.Entities)
                    {
                        var link = "/" + Constants.Link.News + "/" + ViewData["Category"] + "/" + @item.Alias;
                        <li class="row justify-content-around align-items-center">
                            <div class="col-12 col-md-6 col-lg-5">
                                <a href="@link" class="d-block mb-3">
                                    @if (item.Images != null && item.Images.Count > 0)
                                    {
                                        <img src="~/@item.Images[0].Path/@item.Images[0].FileName" class="img-fluid rounded" alt="@item.Name" />
                                    }
                                    else
                                    {
                                        <img src="~/images/1449046872no-img.jpg" class="img-fluid rounded" alt="@item.Name" />
                                    }
                                </a>
                            </div>
                            <div class="col-12 col-md-6 col-lg-5">
                                <h5><a href="@link" alt="@item.Name">@item.Name</a></h5>
                                <p>
                                    @Constants.Truncate(item.Description, 200)
                                </p>
                                <a href="@link"> &rsaquo;</a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </section>

        <section class="space-lg">
            <img alt="Image" src="~/assets/wingman/img/graphic-bg-clouds-5.png" class="bg-image" />
            <div class="container">
                <div class="row mb-4 justify-content-center text-center">
                    <div class="col-12 col-md-10 col-lg-9">
                        <h1 class="display-4">@Html.Raw(TextHelper.GetText(549, language))</h1>
                        <span class="lead">@Html.Raw(TextHelper.GetText(550, language))</span>
                    </div>
                </div>
                <form>
                    <div class="form-row justify-content-center">
                        <div class="col-auto col-md-5 col-lg-4">
                            <div class="form-group">
                                <input class="form-control form-control-lg" type="email" name="email" placeholder="Email" />
                                <small>@Html.Raw(TextHelper.GetText(551, language))</small>
                            </div>
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-lg btn-primary">@Html.Raw(TextHelper.GetText(552, language))</button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>
}
else
{
    @await Html.PartialAsync("UpdatePartial")
}

@await Html.PartialAsync("FooterPartial", Model.Menu)
