@using Common.Utilities;
@using Helpers;
@using ViewModels;
@model NewsDetailViewModel;

@{
    Layout = "~/Views/Shared/_Wingman.cshtml";
    var language = ViewData["Language"].ToString();

    //Sharing
    var host = Context.Request.Host;
    string currentUrl = Context.Request.Scheme + "://" + Context.Request.Host + Context.Request.Path;
    string enc = System.Net.WebUtility.UrlEncode(currentUrl);
    string text = System.Net.WebUtility.UrlEncode(Model.Entity.Name);
}

@await Html.PartialAsync("MenuPartial", Model.Menu)

@if (Model.Entity != null)
{
    <div class="main-container">
        <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">@Html.Raw(TextHelper.GetText(525, language))</a>
                            </li>
                            @foreach (var breadcum in Model.Breadcrumbs)
                            {
                                <li class="breadcrumb-item">
                                    <a href="@breadcum.Url">@breadcum.Name</a>
                                </li>
                            }
                            <li class="breadcrumb-item active" aria-current="page">@Model.Entity.Name</li>
                        </ol>
                    </div>
                </div>
            </div>
        </nav>
        <section class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>@Model.Entity.Name</h1>
                        <span class="lead">@Model.Entity.Description</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        @Html.Raw(Model.Entity.Content)
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row justify-content-center mb-3">
                    <div class="col-auto text-center">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <a href="https://www.facebook.com/sharer/sharer.php?u=@enc" target="_blank" rel="noopener noreferrer nofollow">
                                    <img alt="Image" src="~/images/social/social-share-facebook.svg" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://twitter.com/intent/tweet?url=@enc&text=@text" target="_blank" rel="noopener noreferrer nofollow">
                                    <img alt="Image" src="~/images/social/social-share-twitter.svg" />
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://plus.google.com/share?url=@enc" target="_blank" rel="noopener noreferrer nofollow">
                                    <img alt="Image" src="~/images/social/social-share-google.svg" />
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section>
            <div class="container">
                <div class="row justify-content-center mb-5">
                    <div class="col-auto">
                        <h3>@Html.Raw(TextHelper.GetText(577, language))</h3>
                    </div>
                </div>
                <ul class="feature-list feature-list-sm row">
                    @{
                        foreach (var relation in Model.Relations)
                        {
                            var link = "/" + Constants.Link.News + "/" + ViewData["Category"] + "/" + @relation.Alias;
                            <li class="col-12 col-md-6 col-lg-4">
                                <div class="card card-lg">
                                    <a href="@link">
                                        @if (relation.Images != null && relation.Images.Count > 0)
                                        {
                                            <img src="~/@relation.Images[0].Path/@relation.Images[0].FileName" class="card-img-top" alt="@relation.Name" />
                                        }
                                        else
                                        {
                                            <img src="~/images/1449046872no-img.jpg" class="card-img-top" alt="@relation.Name" />
                                        }
                                    </a>
                                    <div class="card-body">
                                        <a href="@link">
                                            <h4 class="card-title mb-3">@relation.Name</h4>
                                        </a>
                                        <p class="card-text">@relation.Description</p>
                                    </div>
                                </div>
                            </li>

                        }
                    }
                </ul>
            </div>
        </section>
    </div>

    <div class="link-languages display-none">
        <ul>
            @foreach (var link in Model.Links)
            {
                <li data-value="@link.Url" class="@link.Language">@link.Url</li>
            }
        </ul>
    </div>
}
else
{
    @await Html.PartialAsync("UpdatePartial")
}

@await Html.PartialAsync("FooterPartial", Model.Menu)





