@using Helpers;
@using Common.Utilities;
@using ViewModels;
@model ProductViewModel;

@{
    Layout = "~/Views/Shared/_Wingman.cshtml";
    var language = ViewData["Language"].ToString();
}

@await Html.PartialAsync("MenuPartial", Model.Menu)

@if (Model.Entity != null)
{
    <div class="main-container">
        <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="/">@Html.Raw(TextHelper.GetText(525, language))</a>
                            </li>
                            @foreach (var breadcum in Model.Breadcrumbs)
                            {
                                <li class="breadcrumb-item">
                                    <a href="@breadcum.Url">@breadcum.Name</a>
                                </li>
                            }
                            <li class="breadcrumb-item active" aria-current="page">@Model.Entity.Name</li>
                        </ol>
                    </div>
                </div>
            </div>
        </nav>

        <section class="bg-white space-sm">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 mb-4 mb-sm-0">
                        @if (Model.Entity.Images != null && Model.Entity.Images.Count > 0)
                        {
                            <img class="img-responsive rounded img-fluid" src="~/@Model.Entity.Images[0].Path/@Model.Entity.Images[0].FileName" alt="@Model.Entity.Name" />
                        }
                        else
                        {
                            <img class="img-responsive rounded img-fluid" src="http://via.placeholder.com/336x336" alt="@Model.Entity.Name" />
                        }
                    </div>
                    <div class="col-lg-4 d-flex flex-column justify-content-between mr-auto ml-auto">
                        <div>
                            <h1 class="mb-2">@Model.Entity.Name</h1>
                            <h2 class="lead mb-3">@Model.Entity.Description</h2>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="space-sm">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-12 col-md-8 col-lg-7">
                        <article class="content-body">
                            @Html.Raw(Model.Entity.Content)
                        </article>
                    </div>
                    <div class="col-12 col-md-4">
                        @if (Model.Relations != null && Model.Relations.Count > 0)
                        {
                            <div class="card">
                                <div class="card-header d-flex justify-content-between">
                                    <div>
                                        <span class="h6">@Html.Raw(TextHelper.GetText(576, language))</span>
                                    </div>
                                    @{var categoryLink = "/" + Constants.Link.Product + "/" + ViewData["Category"];}
                                    <a href="@categoryLink">@Html.Raw(TextHelper.GetText(534, language)) &rsaquo;</a>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled list-spacing-sm">
                                        @foreach (var relation in Model.Relations)
                                        {
                                            var link = "/" + Constants.Link.Product + "/" + ViewData["Category"] + "/" + @relation.Alias;
                                            <li>
                                                <div class="media">
                                                    <a href="@link">
                                                        @if (relation.Images != null && relation.Images.Count > 0)
                                                        {
                                                            <img src="~/@relation.Images[0].Path/@relation.Images[0].FileName" class="avatar avatar-square rounded img-relation-product mr-3" alt="@relation.Name" />
                                                        }
                                                        else
                                                        {
                                                            <img src="~/images/1449046872no-img.jpg" class="avatar avatar-square rounded mr-3" alt="@relation.Name" />
                                                        }
                                                    </a>
                                                    <div class="media-body">
                                                        <a href="@link">
                                                            <span class="h6">@relation.Name</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>

    <div class="link-languages display-none">
        <ul>
            @foreach (var link in Model.Links)
            {
                <li data-value="@link.Url" class="@link.Language">@link.Url</li>
            }
        </ul>
    </div>
}
else
{
    @await Html.PartialAsync("UpdatePartial")
}

@await Html.PartialAsync("FooterPartial", Model.Menu)