@using System;
@using System.Globalization;
@using Common.Utilities;
@using Common.Enums;
@model ViewModels.RoleUsageViewModel

@{
    Layout = "~/Views/Shared/_LayoutSocialFb.cshtml";
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/@Constants.LinkQuyen.Main">Quyền</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @Model.Name
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <form class="data-form" action="Create" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <i class="icon icon-select-arrows"></i>
                    <label class="control-label">Tài khoản</label>
                    <select id="department" class="form-control form-control-lg">
                        <option value="">--Chọn--</option>
                        @{
                            foreach (var item in Model.EmployeesSL)
                            {
                                var displayEmployee = item.FullName;
                                if (!string.IsNullOrEmpty(item.Email))
                                {
                                    displayEmployee += " - " + item.Email;
                                }
                                if (!string.IsNullOrEmpty(item.ChucVu))
                                {
                                    displayEmployee += " - " + item.ChucVu;
                                }
                                <option value="@item.Id">@displayEmployee</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <i class="icon icon-select-arrows"></i>
                    <label class="control-label">Chức vụ</label>
                    <select id="part" class="form-control form-control-lg">
                        <option value="">--Chọn--</option>
                        @{
                            foreach (var item in Model.ChucVus)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="form-group">
                    <i class="icon icon-select-arrows"></i>
                    <label class="control-label">Nhóm</label>
                    <select id="title" class="form-control form-control-lg">
                        <option value="">--Chọn--</option>
                        @{
                            foreach (var item in Model.GroupPolicies)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="form-group">
                    <button class="btn btn-success btn-lg btn-block btn-submit" type="submit"><i class="icon icon-save"></i> Lưu</button>
                </div>
            </div>
        </div>
    </form>
</div>

<div>
    <a href="/"><i class="icon icon-back"></i>Trở về</a>
</div>

@section Scripts {
    <script src="~/js/quyen/phan-quyen-data.js?@Constants.VersionJs"></script>
}
