@using System;
@using System.Globalization;
@using Common.Utilities;
@using Common.Enums;
@using ViewModels;
@model RoleUsageViewModel;

@{
    CultureInfo culture = CultureInfo.CreateSpecificCulture("en-US");
}
<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/@Constants.LinkQuyen.Main">Quyền</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @Model.Name
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <!-- MAIN -->
    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="real" role="tabpanel" aria-labelledby="real-tab">
                <div class="container">
                    <!-- FILTER -->
                    <form method="get" action="/@Constants.LinkPhanQuyen.Main/@Constants.LinkPhanQuyen.Index" id="form-main">
                        <input asp-for="Trang" type="hidden" value="1" />
                        <input asp-for="SapXep" class="sap-xep" type="hidden" />
                        <input asp-for="ThuTu" class="thu-tu" type="hidden" />
                        <div class="row">
                            <div class="col-12">
                                <span class="badge badge-primary">Tìm kiếm:</span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <span class="mr-2 text-muted text-small text-nowrap">Tài khoản:</span>
                                <select asp-for="Nhanvien" class="custom-select form-control-lg" onchange="formSubmit();">
                                    <option value="">Tất cả</option>
                                    @foreach (var item in Model.EmployeesSL)
                                    {
                                        var displayEmployee = item.FullName;
                                        if (!string.IsNullOrEmpty(item.Email))
                                        {
                                            displayEmployee += " - " + item.Email;
                                        }
                                        if (!string.IsNullOrEmpty(item.ChucVu))
                                        {
                                            displayEmployee += " - " + item.ChucVu;
                                        }
                                        <option value="@item.Id">@displayEmployee</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <span class="mr-2 text-muted text-small text-nowrap">Chức vụ:</span>
                                <select asp-for="Chucvu" class="custom-select form-control-lg" onchange="formSubmit();">
                                    <option value="">Tất cả</option>
                                    @foreach (var item in Model.ChucVus)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <span class="mr-2 text-muted text-small text-nowrap">Nhóm:</span>
                                <select asp-for="Nhom" class="custom-select form-control-lg" onchange="formSubmit();">
                                    <option value="">Tất cả</option>
                                    @foreach (var item in Model.GroupPolicies)
                                    {
                                        <option value="@item.Id">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <span>Sắp xếp theo: </span>
                                @{
                                    var sortFlagNgayDesc = "badge-default";
                                    if (Model.SapXep == "ngay" && Model.ThuTu == "desc")
                                    {
                                        sortFlagNgayDesc = "badge-success";
                                    }
                                    var sortFlagNgayAsc = "badge-default";
                                    if (Model.SapXep == "ngay" && Model.ThuTu == "asc")
                                    {
                                        sortFlagNgayAsc = "badge-success";
                                    }

                                    var sortFlagTenDesc = "badge-default";
                                    if (Model.SapXep == "ten" && Model.ThuTu == "desc")
                                    {
                                        sortFlagTenDesc = "badge-success";
                                    }
                                    var sortFlagTenAsc = "badge-default";
                                    if (Model.SapXep == "ten" && Model.ThuTu == "asc")
                                    {
                                        sortFlagTenAsc = "badge-success";
                                    }
                                    var sortFlagQuyenDesc = "badge-default";
                                    if (Model.SapXep == "quyen" && Model.ThuTu == "desc")
                                    {
                                        sortFlagQuyenDesc = "badge-success";
                                    }
                                    var sortFlagQuyenAsc = "badge-default";
                                    if (Model.SapXep == "quyen" && Model.ThuTu == "asc")
                                    {
                                        sortFlagQuyenAsc = "badge-success";
                                    }
                                    <a href="javascript:;" data-sortby="ngay" data-sortorder="asc" class="btn-sort">
                                        <span class="badge @sortFlagNgayAsc"><i class="fas fa-sort-alpha-up"></i> Ngày tăng dần</span>
                                    </a>
                                    <a href="javascript:;" data-sortby="ngay" data-sortorder="desc" class="btn-sort">
                                        <span class="badge @sortFlagNgayDesc"><i class="fas fa-sort-alpha-down"></i> Ngày giảm dần</span>
                                    </a>
                                    <a href="javascript:;" data-sortby="ten" data-sortorder="asc" class="btn-sort">
                                        <span class="badge @sortFlagTenAsc"><i class="fas fa-sort-alpha-up"></i> Tên tăng dần</span>
                                    </a>
                                    <a href="javascript:;" data-sortby="ten" data-sortorder="desc" class="btn-sort">
                                        <span class="badge @sortFlagTenDesc"><i class="fas fa-sort-alpha-down"></i> Tên giảm dần</span>
                                    </a>
                                    <a href="javascript:;" data-sortby="quyen" data-sortorder="asc" class="btn-sort">
                                        <span class="badge @sortFlagQuyenAsc"><i class="fas fa-sort-alpha-up"></i> Quyền tăng dần</span>
                                    </a>
                                    <a href="javascript:;" data-sortby="quyen" data-sortorder="desc" class="btn-sort">
                                        <span class="badge @sortFlagQuyenDesc"><i class="fas fa-sort-alpha-down"></i> Quyền giảm dần</span>
                                    </a>
                                }
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        @{
                            <div class="col-12">Tìm thấy <span class="badge badge-info">@Model.Records</span> kết quả.</div>
                            <div class="col-12 table-responsive mb-1">
                                <table class="table table-sm table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Phân loại</th>
                                            <th scope="col">Tài khoản/Chức vụ/Nhóm</th>
                                            <th scope="col">Quyền</th>
                                            <th scope="col">Thông tin</th>
                                            <th scope="col">Thời hạn</th>
                                            <th scope="col">Ngày cập nhật</th>
                                            <th scope="col">Người cập nhật</th>
                                        </tr>
                                    </thead>
                                    <tbody class="font-14">
                                        @{
                                            var i = (Model.Trang - 1) * Model.PageSize + 1;
                                            foreach (var item in Model.RoleUsages)
                                            {
                                                <tr>
                                                    <th scope="row">@i</th>
                                                    <td nowrap>
                                                        @item.Type
                                                    </td>
                                                    <td nowrap>
                                                        @item.ObjectAlias
                                                    </td>
                                                    <td nowrap>
                                                        @item.RoleAlias
                                                    </td>
                                                    <td nowrap>
                                                        @item.Right
                                                    </td>
                                                    <td nowrap>
                                                        @item.Expired
                                                    </td>
                                                    <td nowrap>
                                                        @item.CreatedOn
                                                    </td>
                                                    <td>@item.CreatedBy</td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                            @if (Model.SoTrang > 1)
                            {
                                <div class="col-12">
                                    <form method="get" action="/@Constants.LinkPhanQuyen.Main/@Constants.LinkPhanQuyen.Index" id="form-main-paging">
                                        <input asp-for="Nhanvien" type="hidden" id="nhanvien-fage" />
                                        <input asp-for="Chucvu" type="hidden" id="chucvu-fpage" />
                                        <input asp-for="Nhom" type="hidden" id="nhom-fpage" />
                                        <input asp-for="Trang" type="hidden" id="trang-fpage" />
                                        <input asp-for="SapXep" class="sap-xep" type="hidden" />
                                        <input asp-for="ThuTu" class="thu-tu" type="hidden" />
                                        @{
                                            var disablePrevious = string.Empty;
                                            int previous = 1;
                                            int next = 1;
                                            var disableNext = string.Empty;
                                            if (Model.Trang == 1)
                                            {
                                                disablePrevious = "disabled";
                                            }
                                            if (Model.Trang == Model.SoTrang)
                                            {
                                                disableNext = "disabled";
                                            }
                                            if (Model.Trang > 1)
                                            {
                                                previous = Model.Trang - 1;
                                            }
                                            if (Model.Trang < Model.SoTrang)
                                            {
                                                next = Model.Trang + 1;
                                            }
                                        }
                                        <nav aria-label="Page navigation example">
                                            <ul class="pagination">
                                                <li class="page-item @disablePrevious">
                                                    <a class="page-link page-click" data-page="1" href="javascript:;" tabindex="-1" alt="Đầu"><i class="fas fa-fast-backward"></i></a>
                                                </li>
                                                <li class="page-item @disablePrevious">
                                                    <a class="page-link page-click" data-page="@previous" href="javascript:;" tabindex="-1" alt="Trước"><i class="fas fa-arrow-circle-left"></i></a>
                                                </li>
                                                <li class="page-item">
                                                    <select asp-for="Trang" name="TrangDll" id="TrangDll" class="form-control" style="height:100%">
                                                        @for (int pageNo = 1; pageNo <= Model.SoTrang; pageNo++)
                                                        {
                                                            <option value="@pageNo">@pageNo</option>
                                                        }
                                                    </select>
                                                </li>
                                                <li class="page-item @disableNext">
                                                    <a class="page-link page-click" data-page="@next" href="javascript:;" alt="Sau"><i class="fas fa-arrow-circle-right"></i></a>
                                                </li>
                                                <li class="page-item @disableNext">
                                                    <a class="page-link page-click" data-page="@Model.SoTrang" href="javascript:;" alt="Cuối"><i class="fas fa-fast-forward"></i></a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </form>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/quyen/phan-quyen.js?@Constants.VersionJs"></script>
}
