@using Common.Utilities;
@using ViewModels;
@model TimeKeeperViewModel;

@{
    ViewData["Title"] = "Xác nhận công";
    
}

@{
    string alerttype = "alert-success";
    if (Model.Approve == 4)
    {
        alerttype = "alert-dark";
    }
}
<div class="alert @alerttype" role="alert">
    @ViewData["Status"]
</div>

<div>
    <a href="/">Trang chủ</a>
</div>

<section class="flush-with-above">
    <div class="container">
        <ul class="row mb-3 feature-list feature-list-sm">
            @foreach (var item in Model.ListTraining)
            {
                <li class="col-12 col-md-6">
                    <div class="card card-lg">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="@item.Link" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        </div>
                        <div class="card-body">
                            <a href="#">
                                <h4 class="card-title mb-3">@item.Name</h4>
                            </a>
                            <p class="card-text">@item.Description</p>
                        </div>
                    </div>
                </li>
            }
        </ul>
    </div>
</section>

