@using System;
@using Common.Utilities;
@using Common.Enums;
@using System.Globalization;
@using ViewModels
@model TimeKeeperViewModel

@{
    CultureInfo culture = CultureInfo.CreateSpecificCulture("en-US");
    var login = User.Identity.Name;
    var exist = string.IsNullOrEmpty(Model.OvertimeEmployee.Id) ? false : true;
    var read = exist ? "readonly" : string.Empty;
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Overtime">Danh sách tăng ca</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @Model.Name
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <!-- MAIN -->
    <section class="flush-with-above height-80 d-block">
        <div class="container">
            <!-- FILTER -->
            <form method="post" action="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Overtime/@Constants.ActionLink.Data" class="data-form">
                @{
                    var fromdatesearch = Model.Tu.ToString("dd/MM/yyyy");
                }
                <input type="hidden" class="iE-value" value="0" />
                <input type="hidden" value="0" class="isChange" />
                <input type="hidden" value="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Overtime/@Constants.ActionLink.Data" class="link" />

                <input type="hidden" asp-for="OvertimeEmployee.Id" />
                <input type="hidden" asp-for="OvertimeEmployee.EmployeeId" />
                <input type="hidden" asp-for="OvertimeEmployee.Hour" id="hHour-0" />
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Ngày</label>
                    <div class="col-sm-4">
                        <input class="form-control datepicker datepicker-lg from-date" value="@fromdatesearch" />
                        <input type="hidden" name="Tu" class="tu-ngay" value="@Model.Tu.ToString("MM-dd-yyyy")" />
                    </div>
                    <label class="col-sm-2 col-form-label">Loại tăng ca</label>
                    <div class="col-sm-4">
                        <input type="text" readonly class="form-control-plaintext" value="@Constants.TimeWork(Utility.GetTypeDate(Model.Tu))">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Thời gian</label>
                    <div class="col-sm-4">
                        <input type="text" name="OvertimeEmployee.Start" class="form-control form-control-lg datetimepicker-input" id="start-0" data-toggle="datetimepicker" data-target="#start-0" data-id="0" @read />
                        <input type="hidden" value="@Model.OvertimeEmployee.Start.ToString(@"hh\:mm")" id="hiddenStart-0"/>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" name="OvertimeEmployee.End" class="form-control form-control-lg datetimepicker-input" id="end-0" data-toggle="datetimepicker" data-target="#end-0" data-id="0" @read />
                        <input type="hidden" value="@Model.OvertimeEmployee.End.ToString(@"hh\:mm")" id="hiddenEnd-0" />
                    </div>
                    <div class="col-sm-2">
                        <label class="col-form-label">Số giờ:</label> <code class="hour-0">@Model.OvertimeEmployee.Hour</code>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Nội dung <span class="text-small">(nếu có)</span></label>
                    <div class="col-sm-10">
                        <textarea class="form-control js-auto-size" asp-for="OvertimeEmployee.Description">@Model.OvertimeEmployee.Description</textarea>
                    </div>
                </div>

                @if (exist)
                {
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Trạng thái</label>
                        <div class="col-sm-10">
                            @Constants.OvertimeStatus(Model.OvertimeEmployee.Status)
                        </div>
                    </div>
                }

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" asp-for="OvertimeEmployee.Agreement" checked>
                    <label class="form-check-label" for="agree">Đồng ý Tăng ca (Điều 106 Bộ luật Lao Động năm 2012)</label>
                </div>

                @if (Model.Manager != null)
                {
                    var manager = Model.Manager;
                    var phone = string.Empty;
                    if (manager.Mobiles != null && manager.Mobiles.Count > 0)
                    {
                        phone = manager.Mobiles[0].Number;
                    }

                    <div class="form-group row mb-3">
                        <button type="submit" class="btn btn-lg btn-danger btn-block btn-submit"><i class="fas fa-check"></i> Cập nhật</button>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            Lệnh tăng ca sẽ được duyệt bởi anh/chị:
                            <span class="font-weight-bold overtime-manager-name">@manager.FullName</span>
                            <br />
                            Chức vụ: <span class="font-weight-bold overtime-manager-chuc-vu">@manager.ChucVuName</span>
                            <br />
                            Email: <span class="font-weight-bold overtime-manager-email">@manager.Email</span>
                            <br />
                            Điện thoại: <span class="font-weight-bold overtime-manager-phone">@phone</span>
                            <br />
                            Sau đó trạng thái kết quả được cập nhật ở <a href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Overtime">Tăng ca</a>.
                        </div>
                    </div>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        Hệ thống không tìm thấy người quản lý của bạn. Vui lòng liên hệ Nhân sự (Thoa, Ánh) cập nhật người quản lý.
                    </div>

                    <button type="submit" class="btn btn-primary btn-block btn-submit" disabled>Cập nhật</button>
                }
            </form>
        </div>
    </section>
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="~/js/timer/overtime-data.js?@Constants.VersionJs"></script>
    }
}


