@using System;
@using Common.Utilities;
@using Common.Enums;
@using System.Globalization;
@using ViewModels
@model TimeKeeperViewModel

@{
    CultureInfo culture = CultureInfo.CreateSpecificCulture("en-US");
    var login = User.Identity.Name;
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Index">Công</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @Model.Name
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <!-- MAIN -->
    <section class="flush-with-above height-80 d-block">
        <div class="container">
            <!-- FILTER -->
            <form method="get" action="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Overtime/@Constants.LinkTimeKeeper.Security" id="form-main">
                <input asp-for="Trang" type="hidden" value="1" />
                <input asp-for="SapXep" class="sap-xep" type="hidden" />
                <input asp-for="ThuTu" class="thu-tu" type="hidden" />
                <div class="row">
                    <div class="col-12">
                        <span class="badge badge-primary">Tìm kiếm:</span>
                    </div>
                </div>
                <div class="row mb-3">
                    @{
                        var fromdatesearch = Model.Tu > Constants.MinDate ? Model.Tu.ToString("dd/MM/yyyy") : "";
                        var todatesearch = Model.Den > Constants.MinDate ? Model.Den.ToString("dd/MM/yyyy") : "";
                    }
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <span class="mr-2 text-muted text-small text-nowrap">Ngày</span>
                        <input class="form-control datepicker datepicker-lg from-date" value="@fromdatesearch" />
                        <input type="hidden" name="Tu" class="tu-ngay" value="@Model.Tu.ToString("MM-dd-yyyy")" />
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <span class="mr-2 text-muted text-small text-nowrap">Đến</span>
                        <input class="to-date form-control datepicker datepicker-lg" value="@todatesearch" />
                        <input type="hidden" name="Den" class="den-ngay" value="@Model.Den.ToString("MM-dd-yyyy")" />
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <span class="mr-2 text-muted text-small text-nowrap">Trạng thái</span>
                        <select asp-for="TrangThai" class="form-control form-control-lg custom-select" onchange="formSubmit();">
                            <option value="@((int)EOvertime.None)">Tất cả</option>
                            <option value="@((int)EOvertime.Ok)">Đã duyệt, chờ An Ninh xác nhận</option>
                            <option value="@((int)EOvertime.Secutity)">An ninh đã xác nhận</option>
                        </select>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <span class="mr-2 text-muted text-small text-nowrap">Phòng ban</span>
                        <select asp-for="Pb" class="form-control form-control-lg custom-select" onchange="formSubmit();">
                            <option value="">Tất cả</option>
                            @foreach (var item in Model.PhongBans)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <span class="mr-2 text-muted text-small text-nowrap">Nhân viên</span>
                        <select asp-for="Id" class="form-control form-control-lg custom-select" onchange="formSubmit();">
                            <option value="">Tất cả</option>
                            @foreach (var item in Model.Employees)
                            {
                                <option value="@item.Id">@item.FullName</option>
                            }
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <span>Sắp xếp theo: </span>
                        @{
                            var sortFlagNgayDesc = "badge-default";
                            if (Model.SapXep == "ngay" && Model.ThuTu == "desc")
                            {
                                sortFlagNgayDesc = "badge-success";
                            }
                            var sortFlagNgayAsc = "badge-default";
                            if (Model.SapXep == "ngay" && Model.ThuTu == "asc")
                            {
                                sortFlagNgayAsc = "badge-success";
                            }

                            var sortFlagTenDesc = "badge-default";
                            if (Model.SapXep == "ten" && Model.ThuTu == "desc")
                            {
                                sortFlagTenDesc = "badge-success";
                            }
                            var sortFlagTenAsc = "badge-default";
                            if (Model.SapXep == "ten" && Model.ThuTu == "asc")
                            {
                                sortFlagTenAsc = "badge-success";
                            }
                            <a href="javascript:;" data-sortby="ngay" data-sortorder="asc" class="btn-sort">
                                <span class="badge @sortFlagNgayAsc"><i class="fas fa-sort-alpha-up"></i> Ngày tăng dần</span>
                            </a>
                            <a href="javascript:;" data-sortby="ngay" data-sortorder="desc" class="btn-sort">
                                <span class="badge @sortFlagNgayDesc"><i class="fas fa-sort-alpha-down"></i> Ngày giảm dần</span>
                            </a>
                            <a href="javascript:;" data-sortby="ten" data-sortorder="asc" class="btn-sort">
                                <span class="badge @sortFlagTenAsc"><i class="fas fa-sort-alpha-up"></i> Tên tăng dần</span>
                            </a>
                            <a href="javascript:;" data-sortby="ten" data-sortorder="desc" class="btn-sort">
                                <span class="badge @sortFlagTenDesc"><i class="fas fa-sort-alpha-down"></i> Tên giảm dần</span>
                            </a>
                        }
                    </div>
                </div>
            </form>

            <div class="row">
                @{
                    <div class="col-12">Tìm thấy <span class="badge badge-info">@Model.Records</span> kết quả.</div>
                    @if (Model.Records > 0)
                    {
                    <form method="post" action="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Overtime/@Constants.LinkTimeKeeper.Security/@Constants.ActionLink.Data" class="data-form">
                        <div class="col-12 table-responsive mb-1">
                            <table class="table table-sm table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col" rowspan="2">
                                            <input type='checkbox' id='mainChkBox' checked /> Tất cả
                                        </th>
                                        <th scope="col" rowspan="2">#</th>
                                        <th scope="col" rowspan="2">Ngày</th>
                                        <th scope="col" rowspan="2">Họ và Tên</th>
                                        <th scope="col" colspan="3" class="text-center text-uppercase">Tăng ca</th>
                                        <th scope="col" rowspan="2">Loại tăng ca</th>
                                        <th scope="col" rowspan="2">Mã NV</th>
                                        <th scope="col" rowspan="2">Chức vụ</th>
                                        <th scope="col" rowspan="2">Phòng ban</th>
                                        <th scope="col" rowspan="2">Trạng thái duyệt</th>
                                    </tr>
                                    <tr>
                                        <td>Bắt đầu</td>
                                        <td>Kết thúc</td>
                                        <td>Tổng giờ</td>
                                    </tr>
                                </thead>
                                <tbody class="font-14">
                                    @{
                                        int i = 1;
                                        int iE = 0;
                                        foreach (var item in Model.OvertimeEmployees)
                                        {
                                    <tr>
                                        <td>
                                            <input type='checkbox' name="OvertimeEmployees[@iE].CheckOnUI" checked value="true" class="chk-item" />
                                            <input type="hidden" name="OvertimeEmployees[@iE].Id" value="@item.Id" />
                                            <input type="hidden" name="OvertimeEmployees[@iE].Date" value="@item.Date" />
                                            <input type="hidden" name="OvertimeEmployees[@iE].EmployeeId" value="@item.EmployeeId" />
                                            <input type="hidden" name="OvertimeEmployees[@iE].HourSecurity" value="@item.HourSecurity" id="hHourSecurity-@iE"/>
                                        </td>
                                        <th scope="row">@i</th>
                                        <td nowrap>
                                            @item.Date.ToString("dd/MM/yyyy")
                                        </td>
                                        <td nowrap>
                                            @item.EmployeeName
                                        </td>
                                        <td>
                                            <input type="text" value="@item.StartSecurity" name="OvertimeEmployees[@iE].StartSecurity" class="form-control datetimepicker-input" id="start-@iE" data-toggle="datetimepicker" data-target="#start-@iE" data-id="@iE" />
                                            <code>Bắt đầu: @item.StartOvertime.ToString(@"hh\:mm")</code>
                                        </td>
                                        <td>
                                            <input type="text" value="@item.EndSecurity" name="OvertimeEmployees[@iE].EndSecurity" class="form-control datetimepicker-input" id="end-@iE" data-toggle="datetimepicker" data-target="#end-@iE" data-id="@iE" />
                                            <code>Kết thúc: @item.EndOvertime.ToString(@"hh\:mm")</code>
                                        </td>
                                        <td>
                                            <code>Giờ tăng ca xác nhận: <span class="hSecurity-@iE">@item.HourSecurity</span></code>
                                            <code>Giờ tăng ca: @item.Hour</code>
                                        </td>
                                        <td nowrap>
                                            @item.EmployeeCode
                                        </td>
                                        <td nowrap>
                                            @item.ChucVuName
                                        </td>
                                        <td>@Constants.TimeWork(item.Type)</td>
                                        <td>@Constants.OvertimeStatus(item.Status)</td>
                                    </tr>
                                            i++;
                                            iE++;
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>

                        <button type="submit" class="btn btn-danger btn-block">
                            <i class="fas fa-check"></i> Xác nhận</button>

                    </form>
                    }
                    else
                    {
                        <div class="col-12">
                            <i class="far fa-clock"></i>
                            <span>
                                Chưa có thông tin tăng ca.
                            </span>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="~/js/timer/overtime-security.js?@Constants.VersionJs"></script>
    }
}


