@using System;
@using System.Globalization;
@using Common.Utilities;
@using Common.Enums;
@using ViewModels
@model RoleViewModel

@{
    Layout = "~/Views/Shared/_LayoutSocialFb.cshtml";
}

@Html.ValidationSummary()

<input type="hidden" id="hidDetailLink" value="/@Constants.LinkRole.Role/@Constants.LinkRole.Detail" />
<div class="card">
    <div class="card-header">
        <a data-target="#new-role" data-toggle="collapse" aria-expanded="false" aria-controls="new-role" style="cursor:pointer">
            <i class="icon-add-to-list mr-1"></i> Tạo mới
        </a>
    </div>
    <div class="collapse" id="new-role">
        <div class="card-body">
            <form class="data-form" enctype="multipart/form-data" action="/@Constants.LinkRole.Role/@Constants.LinkRole.Create" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.Role.Object" class="control-label"></label>
                    <input asp-for="@Model.Role.Object" class="form-control form-control-lg" />
                    <span asp-validation-for="@Model.Role.Object" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Role.Description" class="control-label"></label>
                    <textarea asp-for="@Model.Role.Description" class="form-control form-control-lg"></textarea>
                    <span asp-validation-for="@Model.Role.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Role.Duration" class="control-label"></label>
                    <input name="Model.Role.Duration" class="form-control form-control-lg" value="0" />
                    <span asp-validation-for="@Model.Role.Duration" class="text-danger"></span>
                </div>
                <div class="d-flex align-items-center">
                    <div class="mr-2">
                        <a href="#new-role" class="btn btn-outline-primaryd" data-toggle="collapse" aria-expanded="true" aria-controls="new-role">Hủy</a>
                        <button type="submit" class="btn btn-outline-primary"><i class="icon-save"></i>&nbsp;Tạo</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card card-sm">
    <div class="card-header bg-secondary d-flex justify-content-between align-items-center">
        <div>
            <h6>Danh sách quyền</h6>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">Tìm thấy <span class="badge badge-info">@Model.Records</span> kết quả.</div>
    <div class="col-12 table-responsive mb-1">
        <table class="table table-sm table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col" style="text-align:right">#</th>
                    <th scope="col">Tên quyền</th>
                    <th scope="col">Mô tả</th>
                    <th scope="col">Thời hạn (ngày)</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = (Model.Trang - 1) * Model.PageSize + 1;
                    foreach (var entity in Model.Roles)
                    {
                        <tr>
                            <th scope="row" nowrap>
                                <div class="dropdown">
                                    <button class="btn btn-sm btn-outline-primary dropdown-toggle dropdown-toggle-no-arrow" type="button" id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Chức năng
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-sm" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item edit-item" href="javascript:;" data-toggle="modal" data-target="#editItemModal" data-id="@entity.Id">Chỉnh sửa</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item disable-item" href="javascript:;" data-toggle="modal" data-target="#disableItemModal" data-id="@entity.Id">Vô hiệu</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item edit-item" href="#" target="_blank" alt="Sử dụng">Danh sách gán</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item delete-item" href="javascript:;" data-toggle="modal" data-target="#deleteItemModal" data-id="@entity.Id">Xóa</a>
                                    </div>
                                    <span>@i</span>
                                </div>
                            </th>
                            <td>@entity.Alias</td>
                            <td>@Utility.TruncateLongString(entity.Description, 50)</td>
                            <td>@entity.Duration</td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>

    @if (Model.SoTrang > 1)
    {
        <div class="col-12">
            <form method="get" action="/@Constants.LinkRole.Role/@Constants.LinkRole.Index" id="form-main-paging">
                <input asp-for="Ten" type="hidden" id="ten-fage" />
                <input asp-for="Trang" type="hidden" id="trang-fpage" />
                <input asp-for="SapXep" class="sap-xep" type="hidden" />
                <input asp-for="ThuTu" class="thu-tu" type="hidden" />
                @{
                    var disablePrevious = string.Empty;
                    int previous = 1;
                    int next = 1;
                    var disableNext = string.Empty;
                    if (Model.Trang == 1)
                    {
                        disablePrevious = "disabled";
                    }
                    if (Model.Trang == Model.SoTrang)
                    {
                        disableNext = "disabled";
                    }
                    if (Model.Trang > 1)
                    {
                        previous = Model.Trang - 1;
                    }
                    if (Model.Trang < Model.SoTrang)
                    {
                        next = Model.Trang + 1;
                    }
                }
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item @disablePrevious">
                            <a class="page-link page-click" data-page="1" href="javascript:;" tabindex="-1" alt="Đầu"><i class="fas fa-fast-backward"></i></a>
                        </li>
                        <li class="page-item @disablePrevious">
                            <a class="page-link page-click" data-page="@previous" href="javascript:;" tabindex="-1" alt="Trước"><i class="fas fa-arrow-circle-left"></i></a>
                        </li>
                        <li class="page-item">
                            <select asp-for="Trang" name="TrangDll" id="TrangDll" class="form-control" style="height:100%">
                                @for (int pageNo = 1; pageNo <= Model.SoTrang; pageNo++)
                                {
                                    <option value="@pageNo">@pageNo</option>
                                }
                            </select>
                        </li>
                        <li class="page-item @disableNext">
                            <a class="page-link page-click" data-page="@next" href="javascript:;" alt="Sau"><i class="fas fa-arrow-circle-right"></i></a>
                        </li>
                        <li class="page-item @disableNext">
                            <a class="page-link page-click" data-page="@Model.SoTrang" href="javascript:;" alt="Cuối"><i class="fas fa-fast-forward"></i></a>
                        </li>
                    </ul>
                </nav>
            </form>
        </div>
    }
</div>

<script id="tmplDataItem" type="text/x-jsrender">
    <input type="hidden" name="Role.Id" value="{{:id}}" class="form-control" />
    <input type="hidden" name="Role.Timestamp" value="{{:timestamp}}" class="form-control" />
    <div class="form-group">
        <label class="control-label">Quyền</label>
        <input name="Role.Object" value="{{:object}}" class="form-control form-control-lg" readonly />
    </div>
    <div class="form-group">
        <label class="control-label">Mô tả</label>
        <textarea name="Role.Description" class="form-control form-control-lg text-area">{{:description}}</textarea>
    </div>
    <div class="form-group">
        <label class="control-label">Thời hạn (ngày)</label>
        <input name="Role.Duration" value="{{:duration}}" class="form-control form-control-lg" />
    </div>
</script>

<script id="tmplDataItemPlainText" type="text/x-jsrender">
    <input type="hidden" name="Role.Id" value="{{:id}}" class="form-control" />
    <input type="hidden" name="Role.Timestamp" value="{{:timestamp}}" class="form-control" />
    <div class="form-group">
        <label class="control-label">Quyền</label>
        <input name="Role.Object" value="{{:object}}" type="text" readonly class="form-control-plaintext" />
    </div>
    <div class="form-group">
        <label class="control-label">Mô tả</label>
        <textarea name="Role.Description" type="text" readonly class="form-control-plaintext">{{:description}}</textarea>
    </div>
    <div class="form-group">
        <label class="control-label">Thời hạn (ngày)</label>
        <input name="Role.Duration" value="{{:duration}}" type="text" readonly class="form-control-plaintext" />
    </div>
</script>

<div class="modal fade" id="editItemModal" tabindex="-1" role="dialog" aria-labelledby="editItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemModalLabel">Chỉnh sửa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="data-form" action="/@Constants.LinkRole.Role/@Constants.LinkRole.Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span class="result"></span>
                <div class="modal-body data-item-edit">
                    <input type="hidden" name="Role.Id" />
                    <input type="hidden" name="Role.Timestamp" />
                    <div class="form-group">
                        <label class="control-label">Quyền</label>
                        <input name="Role.Object" class="form-control form-control-lg" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô tả</label>
                        <textarea name="Role.Description" class="form-control form-control-lg"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Thời hạn</label>
                        <input name="Role.Duration" class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy & Đóng</button>
                    <button type="submit" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="disableItemModal" tabindex="-1" role="dialog" aria-labelledby="disableItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="disableItemModalLabel">Bạn chắc khi vô hiệu?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="data-form" action="/@Constants.LinkRole.Role/@Constants.LinkRole.Disable" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-body data-item-disable">
                    <input type="hidden" name="Role.Id" />
                    <input type="hidden" name="Role.Timestamp" />
                    <div class="form-group">
                        <label class="control-label">Quyền</label>
                        <input name="Role.Object" class="form-control form-control-lg" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô tả</label>
                        <textarea name="Role.Description" class="form-control form-control-lg"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Thời hạn</label>
                        <input name="Role.Duration" class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy & Đóng</button>
                    <button type="submit" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Vô hiệu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="activeItemModal" tabindex="-1" role="dialog" aria-labelledby="activeItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="activeItemModalLabel">Bạn chăc khôi phục?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="data-form" action="/@Constants.LinkRole.Role/@Constants.LinkRole.Active" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-body data-item-active">
                    <input type="hidden" name="Role.Id" />
                    <input type="hidden" name="Role.Timestamp" />
                    <div class="form-group">
                        <label class="control-label">Quyền</label>
                        <input name="Role.Object" class="form-control form-control-lg" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô tả</label>
                        <textarea name="Role.Description" class="form-control form-control-lg"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Thời hạn</label>
                        <input name="Role.Duration" class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy & Đóng</button>
                    <button type="submit" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Khôi phục</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteItemModal" tabindex="-1" role="dialog" aria-labelledby="deleteItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteItemModalLabel">Bạn chắc xóa?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="data-form" action="/@Constants.LinkRole.Role/@Constants.LinkRole.Delete" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-body data-item-delete">
                    <input type="hidden" name="Role.Id" />
                    <input type="hidden" name="Role.Timestamp" />
                    <div class="form-group">
                        <label class="control-label">Quyền</label>
                        <input name="Role.Object" class="form-control form-control-lg" readonly />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô tả</label>
                        <textarea name="Role.Description" class="form-control form-control-lg"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Thời hạn</label>
                        <input name="Role.Duration" class="form-control form-control-lg" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy & Đóng</button>
                    <button type="submit" class="btn btn-primary"><i class="icon-save"></i>&nbsp;Xóa</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/role.js@Constant.versionJs"></script>
}

