@using System.Globalization;
@using Common.Utilities;
@using ViewModels
@model LeaveViewModel

@{
    Layout = "~/Views/Shared/_LayoutSocialFb.cshtml";
}

<form method="get" action="/@Constants.LinkLeave.Main/@Constants.LinkLeave.HelpLeave" id="form-main">
    <div class="form-group">
        <label asp-for="Leave.EmployeeId" class="control-label"></label>
        <select asp-for="Leave.EmployeeId" name="id" class="form-control form-control-lg js-select2-basic-single ddlEmployeeId">
            <option value="">--Chọn--</option>
            @foreach (var employee in Model.Employees)
            {
                string displayTitle = string.Empty;
                if (!string.IsNullOrEmpty(employee.Title))
                {
                    displayTitle += "[" + employee.Title + "]";
                }
                <option value="@employee.Id">@employee.FullName @displayTitle</option>
            }
        </select>
        <span asp-validation-for="Leave.EmployeeId" class="text-danger"></span>
    </div>
</form>

<h5 class="mb-4">Tổng quan</h5>

@{
    decimal totalLeaveAvailable = 0;
    if (Model.LeaveEmployees != null & Model.LeaveEmployees.Count > 0)
    {
        foreach (var leaveEmployee in Model.LeaveEmployees)
        {
            totalLeaveAvailable += leaveEmployee.Number;
        }
    }
}

<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="d-flex justify-content-between">
                <div><i class="icon-calculator mr-1"></i> Tổng số ngày phép còn lại</div>
                <span class="badge badge-primary">@String.Format("{0:#,###,###.##}", totalLeaveAvailable)</span>
                <a data-target="#info-leave" data-toggle="collapse" aria-expanded="false" aria-controls="info-leave" style="cursor:pointer">
                    <i class="icon-list mr-1"></i> Chi tiết
                </a>
            </div>
        </li>
    </ul>
    <div class="collapse" id="info-leave">
        <div class="card-body">
            <div class="row">
                @{
                    //foreach (var type in Model.Types.Where(m => m.SalaryPay.Equals(true)).ToList())
                    foreach (var type in Model.Types)
                    {
                    <div class="col-12">
                        @{
                                decimal number = 0;
                                var leaveEmployee = Model.LeaveEmployees.Where(m => m.LeaveTypeId.Equals(type.Id)).FirstOrDefault();
                            @if (leaveEmployee != null)
                                {
                                    number = leaveEmployee.Number;
                                }
                        }
                        <span class="leave-duration badge badge-info">@number</span> ngày -
                        <label>@type.Name</label>
                        <span class="small">@type.Description</span>
                    </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        @*<a asp-action="Create"><i class="icon-add-to-list mr-1"></i> Tạo lệnh nghỉ phép</a>*@
        <a data-target="#new-leave" data-toggle="collapse" aria-expanded="false" aria-controls="new-leave" style="cursor:pointer">
            <i class="icon-add-to-list mr-1"></i> Tạo lệnh nghỉ phép
        </a>
    </div>
    <div class="collapse show" id="new-leave">
        <div class="card-body">
            <form action="/@Constants.LinkLeave.Main/@Constants.LinkLeave.Create" method="post" class="data-form">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Leave.EmployeeId" type="hidden" />
                <input asp-for="Leave.ApproverName" type="hidden" />
                <input asp-for="Leave.TypeName" type="hidden" />
                <input asp-for="Leave.WorkingScheduleTime" type="hidden" />

                <div class="form-group">
                    <label asp-for="Leave.TypeId" class="control-label"></label>
                    <select asp-for="Leave.TypeId" class="form-control">
                        @foreach (var type in Model.Types)
                        {
                        <option value="@type.Id" data-leave-month="@type.MonthMax" data-leave-year="@type.YearMax">@type.Name</option>
                        }
                    </select>
                    <span asp-validation-for="Leave.TypeId" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Leave.From" class="control-label"></label>
                            <input id="from_date" class="form-control form-control-lg" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            <span asp-validation-for="Leave.From" class="text-danger"></span>
                            <input type="hidden" asp-for="Leave.From" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Leave.Start" class="control-label"></label>
                            <input id="leave-start" class="form-control form-control-lg datetimepicker-input" data-toggle="datetimepicker" data-target="#leave-start" />
                            <span asp-validation-for="Leave.Start" class="text-danger"></span>
                            <input asp-for="Leave.Start" type="hidden" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Leave.To" class="control-label"></label>
                            <input id="to_date" class="form-control form-control-lg" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                            <span asp-validation-for="Leave.To" class="text-danger"></span>
                            <input type="hidden" asp-for="Leave.To" />
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label asp-for="Leave.End" class="control-label"></label>
                            <input id="leave-end" class="form-control form-control-lg datetimepicker-input" data-toggle="datetimepicker" data-target="#leave-end" />
                            <span asp-validation-for="Leave.End" class="text-danger"></span>
                            <input asp-for="Leave.End" type="hidden" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input type="hidden" id="hidCalculatorLink" value="/@Constants.LinkLeave.Main/@Constants.LinkLeave.CalculatorDate" />
                    <div class="col-12">
                        <span class="leave-duration badge badge-info">1</span> ngày.
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Leave.Reason" class="control-label"></label>
                    <textarea asp-for="Leave.Reason" class="form-control js-auto-size"></textarea>
                    <span asp-validation-for="Leave.Reason" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Leave.Phone" class="control-label"></label>
                    <input asp-for="Leave.Phone" class="form-control" />
                    <span asp-validation-for="Leave.Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Leave.ApproverName" class="control-label"></label>
                    <select asp-for="Leave.ApproverId" class="form-control">
                        @{
                            foreach (var item in Model.Approves)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="d-flex align-items-center">
                    <div class="mr-2">
                        <a href="#new-leave" class="btn btn-outline-primaryd" data-toggle="collapse" aria-expanded="true" aria-controls="new-leave">Hủy</a>
                        <button type="submit" id="btnSubmitLeave" class="btn btn-outline-primary" data-original-text="Tạo"><i class="icon-save"></i>&nbsp;Tạo</button>
                    </div>
                    <small class="text-muted">Lệnh nghỉ có thể chờ xét duyệt.</small>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="card card-sm">
    <div class="card-header bg-secondary d-flex justify-content-between align-items-center">
        <div>
            <h6>Trạng thái và lịch sử nghỉ phép</h6>
        </div>
        <form class="d-flex align-items-center">
            <span class="mr-2 text-muted text-small text-nowrap">Sắp xếp:</span>
            <select class="custom-select">
                <option value="old-new" selected>Mới nhất</option>
                <option value="status">Trạng thái</option>
            </select>
        </form>
    </div>

</div>

@if (Model.Leaves.Count > 0)
{
<div class="row">
    <div class="col">
        <table class="table table-borderless table-hover align-items-center">
            <thead>
                <tr>
                    <th scope="col">Nội dung</th>
                    <th scope="col">Duyệt bởi</th>
                    <th scope="col">Ngày nghỉ</th>
                    <th scope="col">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var leave in Model.Leaves)
                    {
                <tr class="bg-white">
                    <th scope="row">
                        <a class="media align-items-center" href="#">
                            <div class="media-body">
                                <span class="text-muted">@leave.TypeName</span>
                                @*<span class="text-muted">@leave.Reason</span>*@
                            </div>
                        </a>
                    </th>
                    <td>@leave.ApproverName</td>
                    <td>@leave.From - @leave.To <span class="badge badge-light">@leave.Number</span> ngày</td>
                    <td>
                        <span class="badge badge-success">@Constants.StatusLeave(leave.Status)</span>
                    </td>
                </tr>
                <tr class="table-divider"></tr>
                    }
            </tbody>
        </table>
    </div>
    <!--end of col-->
</div>
 <!--end of row-->
}
else
{
<div class="alert alert-light" role="alert">
    Không có dữ liệu
</div>
}


@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="~/js/leave-help.js?@DateTime.Now.Ticks"></script>
    }
}


