@using System.Globalization;
@using Common.Utilities;
@using ViewModels
@model LeaveViewModel

@{
    ViewData["title"] = "PHÉP | CÔNG TY TNHH CNSH SÀI GÒN XANH";
    var currentcrumb = "Phép";
    if (!Model.IsMe)
    {
        currentcrumb = "Phép " + Model.Employee.FullName;
    }
    double totalLeaveAvailable = 0;
    if (Model.LeaveEmployees != null & Model.LeaveEmployees.Count > 0)
    {
        foreach (var leaveEmployee in Model.LeaveEmployees)
        {
            totalLeaveAvailable += leaveEmployee.Number;
        }
    }

    bool isHr = true;
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/@Constants.LinkLeave.Main/@Constants.LinkLeave.Index">Phép</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            @currentcrumb
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="space-sm">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <div class="d-flex justify-content-between">
                                    <div><i class="icon-calculator mr-1"></i> Tổng số ngày phép còn lại</div>
                                    <span class="badge badge-primary">@totalLeaveAvailable</span>
                                </div>
                            </li>
                        </ul>
                        <div id="info-leave">
                            <div class="card-body">
                                <div class="row">
                                    @foreach (var type in Model.Types)
                                    {
                                        var leaveEmployee = Model.LeaveEmployees.Where(m => m.LeaveTypeId.Equals(type.Id)).FirstOrDefault();
                                        double number = leaveEmployee != null ? leaveEmployee.Number : 0;
                                        if (number > 0)
                                        {
                                            <div class="col-12">
                                                <span class="leave-duration badge badge-info">@number</span> ngày -
                                                <label>@type.Name</label>
                                                <span class="small">@type.Description</span>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    @if (Model.RightRequest)
                    {
                        <form method="get" action="/@Constants.LinkLeave.Main/@Constants.LinkLeave.Index" id="form-main">
                            <div class="row mb-2">
                                <div class="form-group col-12">
                                    <label class="col-form-label">Tạo phép cho</label>
                                    <select asp-for="Leave.EmployeeId" id="ddlId" name="id" class="form-control form-control-lg js-select2-basic-single ddlEmployeeId">
                                        <option value="">Chọn</option>
                                        @foreach (var item in Model.Employees)
                                        {
                                            string displayTitle = string.Empty;
                                            if (!string.IsNullOrEmpty(item.Email))
                                            {
                                                displayTitle += "- " + item.Email + "";
                                            }
                                            <option value="@item.Id">@item.FullName @displayTitle</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </form>
                    }
                    @if (Model.Approver)
                    {
                        <div class="row mb-2">
                            <div class="col-12">
                                <a href="/@Constants.LinkLeave.Main/@Constants.LinkLeave.Approvement" class="btn btn-block btn-lg btn-outline-info" data-toggle="tooltip" title="Quản lý phép của nhân viên và lịch sử duyệt phép.">
                                    <i class="fas fa-chalkboard-teacher"></i> DUYỆT PHÉP
                                </a>
                            </div>
                        </div>
                    }
                    @if (isHr)
                    {
                        <div class="row mb-2">
                            <div class="col-12">
                                <a href="/@Constants.LinkLeave.Main/@Constants.ActionLink.Data" class="btn btn-block btn-lg btn-outline-info" data-toggle="tooltip" title="Quản lý phép của nhân viên và lịch sử duyệt phép.">
                                    <i class="fas fa-chalkboard-teacher"></i> CHỈNH SỬA PHÉP
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <!-- TẠO PHÉP -->
            <div class="row">
                <div class="col-12">
                    <a data-target="#new-leave" class="btn btn-lg btn-block btn-primary" data-toggle="collapse" aria-expanded="false" aria-controls="new-leave" style="color:white">
                        <i class="icon-add-to-list mr-1"></i> Tạo lệnh nghỉ phép
                    </a>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="collapse" id="new-leave">
                            <div class="card-body">
                                <form action="/@Constants.LinkLeave.Main/@Constants.LinkLeave.Create" method="post" class="data-form">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" id="hidCalculatorLink" value="/@Constants.LinkLeave.Main/@Constants.LinkLeave.CalculatorDate" />
                                    <input asp-for="Leave.EmployeeId" type="hidden" />
                                    <input asp-for="Leave.ApproverName" type="hidden" />
                                    <input asp-for="Leave.TypeName" type="hidden" />
                                    <input asp-for="Leave.WorkingScheduleTime" type="hidden" />
                                    <div class="form-group row">
                                        <label asp-for="Leave.TypeId" class="col-sm-2 col-form-label"></label>
                                        <div class="col-sm-10">
                                            <select asp-for="Leave.TypeId" class="form-control form-control-lg">
                                                @foreach (var type in Model.Types)
                                                {
                                                    if (type.SalaryPay == true)
                                                    {
                                                        double number = 0;
                                                        var leaveEmployee = Model.LeaveEmployees.Where(m => m.LeaveTypeId.Equals(type.Id)).FirstOrDefault();
                                                        @if (leaveEmployee != null)
                                                        {
                                                            number = leaveEmployee.Number;
                                                            if (number > 0)
                                                            {
                                                                <option value="@type.Id" data-leave-month="@type.MonthMax" data-leave-year="@type.YearMax">@type.Name</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="@type.Id" disabled>@type.Name</option>
                                                            }
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <option value="@type.Id" data-leave-month="@type.MonthMax" data-leave-year="@type.YearMax">@type.Name</option>
                                                    }
                                                }
                                            </select>
                                            <span asp-validation-for="Leave.TypeId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label asp-for="Leave.From" class="col-sm-4 col-form-label"></label>
                                                <div class="col-sm-8">
                                                    <input id="from_date" class="form-control form-control-lg" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                                    <span asp-validation-for="Leave.From" class="text-danger"></span>
                                                    <input type="hidden" asp-for="Leave.From" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label asp-for="Leave.Start" class="col-sm-4 col-form-label"></label>
                                                <div class="col-sm-8">
                                                    <input id="leave-start" class="form-control form-control-lg datetimepicker-input" data-toggle="datetimepicker" data-target="#leave-start" autocomplete="off" />
                                                    <span asp-validation-for="Leave.Start" class="text-danger"></span>
                                                    <input asp-for="Leave.Start" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label asp-for="Leave.To" class="col-sm-4 col-form-label"></label>
                                                <div class="col-sm-8">
                                                    <input id="to_date" class="form-control form-control-lg" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                                    <span asp-validation-for="Leave.To" class="text-danger"></span>
                                                    <input type="hidden" asp-for="Leave.To" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label asp-for="Leave.End" class="col-sm-4 col-form-label"></label>
                                                <div class="col-sm-8">
                                                    <input id="leave-end" class="form-control form-control-lg datetimepicker-input" data-toggle="datetimepicker" data-target="#leave-end" />
                                                    <span asp-validation-for="Leave.End" class="text-danger"></span>
                                                    <input asp-for="Leave.End" type="hidden" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Leave.Reason" class="col-sm-2 col-form-label"></label>
                                        <div class="col-sm-10">
                                            <textarea asp-for="Leave.Reason" class="form-control js-auto-size"></textarea>
                                            <span asp-validation-for="Leave.Reason" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Leave.Phone" class="col-sm-2 col-form-label"></label>
                                        <div class="col-sm-10">
                                            <input asp-for="Leave.Phone" class="form-control form-control-lg" />
                                            <span asp-validation-for="Leave.Phone" class="text-danger"></span>
                                        </div>
                                    </div>
                                    @if (Model.IsMe)
                                    {
                                        <div class="form-group row">
                                            <label asp-for="Leave.ApproverName" class="col-sm-2 col-form-label"></label>
                                            <div class="col-sm-10">
                                                <select asp-for="Leave.ApproverId" class="form-control form-control-lg">
                                                    @foreach (var item in Model.Approves)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </select>
                                            </div>
                                        </div>
                                    }

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label"><span class="leave-duration badge badge-info">1</span> ngày.</label>
                                        <div class="col-sm-10">
                                            <button type="submit" class="btn btn-lg btn-danger w-50 btn-submit" data-original-text="Tạo"><i class="icon-save"></i> Tạo</button>
                                            <a href="#new-leave" class="btn btn-lg btn-outline-primary w-15" data-toggle="collapse" aria-expanded="true" aria-controls="new-leave">Hủy</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card card-sm">
                <div class="card-header bg-secondary d-flex justify-content-between align-items-center">
                    <div>
                        <h6>Trạng thái và lịch sử nghỉ phép</h6>
                    </div>
                    <form class="d-flex align-items-center">
                        <span class="mr-2 text-muted text-small text-nowrap">Sắp xếp:</span>
                        <select class="custom-select">
                            <option value="old-new" selected>Mới nhất</option>
                            <option value="status">Trạng thái</option>
                        </select>
                    </form>
                </div>

            </div>

            @if (Model.Leaves.Count > 0)
            {
                <div class="row">
                    <div class="col">
                        <table class="table table-borderless table-hover align-items-center">
                            <thead>
                                <tr>
                                    <th scope="col">Nội dung</th>
                                    <th scope="col">Duyệt bởi</th>
                                    <th scope="col">Ngày nghỉ</th>
                                    <th scope="col">Trạng thái</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var leave in Model.Leaves)
                                {
                                    <tr class="bg-white">
                                        <th scope="row">
                                            <a class="media align-items-center" href="#">
                                                <div class="media-body">
                                                    <span class="text-muted">@leave.TypeName</span>
                                                </div>
                                            </a>
                                        </th>
                                        <td>@leave.ApproverName</td>
                                        <td>@leave.From.ToString("dd/MM/yyyy HH:mm") - @leave.To.ToString("dd/MM/yyyy HH:mm") <span class="badge badge-light">@leave.Number</span> ngày</td>
                                        <td>
                                            <span class="badge badge-success">@Constants.StatusLeave(leave.Status)</span>
                                        </td>
                                    </tr>
                                    <tr class="table-divider"></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="col-12">
                        <i class="far fa-clock"></i>
                        <span>
                            Đang cập nhật thông tin.
                        </span>
                    </div>
                </div>
            }
        </div>
    </section>
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script type="text/javascript" src="~/js/leave/leave.js?@Constants.VersionJs"></script>
    }
}


