@model IEnumerable<Models.Content>

@{
    Layout = "~/Views/Shared/_Core.cshtml";
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/core">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Collection Content</li>
                    </ol>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <h1 class="h2 mb-2">@ViewData["Title"]</h1>
                    <span>Description....</span>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="flush-with-above">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <div>
                            <span class="text-muted text-small">Results 1 - 8 of 8</span>
                        </div>
                        <form class="d-flex align-items-center">
                            <span class="mr-2 text-muted text-small text-nowrap">Sort by:</span>
                            <select class="custom-select">
                                <option value="alpha">Alphabetical</option>
                                <option value="old-new" selected>Newest</option>
                                <option value="new-old">Oldest</option>
                                <option value="status">Status</option>
                            </select>
                        </form>
                    </div>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
            <div class="row">
                <div class="col">
                    <table class="table table-borderless table-hover align-items-center">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Code)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Title)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="bg-white">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Code)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Title)
                                    </td>
                                    <td>
                                        <a href="/core/content/edit/@item.Code" alt="Edit">Edit</a> |
                                        <a href="/core/content/delete/@item.Code" alt="Edit">Delete</a>
                                    </td>
                                </tr>
                                <tr class="table-divider"></tr>
                            }
                        </tbody>
                    </table>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
</div>
