@using Common.Utilities;
@using ViewModels;
@model NewsDataViewModel;

@{
    Layout = "~/Views/Shared/_Core.cshtml";
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/core">Home</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">News</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>
    <section class="flush-with-above">
        <div class="container">
            <p>
                <a asp-action="NewsCreate">Create New</a>
            </p>
            <div class="row">
                <div class="col">
                    <table class="table table-borderless table-hover align-items-center">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int i = 1;
                                foreach (var item in Model.Entities)
                                {
                                    <tr>
                                        <td>@i <small class="badge badge-info">@item.Code - @item.Language</small></td>
                                        <td>@item.Name</td>
                                        <td>@Constants.Truncate(item.Description, 100)</td>
                                        <td>
                                            @Html.ActionLink("Edit", "NewsEdit", new { id = item.Id })
                                            <br />
                                            <form asp-action="NewsDelete">
                                                <input type="hidden" asp-for="Entity.Id" value="@item.Id"/>
                                                <button type="submit" class="btn-sm btn-danger btn-delete-item" onclick="return confirm('Are you sure to delete this item?');">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

<script src="~/js/core-news.js?v-@DateTime.Now.Ticks"></script>