@using Common.Utilities;
@using ViewModels;
@model NewsDataViewModel;

@{
    ViewData["Title"] = "Create news";
    Layout = "~/Views/Shared/_Core.cshtml";
}
<style>
    .thumb {
        height: 75px;
        border: 1px solid #000;
        margin: 10px 5px 0 0;
    }
</style>

<link href="~/lib/summernote-0.8.9-dist/dist/summernote.css" rel="stylesheet" />
<script src="~/lib/summernote-0.8.9-dist/dist/summernote.js"></script>

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/core">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/core/news">News</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Create news</li>
                    </ol>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <h1 class="h2 mb-2">@ViewData["Title"]</h1>
                    <span>Description....</span>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>
    <!--end of section-->
    <section class="flush-with-above">
        <div class="container">
            <form asp-action="NewsCreate" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Category</label>
                    <select asp-for="Entity.CategoryId" class="form-control">
                        @{
                            foreach (var item in Model.Categories)
                            {
                                <option value="@item.Code">@item.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label">Language</label>
                    <select asp-for="Entity.Language" class="form-control">
                        @{
                            foreach (var item in Model.Languages)
                            {
                                <option value="@item.Name">@item.Title</option>
                            }
                        }
                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Entity.Name" class="control-label"></label>
                    <input asp-for="Entity.Name" class="form-control" />
                    <span asp-validation-for="Entity.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Entity.Description" class="control-label"></label>
                    <textarea asp-for="Entity.Description" class="form-control js-auto-size vi-input" data-element="description"></textarea>
                    <span asp-validation-for="Entity.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Entity.Content" class="control-label"></label>
                    <textarea asp-for="Entity.Content" class="content-text" data-element="content"></textarea>
                    <span asp-validation-for="Entity.Content" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">HomePage</label>
                    <select asp-for="Entity.HomePage" class="form-control">
                        <option value="true">Yes</option>
                        <option value="false">No</option>
                    </select>
                </div>
                <div class="images form-group">
                    <input type="file" id="files" name="files-entity" multiple />
                    <output id="list"></output>
                </div>

                <div class="card seo">
                    <div class="card-header bg-secondary d-flex justify-content-between">
                        <button class="btn btn-secondary" type="button" data-target="#seo-area" data-toggle="collapse" aria-expanded="false" aria-controls="comment-reply">Make SEO</button>
                    </div>
                    <div class="collapse" id="seo-area">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Entity.KeyWords" class="control-label"></label>
                                <input asp-for="Entity.KeyWords" class="form-control" />
                                <span asp-validation-for="Entity.KeyWords" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Entity.MetaOwner" class="control-label"></label>
                                <input asp-for="Entity.MetaOwner" class="form-control" />
                                <span asp-validation-for="Entity.MetaOwner" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Entity.Canonical" class="control-label"></label>
                                <input asp-for="Entity.Canonical" class="form-control" />
                                <span asp-validation-for="Entity.Canonical" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Entity.OgUrl" class="control-label"></label>
                                <input asp-for="Entity.OgUrl" class="form-control" />
                                <span asp-validation-for="Entity.OgUrl" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Entity.OgTitle" class="control-label"></label>
                                <input asp-for="Entity.OgTitle" class="form-control" />
                                <span asp-validation-for="Entity.OgTitle" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Entity.OgDescription" class="control-label"></label>
                                <input asp-for="Entity.OgDescription" class="form-control" />
                                <span asp-validation-for="Entity.OgDescription" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Entity.SeoFooter" class="control-label"></label>
                                <input asp-for="Entity.SeoFooter" class="form-control" />
                                <span asp-validation-for="Entity.SeoFooter" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Entity.RelationshipCategory" class="control-label"></label>
                                <input asp-for="Entity.RelationshipCategory" class="form-control" />
                                <span asp-validation-for="Entity.RelationshipCategory" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Entity.RelationshipItem" class="control-label"></label>
                                <input asp-for="Entity.RelationshipItem" class="form-control" />
                                <span asp-validation-for="Entity.RelationshipItem" class="text-danger"></span>
                            </div>
                            <div class="d-flex align-items-center">
                                <a href="#seo-area" class="text-small text-muted" data-toggle="collapse" aria-expanded="true" aria-controls="comment-reply">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-success" />
                    <a asp-action="Index">Back to List</a>
                </div>
            </form>
        </div>
    </section>
</div>
<script src="~/js/core-news-create.js?v-@DateTime.Now.Ticks"></script>