@using System;
@using System.Globalization;
@using Common.Utilities;
@using Common.Enums;
@using ViewModels;

@model BangLuongViewModel
@{
    Layout = "~/Views/Shared/_LayoutSocialFbFS.cshtml";
    CultureInfo culture = CultureInfo.CreateSpecificCulture("en-US");
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;
    var thang = Model.Thang;
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Bảng lương Sản xuất</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.BangLuong">BẢNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.TongHopTrongGio">TỔNG HỢP TRONG GIỜ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.TongHopNgoaiGio">TỔNG HỢP NGOÀI GIỜ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.DinhMuc">ĐỊNH MỨC</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Timer?thang=@Model.Thang&khoi=@EKhoiLamViec.SX">CHẤM CÔNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkCredit.Main/@Constants.LinkCredit.Credits?thang=@Model.Thang&khoi=@EKhoiLamViec.SX">ỨNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangLuongTrue/@Constants.LinkSalary.ThangLuong">THANG LƯƠNG</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN -->
    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="real" role="tabpanel" aria-labelledby="real-tab">
                <div class="container">
                    <div class="row mb-3 d-none">
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <a class="btn btn-lg btn-block btn-success btn-edit-real" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.BangLuong/@Constants.LinkSalary.Update" data-toggle="tooltip" title="Bấm thay đổi thang bảng lương.">
                                <i class="icon icon-edit"></i>Chỉnh sửa
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-xs-12">
                            <a class="btn btn-lg btn-block btn-info" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.ThangLuong/@Constants.LinkSalary.Export" data-toggle="tooltip" title="Xuất ra tài liệu file excel.">
                                <i class="fas fa-download"></i> Xuất excel
                            </a>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <a class="nav-link custom-more collapsed" data-toggle="collapse" href="#uploadarea" aria-expanded="false" aria-controls="more">
                            <i class="icon icon-magnifying-glass"></i> Cập nhật dữ liệu: Ngày làm việc | phép năm | lễ tết; Tiền tạm ứng | thưởng | đóng bhxh | tăng ca - phụ cấp.
                        </a>
                    </div>
                    <div id="uploadarea" class="col-12 collapse">
                        <div class="row mb-3">
                            <div class="col-12">
                                <span>Chọn dữ liệu tháng:</span>
                                <select asp-for="Thang" id="ddlMonthImport">
                                    @{
                                        foreach (var item in Model.MonthYears)
                                        {
                                            <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                        }
                                    }
                                </select>
                                <a href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.SanXuatNgayCongThuongBHXHTemplate?thang=@thang" class="btn btn-success btn-list btn-link-thuong-bhxh" data-toggle="tooltip" title="Bấm tải về mẫu tài liệu.">
                                    <i class="icon icon-back"></i>Tải mẫu [Điều chỉnh Ngày công|phép|lễ tết; Tiền thưởng lễ tết, mức đóng bhxh]
                                </a>
                                <a href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.SanXuatTamUngTemplate?thang=@thang" class="btn btn-success btn-list btn-link-tam-ung" data-toggle="tooltip" title="Bấm tải về mẫu tài liệu.">
                                    <i class="icon icon-back"></i>Tải mẫu [Ứng lương]
                                </a>
                                <a href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.SanXuatNgoaiGioPhuCapTemplate?thang=@thang" class="btn btn-success btn-list btn-link-tang-ca" data-toggle="tooltip" title="Bấm tải về mẫu tài liệu.">
                                    <i class="icon icon-back"></i>Tải mẫu [Tăng ca - Phụ cấp]
                                </a>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <form method="post" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.SanXuatNgayCongThuongBHXHPost" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="file" name="files" class="form-control fUpload" />
                                        </div>
                                        <div class="col-md-8">
                                            <input type="button" class="btn btn-danger btnUpload" value="Tải lên [Ngày làm việc, phép năm, lễ tết, thưởng, đóng bhxh]" />
                                            <button class="btn btn-danger btn-upload-process d-none" type="button" disabled>
                                                <i class="fas fa-spinner"></i>
                                                Đang xử lý...
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <form method="post" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.SanXuatTamUngPost" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="file" name="files" class="form-control fUpload" />
                                        </div>
                                        <div class="col-md-8">
                                            <input type="button" class="btn btn-danger btnUpload" value="Tải lên [Ứng lương]" />
                                            <button class="btn btn-danger btn-upload-process d-none" type="button" disabled>
                                                <i class="fas fa-spinner"></i>
                                                Đang xử lý...
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <form method="post" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.SanXuatNgoaiGioPhuCapPost" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="file" name="files" class="form-control fUpload" />
                                        </div>
                                        <div class="col-md-8">
                                            <input type="button" class="btn btn-danger btnUpload" value="Tải lên [Tăng ca - Phụ cấp]" />
                                            <button class="btn btn-danger btn-upload-process d-none" type="button" disabled>
                                                <i class="fas fa-spinner"></i>
                                                Đang xử lý...
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <form method="get" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.BangLuong" id="form-main">
                        <div class="card card-sm">
                            <div class="card-header bg-secondary d-flex justify-content-between align-items-center">
                                <div>
                                    <h6>BẢNG LƯƠNG</h6>(đvt: vnđ)
                                    <small>Tham số tính lương <span class="badge badge-info">@Model.ThamSoTinhLuong</span></small>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2 text-muted text-small text-nowrap">Tháng:</span>
                                    <select asp-for="Thang" class="custom-select ddl-times">
                                        @{
                                            foreach (var item in Model.MonthYears)
                                            {
                                                <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" style="margin-top: -1.5rem;">
                            <div class="col-md-1 col-sm-6 col-xs-12">
                                <span class="badge badge-primary">Tìm kiếm:</span>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <span class="mr-2 text-muted text-small text-nowrap">Nhân viên</span>
                                <select asp-for="Id" class="custom-select js-select2-basic-single ddlEmployeeId">
                                    <option value="">Tất cả</option>
                                    @foreach (var employee in Model.Employees)
                                    {
                                        string displayTitle = string.Empty;
                                        if (!string.IsNullOrEmpty(employee.Email))
                                        {
                                            displayTitle += "- " + employee.Email + "";
                                        }
                                        <option value="@employee.Id">@employee.FullName @displayTitle</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        @{
                            <div class="col-12">Tìm thấy <span class="badge badge-info">@Model.Records</span> kết quả.</div>
                            <div class="col-12 table-responsive mb-1">
                                <table class="table table-sm table-striped table-bordered table-hover">
                                    <thead style="background-color:lightgrey">
                                        <tr>
                                            <th rowspan="2">Mã NV</th>
                                            <th rowspan="2" nowrap>Họ và tên</th>
                                            <th rowspan="2">Chức vụ</th>
                                            <th rowspan="2">Ngày vào làm việc</th>
                                            <th rowspan="2">Số tháng thâm niên</th>
                                            <th rowspan="2">Hệ số thâm niên</th>
                                            <th rowspan="2">Ngạch lương</th>
                                            <th rowspan="2">Hệ số lương</th>
                                            <th rowspan="2">Lương CB</th>
                                            <th rowspan="2">Ngày làm việc</th>
                                            <th rowspan="2">Phép năm</th>
                                            <th rowspan="2">Lễ tết</th>
                                            <th rowspan="2">Lương định mức</th>
                                            <th rowspan="2">Tiền phép năm, lễ tết</th>
                                            <th rowspan="2">Thành tiền lương CB</th>
                                            <td colspan="6" style="vertical-align:middle;font-weight:bold">
                                                Phụ cấp
                                            </td>
                                            <th rowspan="2">Tổng phụ cấp</th>
                                            <th rowspan="2">Lương vượt định mức</th>
                                            <th rowspan="2">Tổng thu nhập</th>
                                            <th rowspan="2">Trừ tạm ứng</th>
                                            <th rowspan="2">Thưởng lễ,tết</th>
                                            <th rowspan="2">Lương đóng BHXH</th>
                                            <td colspan="3" style="vertical-align:middle;font-weight:bold">
                                                Các khoản trích người lao động
                                            </td>
                                            <th rowspan="2">Cộng</th>
                                            <th rowspan="2">Thực lãnh</th>
                                        </tr>
                                        <tr>
                                            <td>Ăn trưa</td>
                                            <td>Nhà ở</td>
                                            <td>Xăng xe</td>
                                            <td>Nặng nhọc, độc hại</td>
                                            <td>Thâm niên</td>
                                            <td>Trách nhiệm</td>
                                            <td>BHXH (8%)</td>
                                            <td>BHYT (1.5%)</td>
                                            <td>BHTN (1%)</td>
                                        </tr>
                                    </thead>
                                    <tbody class="font-14">
                                        @{
                                            var i = 1;
                                            foreach (var item in Model.SalaryEmployeeMonths)
                                            {
                                                <tr>
                                                    <td nowrap>
                                                        @item.EmployeeCode
                                                    </td>
                                                    <td nowrap>
                                                        @item.EmployeeFullName
                                                    </td>
                                                    <td>
                                                        <small class="bold">@item.ChucVuName</small>
                                                    </td>
                                                    <td>
                                                        @item.JoinDate.ToString("dd/MM/yyyy")
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-info">@item.ThamNienMonth</span>
                                                    </td>
                                                    <td>
                                                        @item.HeSoThamNien %
                                                    </td>
                                                    <td>
                                                        @item.NgachLuongCode
                                                    </td>
                                                    <td>
                                                        @item.NgachLuongLevel
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", Math.Round((double)item.LuongCanBan, 0))
                                                    </td>
                                                    <td>
                                                        @item.NgayCongLamViec
                                                    </td>
                                                    <td>
                                                        @item.NgayNghiPhepNam
                                                    </td>
                                                    <td>
                                                        @item.NgayNghiLeTetHuongLuong
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.LuongDinhMuc)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.TienPhepNamLeTet)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.ThanhTienLuongCanBan)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.Com)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.NhaO)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.Xang)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.NangNhocDocHai)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.ThamNien)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.TrachNhiem)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.TongPhuCap)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.LuongVuotDinhMuc)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.TongThuNhap)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.TamUng)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.ThuongLeTet)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.LuongThamGiaBHXH)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.BHXH)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.BHYT)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.BHTN)
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", (item.BHXHBHYT))
                                                    </td>
                                                    <td>
                                                        @String.Format("{0:#,###,###}", item.ThucLanhTronSo)
                                                    </td>
                                                </tr>
                                                i++;
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/bang-luong-san-xuat.js?@Constants.VersionJs"></script>
}



