@using System;
@using System.Globalization;
@using Common.Utilities;
@using Common.Enums;
@using ViewModels;

@model BangLuongViewModel
@{
    
    CultureInfo culture = CultureInfo.CreateSpecificCulture("en-US");
    var login = User.Identity.Name;
    var loginUserName = User.Claims.Where(m => m.Type.Equals("UserName")).FirstOrDefault().Value;

    var thanhphams = Model.ThanhPhams;
    var congviecs = Model.CongViecs;
    var dongias = Model.DonGiaDMs;
    var dongiaM3 = Model.DonGiaM3;
    var tpCount = thanhphams.Count;
    var cvCount = congviecs.Count;
}
<style>
    tbody th:nth-child(3), tbody td:nth-child(3) {
        position: sticky;
        left: 0px;
    }

    tbody td:nth-child(3) {
        background-color: lightgoldenrodyellow;
    }
</style>
<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Tổng hợp ngoài giờ</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.BangLuong">BẢNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.TongHopTrongGio">TỔNG HỢP TRONG GIỜ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.TongHopNgoaiGio">TỔNG HỢP NGOÀI GIỜ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.DinhMuc">ĐỊNH MỨC</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkTimeKeeper.Main/@Constants.LinkTimeKeeper.Timer?thang=@Model.Thang&khoi=@EKhoiLamViec.SX">CHẤM CÔNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkCredit.Main/@Constants.LinkCredit.Credits?thang=@Model.Thang&khoi=@EKhoiLamViec.SX">ỨNG LƯƠNG</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" target="_blank" href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.ThangLuongTrue/@Constants.LinkSalary.ThangLuong">THANG LƯƠNG</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN -->
    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="real" role="tabpanel" aria-labelledby="real-tab">
                <div class="container">
                    <div class="row mb-3">
                        <a class="nav-link custom-more collapsed" data-toggle="collapse" href="#uploadarea" aria-expanded="false" aria-controls="more">
                            <i class="icon icon-magnifying-glass"></i> Đẩy dữ liệu
                        </a>
                    </div>
                    <div id="uploadarea" class="col-12 collapse">
                        <div class="row mb-3">
                            <div class="col-12">
                                <span>Chọn dữ liệu tháng:</span>
                                <select asp-for="Thang" id="ddlMonthImport">
                                    @{
                                        foreach (var item in Model.MonthYears)
                                        {
                                            <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                        }
                                    }
                                </select>
                                <a href="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.SanXuatTongHopNgoaiGioTemplate?thang=@Model.Thang" class="btn btn-success btn-list btn-link-import" data-toggle="tooltip" title="Bấm tải về mẫu tài liệu.">
                                    <i class="icon icon-back"></i>Tải mẫu dữ liệu
                                </a>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-12">
                                <form method="post" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.SanXuatTongHopNgoaiGioPost" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="file" name="files" class="form-control fUpload" />
                                        </div>
                                        <div class="col-md-8">
                                            <input type="button" class="btn btn-danger btnUpload" value="Tải lên" />
                                            <button class="btn btn-danger btn-upload-process d-none" type="button" disabled>
                                                <i class="fas fa-spinner"></i>
                                                Đang xử lý...
                                            </button>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:0%"></div>
                                    </div>
                                    <div id="dvData"></div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <form method="get" action="/@Constants.LinkSalary.Main/@Constants.LinkSalary.Production/@Constants.LinkSalary.TongHopNgoaiGio" id="form-main">
                        <div class="card card-sm">
                            <div class="card-header bg-secondary d-flex justify-content-between align-items-center">
                                <div>
                                    <h6>TỔNG HỢP NGOÀI GIỜ</h6>
                                </div>
                                <div class="d-flex align-items-center">
                                    <span class="mr-2 text-muted text-small text-nowrap">Tháng:</span>
                                    <select asp-for="Thang" class="custom-select ddl-times">
                                        @{
                                            foreach (var item in Model.MonthYears)
                                            {
                                                <option value="@item.Month-@item.Year">@item.Month/@item.Year</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3" style="margin-top: -1.5rem;">
                            <div class="col-md-1 col-sm-6 col-xs-12">
                                <span class="badge badge-primary">Tìm kiếm:</span>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <span class="mr-2 text-muted text-small text-nowrap">Nhân viên</span>
                                <select asp-for="Id" class="custom-select js-select2-basic-single ddlEmployeeId">
                                    <option value="">Tất cả</option>
                                    @foreach (var employee in Model.Employees)
                                    {
                                        string displayTitle = string.Empty;
                                        if (!string.IsNullOrEmpty(employee.Email))
                                        {
                                            displayTitle += "- " + employee.Email + "";
                                        }
                                        <option value="@employee.Id">@employee.FullName @displayTitle</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </form>

                    <div class="row">
                        @{
                            <div class="col-12 table-responsive-sm">
                                <table class="table table-responsive-sm table-bordered table-bordered-black table-striped table-hover floating-header">
                                    <thead style="font-weight:bold; color:black;">
                                        <tr>
                                            <td colspan="2" style="background-color:lightgreen">TÊN SẢN PHẨM</td>
                                            <td style="background-color:darkblue"></td>
                                            @foreach (var thanhpham in thanhphams)
                                            {
                                                <td style="background-color:green">@thanhpham.Name</td>
                                            }
                                            <td style="background-color:darkblue"></td>
                                            <td style="background-color:rgb(248,203,173)">Số M3</td>
                                            <td style="background-color:darkblue"></td>
                                            @foreach (var congviec in congviecs)
                                            {
                                                <td style="background-color:blue">@congviec.Name</td>
                                            }
                                            <td style="background-color:blue">Cộng thời gian làm công việc khác</td>
                                            <td style="background-color:blue">Tổng công việc khác</td>
                                            <td style="background-color:blue">THÀNH TIỀN</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="background-color:lightgreen">MÃ SẢN PHẨM</td>
                                            <td style="background-color:darkblue"></td>
                                            @foreach (var thanhpham in thanhphams)
                                            {
                                                <td style="background-color:green">@thanhpham.Code</td>
                                            }
                                            <td style="background-color:darkblue"></td>
                                            <td style="background-color:rgb(248,203,173)">@string.Empty</td>
                                            <td style="background-color:darkblue"></td>
                                            @{
                                                for (var itp = 1; itp <= cvCount; itp++)
                                                {
                                                    <td style="background-color:blue">@string.Empty</td>
                                                }
                                            }
                                            <td style="background-color:blue">@string.Empty</td>
                                            <td style="background-color:blue">@string.Empty</td>
                                            <td style="background-color:blue">@string.Empty</td>
                                        </tr>
                                        <tr>
                                            <td colspan="2" style="background-color:lightgreen">ĐƠN GIÁ</td>
                                            <td style="background-color:darkblue"></td>
                                            @foreach (var dongia in dongias)
                                            {
                                                <td style="background-color:green">@dongia.DonGiaTangCa.ToString("N0", culture)</td>
                                            }
                                            <td style="background-color:darkblue"></td>
                                            <td style="background-color:rgb(248,203,173)">
                                                @{
                                                    decimal dongiaM3tangca = dongiaM3.Price * (decimal)1.1;
                                                }
                                                @dongiaM3tangca.ToString("N0", culture)
                                            </td>
                                            <td style="background-color:darkblue"></td>
                                            @foreach (var congviec in congviecs)
                                            {
                                                decimal pricetangca = congviec.Price * (decimal)1.1;
                                                <td style="background-color:blue">@pricetangca.ToString("N0", culture)</td>
                                            }
                                            <td style="background-color:blue">@string.Empty</td>
                                            <td style="background-color:blue">@string.Empty</td>
                                            <td style="background-color:blue">@string.Empty</td>
                                        </tr>
                                        <tr>
                                            <td style="background-color:lightgreen" nowrap>Mã NV</td>
                                            <td style="background-color:lightgreen" nowrap>Tên NV</td>
                                            <td style="background-color:darkblue"></td>
                                            @{
                                                for (var itp = 1; itp <= tpCount; itp++)
                                                {
                                                    <td style="background-color:green">@string.Empty</td>
                                                }
                                            }
                                            <td style="background-color:darkblue"></td>
                                            <td style="background-color:rgb(248,203,173)">
                                                @{
                                                    decimal soM3subtotal = 0;
                                                }
                                                @soM3subtotal
                                            </td>
                                            <td style="background-color:darkblue"></td>
                                            @{
                                                for (var icv = 1; icv <= cvCount; icv++)
                                                {
                                                    <td style="background-color:blue">@string.Empty</td>
                                                }
                                            }
                                            <td style="background-color:blue">@string.Empty</td>
                                            <td style="background-color:blue">@string.Empty</td>
                                            <td style="background-color:blue">@string.Empty</td>
                                        </tr>
                                    </thead>
                                    <tbody class="font-14">
                                        @{
                                            var groupNvs = (from s in Model.MCongs
                                                            group s by new
                                                            {
                                                                s.EmployeeCode,
                                                                s.EmployeeName
                                                            }
                                                                                                                                into l
                                                            select new
                                                            {
                                                                l.Key.EmployeeCode,
                                                                l.Key.EmployeeName,
                                                                congs = l.ToList(),
                                                            }).ToList();

                                            foreach (var groupNv in groupNvs)
                                            {
                                                var congthanhphams = groupNv.congs.Where(m => m.Type.Equals((int)EDinhMuc.DongGoi)).OrderBy(m => m.ObjectSort).ToList();
                                                var congcongvieckhacs = groupNv.congs.Where(m => m.Type.Equals((int)EDinhMuc.CongViecKhac)).OrderBy(m => m.ObjectSort).ToList();
                                                var congbocvac = groupNv.congs.Find(m => m.Type.Equals((int)EDinhMuc.BocVac));
                                                double tongthoigiancongvieckhac = 0;
                                                decimal tongcongvieckhac = 0;
                                                decimal thanhtienthanhpham = 0;
                                                decimal thanhtienbochang = 0;
                                                decimal thanhtienngoaigio = 0;

                                                <tr>
                                                    <td nowrap>
                                                        @groupNv.EmployeeCode
                                                    </td>
                                                    <td nowrap>
                                                        @groupNv.EmployeeName
                                                    </td>
                                                    <td style="background-color:darkblue"></td>
                                                    @foreach (var congthanhpham in congthanhphams)
                                                    {
                                                        thanhtienthanhpham += congthanhpham.Amount;
                                                        <td>@Math.Round(congthanhpham.Value, 0).ToString("N0", culture)</td>
                                                    }
                                                    <td style="background-color:darkblue"></td>
                                                    <td>
                                                        @{
                                                            var valuebocvac = congbocvac != null ? congbocvac.Value : 0;
                                                            thanhtienbochang += congbocvac.Amount;
                                                            <span>@Math.Round(valuebocvac, 2).ToString("N2", culture)</span>
                                                        }
                                                    </td>
                                                    <td style="background-color:darkblue"></td>
                                                    @{
                                                        foreach (var congcongvieckhac in congcongvieckhacs)
                                                        {
                                                            tongthoigiancongvieckhac += congcongvieckhac.Value;
                                                            tongcongvieckhac += congcongvieckhac.Amount;
                                                            <td>@Math.Round(congcongvieckhac.Value, 0).ToString("N0", culture)</td>
                                                        }
                                                    }

                                                    <td>
                                                        <span>@Math.Round(tongthoigiancongvieckhac / 60, 2)</span>
                                                    </td>
                                                    <td>
                                                        <span>@Math.Round(tongcongvieckhac / 60, 2).ToString("N2", culture)</span>
                                                    </td>
                                                    <td>
                                                        @{
                                                            thanhtienngoaigio = Convert.ToDecimal(Math.Round((double)thanhtienthanhpham, 2) + Math.Round((double)thanhtienbochang, 2) + Math.Round((double)tongcongvieckhac / 60, 2));
                                                        }
                                                        <span>@thanhtienngoaigio.ToString("N2", culture)</span>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script type="text/javascript" src="~/js/luong-san-xuat-tong-hop-ngoai-gio.js?@Constants.VersionJs"></script>
}



