@using Common.Utilities;
@using Common.Enums;
@model ViewModels.EmployeeDataViewModel

@{
    Layout = "~/Views/Shared/_LayoutSocialFb.cshtml";
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/hr/nhan-su">Nhân sự</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Tạo tài khoản mới</li>
                    </ol>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>

    <section class="bg-white space-sm pb-4">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h1 class="h2">Tạo tài khoản mới</h1>
                </div>
            </div>
        </div>
    </section>
    <!-- MAIN -->
    <form class="data-form" asp-action="Create" enctype="multipart/form-data">
        <div class="container">
            <div class="row">
                <div class="col-12" id="cover">
                    <div class="media flex-wrap mb-0 align-items-center" id="avatar-upload">
                        <img id="avatarShow" alt="Hình ảnh người dùng" src="holder.js/120x120" class="avatar avatar-lg mb-3 mb-md-0" />
                        <div class="media-body">
                            <label class="custom-file mb-2" for="file2">
                                <input type="file" id="avatar-input" name="avatar" class="custom-file-input height-0">
                                <span class="btn btn-primary"><i class="icon-upload-to-cloud">&nbsp;</i>Chọn hình đại diện</span>
                            </label>
                            <label class="custom-file mb-2">
                                <input type="file" id="cover-input" name="cover" class="custom-file-input height-0">
                                <span class="btn btn-primary"><i class="icon-upload-to-cloud">&nbsp;</i>Chọn hình nền</span>
                            </label>
                            <div>
                                <small>
                                    Để có kết quả tốt nhất, hãy sử dụng hình ảnh có kích thước tối thiểu 256px x 256px ở định dạng .jpg hoặc .png
                                    @*For best results, use an image at least 256px by 256px in either .jpg or .png format*@
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr />
            <div class="row mb-4">
                <div class="col">
                    <h5><i class="icon icon-info"></i>Thông tin</h5>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4 order-md-2">
                    <div class="alert alert-info text-small" role="alert">
                        <i class="icon-shield"></i>
                        <span>
                            @*Your information is always kept encrypted and can never be accessed by third parties.*@
                            Thông tin của bạn luôn được mã hóa và không bao giờ cho các bên thứ ba truy cập.
                        </span>
                        <a href="/pp/chinh-sach-bao-mat">@*See our privacy policy*@Xem chính sách bảo mật của chúng tôi</a>
                    </div>
                </div>

                <div class="col-12 col-md-8 order-md-1">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <i class="icon icon-text"></i>
                                <label asp-for="Employee.FullName" class="control-label"></label><span class="text-red">*</span>
                                <input asp-for="Employee.FullName" class="form-control form-control-lg" autofocus />
                                <span asp-validation-for="Employee.FullName" class="text-danger"></span>
                                <small>Thông tin này hiển thị trên hồ sơ công khai của bạn</small>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <i class="icon icon-login"></i>
                                <label asp-for="Employee.UserName" class="control-label"></label><span class="text-red">*</span>
                                <input asp-for="Employee.UserName" class="form-control form-control-lg" />
                                <span asp-validation-for="Employee.UserName" class="text-danger user-name-error"></span>
                                <small>Thông tin này hiển thị trên hồ sơ công khai của bạn</small>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <i class="icon icon-email"></i>
                                <label asp-for="Employee.Password" class="control-label"></label>
                                <input asp-for="Employee.Password" class="form-control form-control-lg" autocomplete="off" />
                                <span toggle="#Employee_Password" class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                <span asp-validation-for="Employee.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <i class="far fa-envelope"></i>
                                <label asp-for="Employee.Email" class="control-label"></label>
                                <input asp-for="Employee.Email" class="form-control form-control-lg" autocomplete="off" />
                                <span asp-validation-for="Employee.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <i class="icon icon-phone"></i>
                                <label asp-for="Employee.Tel" class="control-label"></label>
                                <input asp-for="Employee.Tel" class="form-control form-control-lg" />
                                <span asp-validation-for="Employee.Tel" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 nodeMobile node">
                            <div class="form-group">
                                <i class="icon icon-phone"></i>
                                <label asp-for="Employee.Mobiles[0].Number" class="control-label"></label>
                                <button type="button" class="btn btn-link btn-sm d-none remove-item"><i class="icon-squared-cross"></i>Xóa</button>
                                <input asp-for="Employee.Mobiles[0].Number" class="form-control form-control-lg" />
                                <input type="hidden" class="codeMobile" value="0" />
                                <span asp-validation-for="Employee.Mobiles[0].Number" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 p-1 more-mobile">
                            <div class="form-group">
                                <button class="btn btn-secondary btn-sm addMobile" type="button" data-toggle="tooltip" title="Thêm số di động"><i class="icon icon-add-to-list"></i> Thêm số di động</button>
                            </div>
                        </div>
                        <script id="tmplMobile" type="text/x-jsrender">
                            <div class="col-6 nodeMobile node">
                                <div class="form-group">
                                    <i class="icon icon-phone"></i>
                                    <label>Số điện thoại</label>
                                    <button type="button" class="btn btn-link btn-sm remove-item"><i class="icon-squared-cross"></i>Xóa</button>
                                    <input name="Employee.Mobiles[{{:code}}].Number" class="form-control form-control-lg" />
                                </div>
                                <input type="hidden" class="codeMobile" value="{{:code}}" />
                            </div>
                        </script>

                        <div class="col-6">
                            <div class="form-group">
                                <i class="icon icon-cake"></i>
                                <label asp-for="Employee.Birthday" class="control-label"></label>
                                <input class="form-control form-control-lg datepicker datepicker-lg" value="@DateTime.Now.AddYears(-18).ToString("dd/MM/yyyy")" />
                                <span asp-validation-for="Employee.Birthday" class="text-danger"></span>
                                <input type="hidden" name="Employee.Birthday" class="form-control form-control-lg hidedatepicker datepicker-lg" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <i class="icon icon-select-arrows"></i>
                                <label asp-for="Employee.Gender" class="control-label"></label>
                                <select asp-for="Employee.Gender" class="form-control form-control-lg">
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                    <option value="Khác">Khác</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <i class="icon icon-select-arrows"></i>
                                <label asp-for="Employee.Department" class="control-label"></label>
                                <div class="row">
                                    <div class="col-10">
                                        <select asp-for="Employee.Department" class="form-control form-control-lg">
                                            <option value="" selected>Chọn</option>
                                            @{
                                                foreach (var item in ViewBag.Departments)
                                                {
                                                    <option value="@item.Name">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-2 align-middle">
                                        <button class="btn btn-sm btn-add-department" type="button" data-toggle="modal" data-target="#newDepartment" title="Tạo mới Phòng/ban">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <i class="icon icon-select-arrows"></i>
                                <label asp-for="Employee.Part" class="control-label"></label>
                                <div class="row">
                                    <div class="col-10">
                                        <select asp-for="Employee.Part" class="form-control form-control-lg">
                                            <option value="" selected>Chọn</option>
                                            @{
                                                foreach (var item in ViewBag.Parts)
                                                {
                                                    <option value="@item.Name">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-2 align-middle">
                                        <button class="btn btn-sm btn-add-part" type="button" data-toggle="modal" data-target="#newPart" title="Tạo mới Bộ phận">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <i class="icon icon-select-arrows"></i>
                                <label asp-for="Employee.Title" class="control-label"></label>
                                <div class="row">
                                    <div class="col-10">
                                        <select asp-for="Employee.Title" class="form-control form-control-lg js-select2-basic-single">
                                            <option value="" selected>Chọn</option>
                                            @{
                                                foreach (var item in ViewBag.Titles)
                                                {
                                                    <option value="@item.Name">@item.Name</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="col-2 align-middle">
                                        <button class="btn btn-sm btn-add-title" type="button" data-toggle="modal" data-target="#newTitle" title="Tạo mới Công việc">+</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12">
                            <div class="form-group">
                                <i class="icon icon-select-arrows"></i>
                                <label class="control-label">Người quản lý trực tiếp</label>
                                <select name="Employee.ManagerId" id="ManagerId" class="form-control form-control-lg js-select2-basic-single">
                                    <option value="">Không có quản lý</option>
                                    @{
                                        foreach (var item in Model.Employees)
                                        {
                                            <option value="@item.Id" data-userName="@item.UserName" data-email="@item.Email" data-fullname="@item.FullName">@item.FullName [@item.Title]</option>
                                        }
                                    }
                                </select>
                                <script id="tmplManagePeople" type="text/x-jsrender">
                                    <option value="{{:id}}" data-userName="{{:userName}}" data-email="{{:email}}" data-fullname="{{:fullName}}">{{:fullName}} [{{:title}}]</option>
                                </script>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <i class="icon icon-time-slot"></i>
                                <label asp-for="Employee.Joinday" class="control-label"></label>
                                <input class="form-control form-control-lg datepicker datepicker-lg" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                <span asp-validation-for="Employee.Joinday" class="text-danger"></span>
                                <input type="hidden" name="Employee.Joinday" class="form-control form-control-lg hidedatepicker datepicker-lg" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <i class="icon icon-archive"></i>
                                <label asp-for="Employee.LeaveLevelYear" class="control-label"></label>
                                <select asp-for="Employee.LeaveLevelYear" class="form-control form-control-lg">
                                    <option value="12">12 ngày</option>
                                    <option value="14">14 ngày</option>
                                    <option value="16">16 ngày</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6 workplace">
                            <div class="form-group">
                                <i class="icon icon-location"></i>
                                <label class="control-label">Nơi làm việc</label>
                            </div>
                        </div>
                        <div class="col-6">
                            <div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="check-timekeeper">
                                    <label class="custom-control-label text-small" for="check-timekeeper">
                                        Không tính thời gian làm việc
                                    </label>
                                    <input type="hidden" name="Employee.IsTimeKeeper" value="false" />
                                </div>
                            </div>
                        </div>

                        <div class="col-12 time-working">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <span class="badge badge-primary">Nhà máy</span>
                                        <i class="icon icon-fingerprint"></i>
                                        <label class="control-label">Mã chấm công</label>
                                        <input name="Employee.Workplaces[0].Fingerprint" class="form-control form-control-lg" />
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">Thời gian làm việc</label>
                                        <select name="Employee.Workplaces[0].WorkingScheduleTime" class="form-control form-control-lg">
                                            @{
                                                foreach (var workTimeType in ViewBag.WorkTimeTypes)
                                                {
                                                    if (workTimeType.Start == new TimeSpan(7, 30, 0))
                                                    {
                                                        <option value="@workTimeType.Start.ToString(@"hh\:mm")-@workTimeType.End.ToString(@"hh\:mm")" selected>@workTimeType.Start.ToString(@"hh\:mm") - @workTimeType.End.ToString(@"hh\:mm")</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@workTimeType.Start.ToString(@"hh\:mm")-@workTimeType.End.ToString(@"hh\:mm")">@workTimeType.Start.ToString(@"hh\:mm") - @workTimeType.End.ToString(@"hh\:mm")</option>

                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" class="employee-workplace-exist" name="Employee.Workplaces[0].Code" value="NM" />
                                <input type="hidden" name="Employee.Workplaces[0].Name" value="Nhà máy" />
                            </div>
                        </div>

                        <div class="col-12 time-working">
                            <div class="row">
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <span class="badge badge-primary">Văn phòng</span>
                                        <i class="icon icon-fingerprint"></i>
                                        <label class="control-label">Mã chấm công</label>
                                        <input name="Employee.Workplaces[1].Fingerprint" class="form-control form-control-lg" />
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label">Thời gian làm việc</label>
                                        <select name="Employee.Workplaces[1].WorkingScheduleTime" class="form-control form-control-lg">
                                            @{
                                                foreach (var workTimeType in ViewBag.WorkTimeTypes)
                                                {
                                                    if (workTimeType.Start == new TimeSpan(8, 0, 0))
                                                    {
                                                        <option value="@workTimeType.Start.ToString(@"hh\:mm")-@workTimeType.End.ToString(@"hh\:mm")" selected>@workTimeType.Start.ToString(@"hh\:mm") - @workTimeType.End.ToString(@"hh\:mm")</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@workTimeType.Start.ToString(@"hh\:mm")-@workTimeType.End.ToString(@"hh\:mm")">@workTimeType.Start.ToString(@"hh\:mm") - @workTimeType.End.ToString(@"hh\:mm")</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" class="employee-workplace-exist" name="Employee.Workplaces[1].Code" value="VP" />
                                <input type="hidden" name="Employee.Workplaces[1].Name" value="Văn phòng" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                @{
                    var showFilter = "";
                    var textFilter = "Mở rộng";
                }
                <a class="nav-link custom-more collapsed" data-toggle="collapse" href="#more" aria-expanded="false" aria-controls="more">
                    <i class="icon icon-add-to-list"></i> @textFilter
                </a>
            </div>

            <div class="row">
                <div id="more" class="col-12 collapse @showFilter">
                    <!-- PERSONAL INFORMATION -->
                    <div class="row mb-4">
                        <div class="col">
                            <h5>Thông tin cá nhân</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 d-none">
                            <div class="form-group">
                                <label asp-for="Employee.Leaveday" class="control-label"></label>
                                <input asp-for="Employee.Leaveday" class="form-control form-control-lg datepicker datepicker-lg" placeholder="" />
                                <span asp-validation-for="Employee.Leaveday" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6 d-none">
                            <div class="form-group">
                                <label asp-for="Employee.LeaveReason" class="control-label"></label>
                                <textarea asp-for="Employee.LeaveReason" class="form-control form-control-lg"></textarea>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Employee.Bornplace" class="control-label"></label>
                                <input asp-for="Employee.Bornplace" class="form-control form-control-lg" />
                                <span asp-validation-for="Employee.Bornplace" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Employee.AddressResident" class="control-label"></label>
                                <input asp-for="Employee.AddressResident" class="form-control form-control-lg" />
                                <span asp-validation-for="Employee.AddressResident" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Employee.AddressTemporary" class="control-label"></label>
                                <input asp-for="Employee.AddressTemporary" class="form-control form-control-lg" />
                                <span asp-validation-for="Employee.AddressTemporary" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <i class="icon icon-email"></i>
                                <label asp-for="Employee.EmailPersonal" class="control-label"></label><span class="text-red">*</span>
                                <input asp-for="Employee.EmailPersonal" class="form-control form-control-lg" />
                                <span asp-validation-for="Employee.EmailPersonal" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label asp-for="Employee.StatusMarital" class="control-label"></label>
                                <select asp-for="Employee.StatusMarital" class="form-control form-control-lg">
                                    <option value="">Chọn</option>
                                    <option value="S">Độc thân</option>
                                    <option value="M">Kết hôn</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label asp-for="Employee.Nation" class="control-label"></label>
                                <input asp-for="Employee.Nation" class="form-control form-control-lg" value="Kinh" />
                            </div>
                        </div>
                        <div class="col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label asp-for="Employee.Religion" class="control-label"></label>
                                <input asp-for="Employee.Religion" class="form-control form-control-lg" value="Không" />
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Employee.Intro" class="control-label"></label>
                                <textarea asp-for="Employee.Intro" class="form-control form-control-lg js-auto-size"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- CMND/PASSPORT, BHXH -->
                    <hr />
                    <div class="row mb-4">
                        <div class="col">
                            <h5>Số thẻ định danh</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 order-md-2">
                            <div class="alert alert-info text-small" role="alert">
                                <i class="icon-user"></i>
                                <span>
                                    Thông tin này được bảo mật.
                                </span>
                                <a href="/pp/chinh-sach-bao-mat">Xem chính sách bảo mật</a>
                            </div>
                        </div>

                        <div class="col-12 col-md-8 order-md-1">
                            <div class="row">
                                <!-- CMND -->
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Employee.IdentityCard" class="control-label"></label>
                                        <input asp-for="Employee.IdentityCard" class="form-control form-control-lg" />
                                        <span asp-validation-for="Employee.IdentityCard" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Employee.IdentityCardDate" class="control-label"></label>
                                        <input class="form-control form-control-lg datepicker datepicker-lg" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                        <span asp-validation-for="Employee.IdentityCardDate" class="text-danger"></span>
                                        <input type="hidden" name="Employee.IdentityCardDate" class="form-control form-control-lg hidedatepicker" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Employee.IdentityCardPlace" class="control-label"></label>
                                        <input asp-for="Employee.IdentityCardPlace" class="form-control form-control-lg" />
                                        <span asp-validation-for="Employee.IdentityCardPlace" class="text-danger"></span>
                                    </div>
                                </div>

                                <!-- HO KHAU -->
                                <hr />
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Employee.HouseHold" class="control-label"></label>
                                        <input asp-for="Employee.HouseHold" class="form-control form-control-lg" />
                                        <span asp-validation-for="Employee.HouseHold" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Employee.HouseHoldOwner" class="control-label"></label>
                                        <input asp-for="Employee.HouseHoldOwner" class="form-control form-control-lg" />
                                        <span asp-validation-for="Employee.HouseHoldOwner" class="text-danger"></span>
                                    </div>
                                </div>

                                <!-- PASSPORT -->
                                <hr />
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Employee.Passport" class="control-label"></label>
                                        <input asp-for="Employee.Passport" class="form-control form-control-lg" />
                                        <span asp-validation-for="Employee.Passport" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Employee.PassportType" class="control-label"></label>
                                        <input asp-for="Employee.PassportType" class="form-control form-control-lg" value="P" />
                                        <span asp-validation-for="Employee.PassportType" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Employee.PassportCode" class="control-label"></label>
                                        <input asp-for="Employee.PassportCode" class="form-control form-control-lg" value="VNM" />
                                        <span asp-validation-for="Employee.PassportCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Employee.PassportDate" class="control-label"></label>
                                        <input class="form-control form-control-lg datepicker datepicker-lg" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                        <span asp-validation-for="Employee.PassportDate" class="text-danger"></span>
                                        <input type="hidden" name="Employee.PassportDate" class="form-control form-control-lg hidedatepicker" value="false" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Employee.PassportExpireDate" class="control-label"></label>
                                        <input class="form-control form-control-lg datepicker datepicker-lg" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                        <span asp-validation-for="Employee.PassportExpireDate" class="text-danger"></span>
                                        <input type="hidden" name="Employee.PassportExpireDate" class="form-control form-control-lg hidedatepicker" value="false" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Employee.PassportPlace" class="control-label"></label>
                                        <input asp-for="Employee.PassportPlace" class="form-control form-control-lg" value="Cục Quản lý xuất nhập cảnh" />
                                        <span asp-validation-for="Employee.BhxhHospital" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- BHXH -->
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <div class="custom-control custom-checkbox custom-checkbox-switch">
                                    <input type="checkbox" class="custom-control-input" id="public" />
                                    <label class="custom-control-label" for="public">Bảo hiểm xã hội</label>
                                    <input name="Employee.BhxhEnable" type="hidden" class="custom-control-input" value="false" />
                                </div>
                            </div>
                        </div>
                        <div class="enableBhxh col-12 d-none">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Employee.BhxhBookNo" class="control-label"></label>
                                        <input asp-for="Employee.BhxhBookNo" class="form-control form-control-lg" />
                                        <span asp-validation-for="Employee.BhxhBookNo" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Employee.BhxhCode" class="control-label"></label>
                                        <input asp-for="Employee.BhxhCode" class="form-control form-control-lg" />
                                        <span asp-validation-for="Employee.BhxhCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Employee.BhxhStart" class="control-label"></label>
                                        <input class="form-control form-control-lg datepicker datepicker-lg" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                        <span asp-validation-for="Employee.BhxhStart" class="text-danger"></span>
                                        <input type="hidden" name="Employee.BhxhStart" class="form-control form-control-lg hidedatepicker" value="false" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Employee.BhxhEnd" class="control-label"></label>
                                        <input class="form-control form-control-lg datepicker datepicker-lg" />
                                        <span asp-validation-for="Employee.BhxhEnd" class="text-danger"></span>
                                        <input type="hidden" name="Employee.BhxhEnd" class="form-control form-control-lg hidedatepicker" value="false" />
                                    </div>
                                </div>
                                @*<div class="col-6">
                                        <div class="form-group">
                                            <label asp-for="Employee.BhxhDependecy" class="control-label"></label>
                                            <input asp-for="Employee.BhxhDependecy" class="form-control form-control-lg" />
                                            <span asp-validation-for="Employee.BhxhDependecy" class="text-danger"></span>
                                        </div>
                                    </div>*@
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Employee.BhxhStatus" class="control-label"></label>
                                        <select asp-for="Employee.BhxhStatus" class="form-control form-control-lg">
                                            <option value="Đang đóng">Đang đóng</option>
                                            <option value="Chưa đóng">Chưa đóng</option>
                                        </select>
                                        <span asp-validation-for="Employee.BhxhStatus" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Employee.BhxhHospital" class="control-label"></label>
                                        <div class="row">
                                            <div class="col-10">
                                                <select asp-for="Employee.BhxhHospital" class="form-control form-control-lg js-select2-basic-single" style="width:100%;">
                                                    <option value="">Chọn</option>
                                                    @{
                                                        foreach (var hospital in ViewBag.Hospitals)
                                                        {
                                                            <option value="@hospital.Name">@hospital.Name</option>
                                                        }
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-2 align-middle">
                                                <button class="btn btn-sm btn-add-hospital" type="button" data-toggle="modal" data-target="#newHospital" title="Tạo mới Cơ sở khám chữa bệnh">+</button>
                                            </div>
                                        </div>

                                        <span asp-validation-for="Employee.BhxhHospital" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Employee.BhytCode" class="control-label"></label>
                                        <input asp-for="Employee.BhytCode" class="form-control form-control-lg" />
                                        <span asp-validation-for="Employee.BhytCode" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Employee.BhytStart" class="control-label"></label>
                                        <input class="form-control form-control-lg datepicker datepicker-lg" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                        <span asp-validation-for="Employee.BhytStart" class="text-danger"></span>
                                        <input type="hidden" name="Employee.BhytStart" class="form-control form-control-lg hidedatepicker" value="false" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label asp-for="Employee.BhytEnd" class="control-label"></label>
                                        <input class="form-control form-control-lg datepicker datepicker-lg" />
                                        <input type="hidden" name="Employee.BhytEnd" class="form-control form-control-lg hidedatepicker" value="false" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Employee.BhxhLocation" class="control-label"></label>
                                        <input asp-for="Employee.BhxhLocation" class="form-control form-control-lg" />
                                        <span asp-validation-for="Employee.BhxhLocation" class="text-danger"></span>
                                    </div>
                                </div>

                                <span class="badge badge-info">Tác vụ BHXH</span>
                                <div class="col-12 p-1 more-task-bhxh">
                                    <div class="form-group">
                                        <button class="btn btn-secondary btn-sm addBHXH" type="button"><i class="icon icon-add-to-list"></i> Thêm tác vụ</button>
                                    </div>
                                </div>

                                <script id="tmplBHXH" type="text/x-jsrender">
                                    <div class="col-12 nodeBHXH node">
                                        <hr />
                                        <div class="row bd-example">
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <label class="control-label">Tác vụ</label>
                                                    <select name="Employee.BhxhHistories[{{:code}}].Task" class="form-control form-control-lg task-bhxh">
                                                        <option value="tang-bhxh">Tăng BHXH</option>
                                                        <option value="giam-bhxh">Giảm BHXH</option>
                                                        <option value="the-bhyt">Thẻ BHYT</option>
                                                        <option value="ghi-che-do-thai-san">Ghi chế độ thai sản</option>
                                                        <option value="ghi-che-do-om-dau">Ghi chế độ ốm đau</option>
                                                        <option value="ghi-che-do-tai-nan-lao-dong">Ghi chế độ tai nan lao động</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="control-label">Ngày thực hiện</label>
                                                    <input class="form-control form-control-lg datepicker datepicker-lg" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                                    <input type="hidden" name="Employee.BhxhHistories[{{:code}}].DateAction" class="form-control form-control-lg hidedatepicker" value="false" />
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="control-label">Ngày trả kết quả</label>
                                                    <input class="form-control form-control-lg datepicker datepicker-lg" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                                    <input type="hidden" name="Employee.BhxhHistories[{{:code}}].DateResult" class="form-control form-control-lg hidedatepicker" value="false" />
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label class="control-label">Tình trạng</label>
                                                    <select name="Employee.BhxhHistories[{{:code}}].Status" class="form-control form-control-lg">
                                                        <option value="0">Chờ</option>
                                                        <option value="1">Hoàn thành</option>
                                                        <option value="2">Không xác định</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn btn-danger btn-sm remove-item"><i class="note-icon-col-remove"></i>Xóa</button>
                                            </div>
                                        </div>
                                        <input type="hidden" class="codeBHXH" value="{{:code}}" />
                                        <input type="hidden" name="Employee.BhxhHistories[{{:code}}].TaskDisplay" class="task-bhxh-display" />
                                    </div>
                                </script>

                            </div>
                        </div>
                    </div>

                    <!-- Certificates -->
                    <hr />
                    <div class="row mb-4">
                        <div class="col">
                            <h5>Học vấn</h5>
                        </div>
                        <!--end of col-->
                    </div>
                    <div class="row">
                        <div class="col-12 p-1 more-certificate">
                            <div class="form-group">
                                <button class="btn btn-secondary btn-sm addCertificate" type="button"><i class="icon icon-add-to-list"></i> Thêm học vấn</button>
                            </div>
                        </div>

                        <script id="tmplCertificate" type="text/x-jsrender">
                            <div class="col-12 nodeCertificate node">
                                <div class="row bd-example">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="control-label">Học vấn</label>
                                            <input name="Employee.Certificates[{{:code}}].Type" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="control-label">Nơi cấp</label>
                                            <input name="Employee.Certificates[{{:code}}].Location" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="control-label">Mô tả</label>
                                            <textarea name="Employee.Certificates[{{:code}}].Description" class="form-control form-control-lg js-auto-size"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="btn btn-danger btn-sm remove-item"><i class="glyphicon-remove"></i>Xóa</button>
                                    </div>
                                </div>
                                <input type="hidden" class="codeCertificate" value="{{:code}}" />
                            </div>
                        </script>
                    </div>

                    <!-- FAMILY -->
                    <hr />
                    <div class="row mb-4">
                        <div class="col">
                            <h5>Thành viên gia đình</h5>
                        </div>
                        <!--end of col-->
                    </div>
                    <div class="row">
                        <div class="col-12 p-1 more-family">
                            <div class="form-group">
                                <button class="btn btn-secondary btn-sm addFamily" type="button"><i class="icon icon-add-user"></i> Thêm thành viên</button>
                            </div>
                        </div>

                        <script id="tmplFamily" type="text/x-jsrender">
                            <div class="col-12 nodeFamily node">
                                <div class="row bd-example">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="control-label">Quan hệ</label>
                                            <select name="Employee.EmployeeFamilys[{{:code}}].Relation" class="form-control form-control-lg">
                                                <option value="3">Con</option>
                                                <option value="2">Vợ/chồng</option>
                                                <option value="1">Cha/mẹ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label class="control-label">Ngày sinh nhật</label>
                                            <input class="form-control form-control-lg datepicker datepicker-lg" />
                                            <input type="hidden" name="Employee.EmployeeFamilys[{{:code}}].Birthday" class="hidedatepicker" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="control-label">Họ và tên</label>
                                            <input name="Employee.EmployeeFamilys[{{:code}}].FullName" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="btn btn-danger btn-sm remove-item"><i class="icon-remove-user"></i>Xóa</button>
                                    </div>
                                </div>
                                <input type="hidden" class="codeFamily" value="{{:code}}" />
                            </div>
                        </script>
                    </div>

                    <!-- CONTRACT -->
                    <hr />
                    <div class="row mb-4">
                        <div class="col">
                            <h5>Hợp đồng lao động</h5>
                        </div>
                        <!--end of col-->
                    </div>
                    <div class="row">
                        <div class="col-12 p-1 more-contract">
                            <div class="form-group">
                                <button class="btn btn-secondary btn-sm addContract" type="button"><i class="icon icon-add-user"></i> Thêm hợp đồng</button>
                            </div>
                        </div>

                        <script id="tmplContract" type="text/x-jsrender">
                            <div class="col-12 nodeContract node">
                                <div class="row bd-example">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Loại hợp đồng</label>
                                            <select name="Employee.Contracts[{{:code}}].Type" class="form-control form-control-lg contract-type">
                                                @{
                                                    foreach (var item in ViewBag.Contracts)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                }
                                            </select>
                                            <input type="hidden" name="Employee.Contracts[{{:code}}].TypeName" class="contract-type-name" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Số hợp đồng</label>
                                            <input name="Employee.Contracts[{{:code}}].Code" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">PLHĐ</label>
                                            <input name="Employee.Contracts[{{:code}}].PLHD" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Phụ lục điều chỉnh lương</label>
                                            <input name="Employee.Contracts[{{:code}}].PhuLucDieuChinhLuong" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Ghi chú</label>
                                            <input name="Employee.Contracts[{{:code}}].Description" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Ngày hiệu lực</label>
                                            <input class="form-control form-control-lg datepicker datepicker-lg" value="@DateTime.Now.ToString("dd/MM/yyyy")" />
                                            <input type="hidden" name="Employee.Contracts[{{:code}}].Start" class="hidedatepicker" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Ngày hết hiệu lực</label>
                                            <input class="form-control form-control-lg datepicker datepicker-lg" value="@DateTime.Now.AddYears(1).ToString("dd/MM/yyyy")" />
                                            <input type="hidden" name="Employee.Contracts[{{:code}}].End" class="hidedatepicker" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="btn btn-danger btn-sm remove-item"><i class="note-icon-col-remove"></i>Xóa</button>
                                    </div>
                                </div>
                                <input type="hidden" class="codeContract" value="{{:code}}" />
                            </div>
                        </script>
                    </div>

                    <!-- SO LUONG BAN LUU -->
                    <hr />
                    <div class="row mb-4">
                        <div class="col">
                            <h5>Số lượng bản lưu</h5>
                        </div>
                        <!--end of col-->
                    </div>
                    <div class="row">
                        @{
                            if (Model.Employee.StorePapers != null && Model.Employee.StorePapers.Count > 0)
                            {
                                var i = 0;
                                foreach (var item in Model.Employee.StorePapers)
                                {
                                    <div class="col-12 nodeStorePaper node">
                                        <div class="row bd-example">
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label">Loại bảng lưu</label>
                                                    <input asp-for="Employee.StorePapers[i].Type" class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label class="control-label">Số lượng</label>
                                                    <input asp-for="Employee.StorePapers[i].Count" class="form-control form-control-lg" />
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <button type="button" class="btn btn-danger btn-sm remove-item"><i class="glyphicon-remove"></i>Xóa</button>
                                            </div>
                                        </div>
                                        <input type="hidden" class="codeStorePaper" value="@i" />
                                    </div>
                                    i++;
                                }
                            }
                        }

                        <div class="col-12 p-1 more-storepaper">
                            <div class="form-group">
                                <button class="btn btn-secondary btn-sm addStorePaper" type="button"><i class="icon icon-add-to-list"></i> Thêm loại bảng lưu</button>
                            </div>
                        </div>

                        <script id="tmplStorePaper" type="text/x-jsrender">
                            <div class="col-12 nodeStorePaper node">
                                <div class="row bd-example">
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Loại bảng lưu</label>
                                            <input name="Employee.StorePapers[{{:code}}].Type" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label class="control-label">Số lượng</label>
                                            <input name="Employee.StorePapers[{{:code}}].Count" class="form-control form-control-lg" />
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="btn btn-danger btn-sm remove-item"><i class="glyphicon-remove"></i>Xóa</button>
                                    </div>
                                </div>
                                <input type="hidden" class="codeStorePaper" value="{{:code}}" />
                            </div>
                        </script>
                    </div>

                    <!-- DAO TAO -->
                    <hr />
                    <div class="row mb-4">
                        <div class="col">
                            <h5>ĐÀO TẠO (THỜI GIAN, CHUYÊN MÔN, CHỨNG CHỈ)</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 p-1 more-education">
                            <div class="form-group">
                                <button class="btn btn-secondary btn-sm addEducation" type="button"><i class="icon icon-add-to-list"></i> Thêm</button>
                            </div>
                        </div>

                        <script id="tmplEducation" type="text/x-jsrender">
                            <div class="col-12 nodeEducation node">
                                <div class="row bd-example">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="control-label">Lần {{:code+1}} - Nội dung</label>
                                            <textarea name="Employee.EmployeeEducations[{{:code}}].Content" class="form-control form-control-lg js-auto-size"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="button" class="btn btn-danger btn-sm remove-item"><i class="glyphicon-remove"></i>Xóa</button>
                                    </div>
                                </div>
                                <input type="hidden" name="Employee.EmployeeEducations[{{:code}}].No" value="{{:code}}" />
                                <input type="hidden" class="codeEducation" value="{{:code}}" />
                            </div>
                        </script>
                    </div>

                    <!-- DIEU CHUYEN EmployeeMovements -->
                    <!-- KHEN THUONG -->
                    <!-- KY LUAT -->
                    <!-- DANH GIA NANG LUC -->
                    <!-- NGUOI LIEN LAC -->
                    <!-- GIAY TO KHAC -->
                    <!-- NGUOI CHECK -->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-8">
                <div class="form-group">
                    <button class="btn btn-success btn-lg btn-block btn-submit" id="btn-save-submit" type="submit" disabled data-toggle="tooltip" title="Lưu thông tin nhân viên mới"><i class="icon icon-save"></i> Lưu</button>
                </div>
            </div>
        </div>
    </form>
    <!--end of section-->
</div>

<div>
    <a asp-action="Index"><i class="icon icon-back"></i>Trở về</a>
</div>

<div class="modal fade" id="newDepartment" tabindex="-1" role="dialog" aria-labelledby="newDepartmentLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemModalLabel">Thêm mới Phòng/ban</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="data-form" method="post" action="/hr/nhan-su/phong-ban/tao-moi/" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span class="result"></span>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Phòng/ban</label>
                        <input name="Name" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô tả</label>
                        <textarea name="Description" class="form-control form-control-lg js-auto-size"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy & Đóng</button>
                    <button type="button" class="btn btn-primary btn-save-department"><i class="icon-save"></i>&nbsp;Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newPart" tabindex="-1" role="dialog" aria-labelledby="newPartLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemModalLabel">Thêm mới Bộ phận</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="data-form" method="post" action="/hr/nhan-su/bo-phan/tao-moi/" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span class="result"></span>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Bộ phận</label>
                        <input name="Name" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô tả</label>
                        <textarea name="Description" class="form-control form-control-lg js-auto-size"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy & Đóng</button>
                    <button type="button" class="btn btn-primary btn-save-part"><i class="icon-save"></i>&nbsp;Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newTitle" tabindex="-1" role="dialog" aria-labelledby="newTitleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemModalLabel">Thêm mới Công việc</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="data-form" method="post" action="/hr/nhan-su/cong-viec/tao-moi/" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span class="result"></span>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Công việc</label>
                        <input name="Name" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô tả</label>
                        <textarea name="Description" class="form-control form-control-lg js-auto-size"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy & Đóng</button>
                    <button type="button" class="btn btn-primary btn-save-title"><i class="icon-save"></i>&nbsp;Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="newHospital" tabindex="-1" role="dialog" aria-labelledby="newHospitalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editItemModalLabel">Thêm mới Bệnh viện</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form class="data-form" method="post" action="/hr/nhan-su/benh-vien/tao-moi/" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span class="result"></span>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Mã KCB</label>
                        <input name="Code" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tuyến</label>
                        <input name="Local" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tỉnh/Thành phố</label>
                        <input name="City" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Quận/Huyện</label>
                        <input name="District" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Cơ sở khám chữa bệnh</label>
                        <input name="Name" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Địa chỉ</label>
                        <input name="Address" class="form-control form-control-lg" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Điều kiện</label>
                        <textarea name="Condition" class="form-control form-control-lg js-auto-size"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ghi chú</label>
                        <textarea name="Note" class="form-control form-control-lg js-auto-size"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy & Đóng</button>
                    <button type="button" class="btn btn-primary btn-save-hospital"><i class="icon-save"></i>&nbsp;Lưu</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalnotice">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <a href="/hr/nhan-su/thong-tin/" class="btn btn-danger">Thêm thông tin</a>
                <a href="/hr/nhan-su/tao-moi" class="btn btn-primary">Thêm mới</a>
                <a href="/hr/nhan-su" class="btn btn-info">Danh sách</a>
            </div>
        </div>
    </div>
</div>

<script id="tmplModalNotice" type="text/x-jsrender">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{:message}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-footer">
        <a href="/hr/nhan-su/thong-tin/{{:id}}" class="btn btn-info">Xem thông tin</a>
        <a href="/hr/nhan-su/tao-moi" class="btn btn-primary">Thêm mới</a>
        <a href="/hr/nhan-su" class="btn btn-cyan">Danh sách</a>
    </div>
</script>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/employee-data.js?@DateTime.Now.Ticks"></script>
    }
}

