@using Common.Utilities;
@using Common.Enums;
@using System.Globalization;
@model ViewModels.EmployeeDataViewModel

@{
    Layout = "~/Views/Shared/_LayoutSocialFb.cshtml";
}

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/hr/nhan-su">Nhân sự</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Thông tin @Model.Employee.FullName</li>
                    </ol>
                </div>
                <!--end of col-->
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </nav>

    <section class="bg-white space-sm pb-4">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h1 class="h2">Thông tin</h1>
                </div>
                <div class="col-auto text-right">
                    <a href="/hr/nhan-su/cap-nhat/@Model.Employee.Id" class="btn btn-success"><i class="icon icon-edit"></i>Chỉnh sửa</a>
                </div>
            </div>
        </div>
    </section>
    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">Thông tin</a>
                            </li>
                            @{
                                if (ViewBag.SalatyRight > (int)ERights.None)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" id="salary-tab" data-toggle="tab" href="#salary" role="tab" aria-controls="salary" aria-selected="false">Lương & Thanh toán</a>
                                    </li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- MAIN -->
    <section class="flush-with-above height-80 d-block">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                <input asp-for="Employee.Id" type="hidden" />
                <input asp-for="Employee.Code" type="hidden" />
                <div class="container">
                    <div class="row">
                        @{
                            var coverDisplay = string.Empty;
                            var cover = Model.Employee.Cover;
                            @if (cover != null)
                            {
                                var pathCover = Url.Content("https://localhost:44366" + cover.Path + cover.FileName);
                                coverDisplay = "background-image: url(" + pathCover.Replace("\\","/") + "); width:354px;height:167px";
                            }
                        }
                        <div class="col-12" id="cover" style="@coverDisplay">
                            <div class="media flex-wrap mb-0 align-items-center" id="avatar-upload">
                                @if (Model.Employee.Avatar != null)
                                {
                                    <img id="avatarShow" alt="@Model.Employee.FullName" src="@Url.Content(Model.Employee.Avatar.Path)@Url.Content(Model.Employee.Avatar.FileName)" class="avatar avatar-lg mb-3 mb-md-0" />
                                }
                                else
                                {
                                    <img id="avatarShow" alt="@Model.Employee.FullName" src="holder.js/120x120" class="avatar avatar-lg mb-3 mb-md-0" />
                                }
                                <div class="media-body d-none">
                                    <label class="custom-file mb-2" for="file2">
                                        <input type="file" id="avatar-input" name="avatar" class="custom-file-input height-0">
                                        <span class="btn btn-primary"><i class="icon-upload-to-cloud">&nbsp;</i>Chọn hình</span>
                                    </label>
                                    <div>
                                        <small>
                                            Để có kết quả tốt nhất, hãy sử dụng hình ảnh có kích thước tối thiểu 256px x 256px ở định dạng .jpg hoặc .png
                                            @*For best results, use an image at least 256px by 256px in either .jpg or .png format*@
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row mb-4">
                        <div class="col">
                            <h5><i class="icon icon-info"></i>Thông tin</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4 order-md-2">
                            <div class="alert alert-info text-small" role="alert">
                                <i class="icon-shield"></i>
                                <span>
                                    @*Your information is always kept encrypted and can never be accessed by third parties.*@
                                    Thông tin của bạn luôn được mã hóa và không bao giờ cho các bên thứ ba truy cập.
                                </span>
                                <a href="/pp/chinh-sach-bao-mat">@*See our privacy policy*@Xem chính sách bảo mật của chúng tôi</a>
                            </div>
                        </div>
                        <!--end of col-->
                        <div class="col-12 col-md-8 order-md-1">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <i class="icon icon-text"></i>
                                        <label asp-for="Employee.FullName" class="control-label"></label><span class="text-red">*</span>
                                        <input asp-for="Employee.FullName" type="text" readonly class="form-control-plaintext" />
                                        <small>Thông tin này hiển thị trên hồ sơ công khai của bạn</small>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <i class="icon icon-login"></i>
                                        <label asp-for="Employee.UserName" class="control-label"></label><span class="text-red">*</span>
                                        <input asp-for="Employee.UserName" type="text" readonly class="form-control-plaintext" />
                                        <small>Thông tin này hiển thị trên hồ sơ công khai của bạn</small>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <i class="icon icon-email"></i>
                                        <label asp-for="Employee.Email" class="control-label"></label><span class="text-red">*</span>
                                        <input asp-for="Employee.Email" type="text" readonly class="form-control-plaintext" />
                                        <span asp-validation-for="Employee.Email" class="text-danger"></span>
                                        <small>@*Can used to log in to your account*@Có thể đăng nhập bằng email, mật khẩu được gửi tới email này.</small>
                                    </div>
                                </div>
                                @if (!string.IsNullOrEmpty(Model.Employee.Tel))
                                {
                                    <div class="col-6">
                                        <div class="form-group">
                                            <i class="icon icon-phone"></i>
                                            <label asp-for="Employee.Tel" class="control-label"></label>
                                            <input asp-for="Employee.Tel" type="text" readonly class="form-control-plaintext" />
                                        </div>
                                    </div>
                                }

                                @{
                                    if (Model.Employee.Mobiles != null && Model.Employee.Mobiles.Count > 0)
                                    {
                                        foreach (var mobile in Model.Employee.Mobiles)
                                        {
                                            if (!string.IsNullOrEmpty(mobile.Number))
                                            {
                                                <div class="col-6 nodeMobile node">
                                                    <div class="form-group">
                                                        <i class="icon icon-phone"></i>
                                                        <label class="control-label">Số di động</label>
                                                        <input value="@mobile.Number" type="text" readonly class="form-control-plaintext" />
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                }
                                <div class="col-6">
                                    <div class="form-group">
                                        <i class="icon icon-cake"></i>
                                        <label asp-for="Employee.Birthday" class="control-label"></label>
                                        @{
                                            var birthday = Model.Employee.Birthday.Year > 1900 ? Model.Employee.Birthday.ToString("dd/MM/yyyy") : string.Empty;
                                        }
                                        <input value="@birthday" type="text" readonly class="form-control-plaintext" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <i class="icon icon-select-arrows"></i>
                                        <label asp-for="Employee.Gender" class="control-label"></label>
                                        <input asp-for="Employee.Gender" type="text" readonly class="form-control-plaintext" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <i class="icon icon-select-arrows"></i>
                                        <label asp-for="Employee.Department" class="control-label"></label>
                                        <input asp-for="Employee.Department" type="text" readonly class="form-control-plaintext" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <i class="icon icon-select-arrows"></i>
                                        <label asp-for="Employee.Part" class="control-label"></label>
                                        <input asp-for="Employee.Part" type="text" readonly class="form-control-plaintext" />
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <i class="icon icon-select-arrows"></i>
                                        <label asp-for="Employee.Title" class="control-label"></label>
                                        <input asp-for="Employee.Title" type="text" readonly class="form-control-plaintext" />
                                    </div>
                                </div>
                                @if (Model.Employee != null && !string.IsNullOrEmpty(Model.Manager.FullName))
                                {
                                    <div class="col-12">
                                        <div class="form-group">
                                            <i class="icon icon-select-arrows"></i>
                                            <label class="control-label">Quản lý trực tiếp</label>
                                            <input value="@Model.Manager.FullName - [@Model.Manager.Title]" type="text" readonly class="form-control-plaintext" />
                                        </div>
                                    </div>
                                }

                                <div class="col-6">
                                    <div class="form-group">
                                        <i class="icon icon-time-slot"></i>
                                        <label asp-for="Employee.Joinday" class="control-label"></label>
                                        @{
                                            var joinday = Model.Employee.Joinday.Year > 1900 ? Model.Employee.Joinday.ToString("dd/MM/yyyy") : string.Empty;
                                        }
                                        <input value="@joinday" type="text" readonly class="form-control-plaintext" />
                                    </div>
                                </div>

                                <div class="col-12 workplace">
                                    <div class="form-group">
                                        <i class="icon icon-location"></i>
                                        <label class="control-label">Nơi làm việc</label>
                                    </div>
                                </div>
                                @{
                                    if (Model.Employee.Workplaces != null && Model.Employee.Workplaces.Count > 0)
                                    {
                                        foreach (var workplace in Model.Employee.Workplaces)
                                        {
                                            <div class="col-6 nodeWorkplace node">
                                                <div class="form-group">
                                                    <span class="badge badge-primary">@workplace.Name</span>
                                                    <i class="icon icon-fingerprint"></i>
                                                    @if (!string.IsNullOrEmpty(workplace.Fingerprint))
                                                    {
                                                        <label class="control-label">Mã chấm công</label>
                                                        <span class="badge badge-info">@workplace.Fingerprint</span>
                                                        <label class="control-label">Thời gian làm việc</label>
                                                        <span class="badge badge-info">@workplace.WorkingScheduleTime</span>
                                                    }
                                                </div>
                                            </div>
                                        }
                                    }
                                }
                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-6">
                                            <div>
                                                <div class="custom-control custom-checkbox">
                                                    @{
                                                        if (Model.Employee.IsTimeKeeper)
                                                        {
                                                            <input type="checkbox" class="custom-control-input" checked id="check-timekeeper">
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" class="custom-control-input" id="check-timekeeper">
                                                        }
                                                    }
                                                    <label class="custom-control-label text-small" for="check-timekeeper">
                                                        Không tính thời gian làm việc
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <i class="icon icon-archive"></i>
                                                <label asp-for="Employee.LeaveLevelYear" class="control-label"></label>
                                                <input value="@Model.Employee.LeaveLevelYear ngày" type="text" readonly class="form-control-plaintext" />
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <i class="icon icon-time-slot"></i>
                                                <label asp-for="Employee.LeaveDayAvailable" class="control-label"></label>
                                                <input value="@Model.Employee.LeaveDayAvailable.ToString("G29") ngày" type="text" readonly class="form-control-plaintext" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @{
                                    var showFilter = "";
                                    var textFilter = "Mở rộng";
                                }

                                <a class="nav-link custom-more collapsed" data-toggle="collapse" href="#more" aria-expanded="false" aria-controls="more">
                                    <i class="icon icon-add-to-list"></i> @textFilter
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div id="more" class="col-12 collapse @showFilter">
                            <!-- PERSONAL INFORMATION -->
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>Thông tin cá nhân</h5>
                                </div>
                                <!--end of col-->
                            </div>
                            <div class="row">
                                @{
                                    var enableStatus = string.Empty;
                                    var displayLeave = "d-none";
                                    if (!Model.Employee.Enable)
                                    {
                                        enableStatus = "checked";
                                        displayLeave = "";
                                    }
                                }
                                <div class="col-6 @displayLeave">
                                    <div>
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" @enableStatus readonly id="check-enable">
                                            <label class="custom-control-label text-small" for="check-enable">
                                                Nghỉ việc
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 leave-extend @displayLeave">
                                    <div class="form-group">
                                        <label asp-for="Employee.Leaveday" class="control-label"></label>
                                        @{
                                            var leaveDay = Model.Employee.Leaveday.HasValue ? Model.Employee.Leaveday.Value.ToString("dd/MM/yyyy") : string.Empty;
                                        }
                                        <input name="Employee.Leaveday" value="@leaveDay" type="text" readonly class="form-control-plaintext" />
                                    </div>
                                </div>
                                <div class="col-12 leave-extend @displayLeave">
                                    <div class="form-group">
                                        <label asp-for="Employee.LeaveReason" class="control-label"></label>
                                        <textarea asp-for="Employee.LeaveReason" type="text" readonly class="form-control-plaintext"></textarea>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Employee.Bornplace" class="control-label"></label>
                                        <input asp-for="Employee.Bornplace" type="text" readonly class="form-control-plaintext" />
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Employee.AddressResident" class="control-label"></label>
                                        @if (!string.IsNullOrEmpty(Model.Employee.AddressResident))
                                        {
                                            <p>@Model.Employee.AddressResident</p>
                                        }
                                        else
                                        {
                                            <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                        }
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Employee.AddressTemporary" class="control-label"></label>
                                        @if (!string.IsNullOrEmpty(Model.Employee.AddressTemporary))
                                        {
                                            <p>@Model.Employee.AddressTemporary</p>
                                        }
                                        else
                                        {
                                            <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                        }
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <i class="icon icon-email"></i>
                                        <label asp-for="Employee.EmailPersonal" class="control-label"></label><span class="text-red">*</span>
                                        @if (!string.IsNullOrEmpty(Model.Employee.EmailPersonal))
                                        {
                                            <p>@Model.Employee.EmailPersonal</p>
                                        }
                                        else
                                        {
                                            <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="Employee.StatusMarital" class="control-label"></label>
                                        @if (!string.IsNullOrEmpty(Model.Employee.StatusMarital))
                                        {
                                            <p>@Constants.Married(Model.Employee.StatusMarital)</p>
                                        }
                                        else
                                        {
                                            <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="Employee.Nation" class="control-label"></label>
                                        @if (!string.IsNullOrEmpty(Model.Employee.Nation))
                                        {
                                            <p>@Model.Employee.Nation</p>
                                        }
                                        else
                                        {
                                            <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                        }
                                    </div>
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label asp-for="Employee.Religion" class="control-label"></label>
                                        @if (!string.IsNullOrEmpty(Model.Employee.Religion))
                                        {
                                            <p>@Model.Employee.Religion</p>
                                        }
                                        else
                                        {
                                            <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                        }
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="Employee.Intro" class="control-label"></label>
                                        @if (!string.IsNullOrEmpty(Model.Employee.Intro))
                                        {
                                            <p>@Model.Employee.Intro</p>
                                        }
                                        else
                                        {
                                            <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                        }
                                    </div>
                                </div>
                            </div>

                            <!-- CMND/PASSPORT, BHXH -->
                            <hr />
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>Số thẻ định danh</h5>
                                </div>
                                <!--end of col-->
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-4 order-md-2">
                                    <div class="alert alert-info text-small" role="alert">
                                        <i class="icon-user"></i>
                                        <span>
                                            Thông tin này được bảo mật.
                                        </span>
                                        <a href="/pp/chinh-sach-bao-mat">Xem chính sách bảo mật</a>
                                    </div>
                                </div>
                                <!--end of col-->
                                <div class="col-12 col-md-8 order-md-1">
                                    <div class="row">
                                        <!-- CMND -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="Employee.IdentityCard" class="control-label"></label>
                                                @if (!string.IsNullOrEmpty(Model.Employee.IdentityCard))
                                                {
                                                    <p>@Model.Employee.IdentityCard</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label asp-for="Employee.IdentityCardDate" class="control-label"></label>
                                                @{
                                                    var identityCardDate = Model.Employee.IdentityCardDate.HasValue && Model.Employee.IdentityCardDate.Value.Year > 1900 ? Model.Employee.IdentityCardDate.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                }
                                                @if (!string.IsNullOrEmpty(identityCardDate))
                                                {
                                                    <p>@identityCardDate</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label asp-for="Employee.IdentityCardPlace" class="control-label"></label>
                                                @if (!string.IsNullOrEmpty(Model.Employee.IdentityCardPlace))
                                                {
                                                    <p>@Model.Employee.IdentityCardPlace</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>

                                        <!-- HO KHAU -->
                                        <hr />
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="Employee.HouseHold" class="control-label"></label>
                                                @if (!string.IsNullOrEmpty(Model.Employee.HouseHold))
                                                {
                                                    <p>@Model.Employee.HouseHold</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="Employee.HouseHoldOwner" class="control-label"></label>
                                                @if (!string.IsNullOrEmpty(Model.Employee.HouseHoldOwner))
                                                {
                                                    <p>@Model.Employee.HouseHoldOwner</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>

                                        <!-- PASSPORT -->
                                        <hr />
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="Employee.Passport" class="control-label"></label>
                                                @if (!string.IsNullOrEmpty(Model.Employee.Passport))
                                                {
                                                    <p>@Model.Employee.Passport</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label asp-for="Employee.PassportType" class="control-label"></label>
                                                @if (!string.IsNullOrEmpty(Model.Employee.PassportType))
                                                {
                                                    <p>@Model.Employee.PassportType</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label asp-for="Employee.PassportCode" class="control-label"></label>
                                                @if (!string.IsNullOrEmpty(Model.Employee.PassportCode))
                                                {
                                                    <p>@Model.Employee.PassportCode</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label asp-for="Employee.PassportDate" class="control-label"></label>
                                                @{
                                                    var passportDate = Model.Employee.PassportDate.HasValue ? Model.Employee.PassportDate.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                }
                                                @if (!string.IsNullOrEmpty(passportDate))
                                                {
                                                    <p>@passportDate</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label asp-for="Employee.PassportExpireDate" class="control-label"></label>
                                                @{
                                                    var passportExpireDate = Model.Employee.PassportExpireDate.HasValue ? Model.Employee.PassportExpireDate.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                }
                                                @if (!string.IsNullOrEmpty(passportExpireDate))
                                                {
                                                    <p>@passportExpireDate</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="Employee.PassportPlace" class="control-label"></label>
                                                @if (!string.IsNullOrEmpty(Model.Employee.PassportPlace))
                                                {
                                                    <p>@Model.Employee.PassportPlace</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- BHXH -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        @{
                                            var check = Model.Employee.BhxhEnable ? "checked" : "";
                                            var dnone = Model.Employee.BhxhEnable ? "" : "d-none";
                                        }
                                        <div class="custom-control custom-checkbox custom-checkbox-switch">
                                            <input type="checkbox" class="custom-control-input" id="public" @check />
                                            <label class="custom-control-label" for="public">Bảo hiểm xã hội</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="enableBhxh col-12 @dnone">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="Employee.BhxhBookNo" class="control-label"></label>
                                                M @if (!string.IsNullOrEmpty(Model.Employee.BhxhBookNo))
                                                {
                                                    <p>@Model.Employee.BhxhBookNo</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="Employee.BhxhCode" class="control-label"></label>
                                                @if (!string.IsNullOrEmpty(Model.Employee.BhxhCode))
                                                {
                                                    <p>@Model.Employee.BhxhCode</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label asp-for="Employee.BhxhStart" class="control-label"></label>
                                                @{
                                                    var bhxhStart = Model.Employee.BhxhStart.HasValue ? Model.Employee.BhxhStart.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                }
                                                @if (!string.IsNullOrEmpty(bhxhStart))
                                                {
                                                    <p>@bhxhStart</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label asp-for="Employee.BhxhEnd" class="control-label"></label>
                                                @{
                                                    var bhxhEnd = Model.Employee.BhxhEnd.HasValue ? Model.Employee.BhxhEnd.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                }
                                                @if (!string.IsNullOrEmpty(bhxhEnd))
                                                {
                                                    <p>@bhxhEnd</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="Employee.BhxhStatus" class="control-label"></label>
                                                @if (!string.IsNullOrEmpty(Model.Employee.BhxhStatus))
                                                {
                                                    <p>@Model.Employee.BhxhStatus</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="Employee.BhxhHospital" class="control-label"></label>
                                                @if (!string.IsNullOrEmpty(Model.Employee.BhxhHospital))
                                                {
                                                    <p>@Model.Employee.BhxhHospital</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="Employee.BhytCode" class="control-label"></label>
                                                @if (!string.IsNullOrEmpty(Model.Employee.BhytCode))
                                                {
                                                    <p>@Model.Employee.BhytCode</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label asp-for="Employee.BhytStart" class="control-label"></label>
                                                @{
                                                    var bhytStart = Model.Employee.BhytStart.HasValue && Model.Employee.BhytStart.Value.Year > 1900 ? Model.Employee.BhytStart.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                }
                                                @if (!string.IsNullOrEmpty(bhytStart))
                                                {
                                                    <p>@bhytStart</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label asp-for="Employee.BhytEnd" class="control-label"></label>
                                                @{
                                                    var bhytEnd = Model.Employee.BhytEnd.HasValue && Model.Employee.BhytEnd.Value.Year > 1900 ? Model.Employee.BhytEnd.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                }
                                                @if (!string.IsNullOrEmpty(bhytEnd))
                                                {
                                                    <p>@bhytEnd</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label asp-for="Employee.BhxhLocation" class="control-label"></label>
                                                @if (!string.IsNullOrEmpty(Model.Employee.BhxhLocation))
                                                {
                                                    <p>@Model.Employee.BhxhLocation</p>
                                                }
                                                else
                                                {
                                                    <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                                }
                                            </div>
                                        </div>

                                        <span class="badge badge-info">Tác vụ BHXH</span>
                                        @{
                                            if (Model.Employee.BhxhHistories != null && Model.Employee.BhxhHistories.Count > 0)
                                            {
                                                foreach (var item in Model.Employee.BhxhHistories)
                                                {
                                                    <div class="col-12 nodeBHXH node">
                                                        <hr />
                                                        <div class="row bd-example">
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">Tác vụ</label>
                                                                    <input value="@Constants.TaskBhxh(item.Task)" type="text" readonly class="form-control-plaintext" />
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label class="control-label">Ngày thực hiện</label>
                                                                    @{
                                                                        var dateAction = item.DateAction.HasValue ? item.DateAction.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                                    }
                                                                    <input value="@dateAction" type="text" readonly class="form-control-plaintext" />
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label class="control-label">Ngày trả kết quả</label>
                                                                    @{
                                                                        var dateResult = item.DateResult.HasValue ? item.DateResult.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                                    }
                                                                    <input value="@dateResult" type="text" readonly class="form-control-plaintext" />
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label class="control-label">Tình trạng</label>
                                                                    <input value="@Constants.TaskStatusBhxh(item.Status)" type="text" readonly class="form-control-plaintext" />
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>

                            <!-- Certificates -->
                            <hr />
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>Học vấn</h5>
                                </div>
                                <!--end of col-->
                            </div>
                            <div class="row">
                                @{
                                    if (Model.Employee.Certificates != null && Model.Employee.Certificates.Count > 0)
                                    {
                                        foreach (var item in Model.Employee.Certificates)
                                        {
                                            <div class="col-12 nodeCertificate node">
                                                <div class="row bd-example">
                                                    <div class="col-6">
                                                        <div class="form-group">
                                                            <label class="control-label">Học vấn</label>
                                                            <input value="@item.Type" type="text" readonly class="form-control-plaintext" />
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Nơi cấp</label>
                                                            <p>@item.Location</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Nội dung</label>
                                                            <p>@item.Description</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                    }
                                }
                            </div>

                            <!-- FAMILY -->
                            <hr />
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>Thành viên gia đình</h5>
                                </div>
                                <!--end of col-->
                            </div>
                            <div class="row">
                                @{
                                    if (Model.Employee.EmployeeFamilys != null && Model.Employee.EmployeeFamilys.Count > 0)
                                    {
                                        foreach (var family in Model.Employee.EmployeeFamilys)
                                        {
                                            if (!string.IsNullOrEmpty(family.FullName) && family.FullName.Length > 2)
                                            {
                                                <div class="col-12 nodeFamily node">
                                                    <div class="bd-example">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Quan hệ</label>
                                                                @{
                                                                    if (family.Relation.HasValue)
                                                                    {
                                                                        <input value="@Constants.Relation(family.Relation.Value)" type="text" readonly class="form-control-plaintext" />
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Ngày sinh nhật</label>
                                                                @{
                                                                    var birthdayfamily = family.Birthday.HasValue && family.Birthday.Value.Year > 1900 ? family.Birthday.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                                }
                                                                <input value="@birthdayfamily" type="text" readonly class="form-control-plaintext" />
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Họ và tên</label>
                                                                <input value="@family.FullName" type="text" readonly class="form-control-plaintext" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                    }
                                }
                            </div>

                            <!-- HOP DONG LAO DONG -->
                            <hr />
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>Hợp đồng lao động</h5>
                                </div>
                                <!--end of col-->
                            </div>
                            <div class="row">
                                @{
                                    if (Model.Employee.Contracts != null && Model.Employee.Contracts.Count > 0)
                                    {
                                        foreach (var contract in Model.Employee.Contracts)
                                        {
                                            if (!string.IsNullOrEmpty(contract.Code))
                                            {
                                                <div class="col-12 nodeContract node">
                                                    <div class="bd-example">
                                                        <div class="col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Loại hợp đồng</label>
                                                                <input value="@contract.TypeName" type="text" readonly class="form-control-plaintext" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Số hợp đồng</label>
                                                                <input value="@contract.Code" type="text" readonly class="form-control-plaintext" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="control-label">PLHĐ</label>
                                                                <input value="@contract.PLHD" type="text" readonly class="form-control-plaintext" />
                                                            </div>
                                                        </div>
                                                        @if (contract.Type == "HĐ KHÔNG XÁC ĐỊNH THỜI HẠN")
                                                        {
                                                            <div class="col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">Phụ lục điều chỉnh lương</label>
                                                                    <input value="@contract.PhuLucDieuChinhLuong" type="text" readonly class="form-control-plaintext" />
                                                                </div>
                                                            </div>
                                                        }
                                                        @if (!string.IsNullOrEmpty(contract.Description))
                                                        {
                                                            <div class="col-sm-6 col-xs-12">
                                                                <div class="form-group">
                                                                    <label class="control-label">Ghi chú</label>
                                                                    <input value="@contract.Description" type="text" readonly class="form-control-plaintext" />
                                                                </div>
                                                            </div>
                                                        }
                                                        <div class="col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Ngày hiệu lực</label>
                                                                @{
                                                                    var startContract = contract.Start.HasValue && contract.Start.Value.Year > 1900 ? contract.Start.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                                }
                                                                <input value="@startContract" type="text" readonly class="form-control-plaintext" />
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6 col-xs-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Ngày hết hiệu lực</label>
                                                                @{
                                                                    var endContract = contract.End.HasValue && contract.End.Value.Year > 1900 ? contract.End.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                                }
                                                                <input value="@endContract" type="text" readonly class="form-control-plaintext" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        }
                                    }
                                    else
                                    {
                                        <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                    }
                                }
                            </div>

                            <!-- SO LUONG BAN LUU -->
                            <hr />
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>Số lượng bản lưu</h5>
                                </div>
                                <!--end of col-->
                            </div>
                            <div class="row">
                                @{
                                    if (Model.Employee.StorePapers != null && Model.Employee.StorePapers.Count > 0)
                                    {
                                        foreach (var item in Model.Employee.StorePapers)
                                        {
                                            <div class="col-12 nodeStorePaper node">
                                                <div class="row bd-example">
                                                    <div class="col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Loại bảng lưu</label>
                                                            <input value="@item.Type" type="text" readonly class="form-control-plaintext" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6 col-xs-12">
                                                        <div class="form-group">
                                                            <label class="control-label">Số lượng</label>
                                                            <input value="@item.Count" type="text" readonly class="form-control-plaintext" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                    }
                                }
                            </div>

                            <!-- DAO TAO -->
                            <hr />
                            <div class="row mb-4">
                                <div class="col">
                                    <h5>ĐÀO TẠO (THỜI GIAN, CHUYÊN MÔN, CHỨNG CHỈ)</h5>
                                </div>
                            </div>
                            <div class="row">
                                @{
                                    if (Model.Employee.EmployeeEducations != null && Model.Employee.EmployeeEducations.Count > 0)
                                    {
                                        var i = 1;
                                        foreach (var item in Model.Employee.EmployeeEducations)
                                        {
                                            if (!string.IsNullOrEmpty(item.Content))
                                            {
                                                <div class="col-12 nodeEducation node">
                                                    <div class="row bd-example">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="control-label">Lần @i - Nội dung</label>
                                                                <p>@item.Content</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                i++;
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <small><i class="icon-info"></i>@Constants.MissTitle</small>
                                    }
                                }
                            </div>

                            <!-- DIEU CHUYEN EmployeeMovements -->
                            <!-- KHEN THUONG -->
                            <!-- KY LUAT -->
                            <!-- DANH GIA NANG LUC -->
                            <!-- NGUOI LIEN LAC -->
                            <!-- GIAY TO KHAC -->
                            <!-- NGUOI CHECK -->
                        </div>
                    </div>
                </div>
            </div>
            <!--end of tab pane-->

            @{
                if (ViewBag.SalatyRight > (int)ERights.None)
                {
                    <div class="tab-pane fade" id="salary" role="tabpanel" arialabelledby="salary-tab">
                        <div class="container">
                            @{

                                if (ViewBag.SalatyRight >= (int)ERights.View)
                                {
                                    <div class="row">
                                        <div class="col-sm-6 col-12">
                                            <div class="form-group">
                                                <i class="icon icon-target"></i>
                                                <label class="control-label">Bậc lương</label><span class="badge badge-light">@Model.Employee.LevelSalary</span>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <table class="table align-items-center">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">STT</th>
                                                        <th scope="col">Nội dung lương</th>
                                                        <th scope="col">Mức</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @{
                                                        if (Model.Employee.Salaries != null)
                                                        {
                                                            var salaries = Model.Employee.Salaries;
                                                            var groups = (
                                                                    from p in salaries
                                                                    group p by p.Type into d
                                                                    select new
                                                                    {
                                                                        dt = d.Key,
                                                                        count = d.Count(),
                                                                        items = d.ToList(),
                                                                    }
                                                                ).ToList();

                                                            foreach (var group in groups)
                                                            {
                                                                if (!string.IsNullOrEmpty(group.dt))
                                                                {
                                                                    <tr>
                                                                        <td colspan="3">
                                                                            <span class="text-muted">@group.dt</span>
                                                                        </td>
                                                                    </tr>
                                                                }
                                                                foreach (var item in group.items)
                                                                {
                                                                    @if (!string.IsNullOrEmpty(item.Title))
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                @item.Order
                                                                            </td>
                                                                            <td>
                                                                                @item.Title
                                                                            </td>
                                                                            <td>
                                                                                @string.Format("{0:n0}", item.Money)
                                                                            </td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td colspan="3">
                                                                    <small>
                                                                        <i class="icon-info"></i>
                                                                        Dữ liệu chưa cập nhật. Liên hệ quản lý hoặc trực tiếp phòng Hành chính nhân sự.
                                                                        Xin lỗi về sự bất tiện này.
                                                                    </small>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <i class="icon icon-target"></i>
                                                <label class="control-label">Ước tính lương tháng</label>
                                                <span class="badge badge-info">@string.Format("{0:n0}", Model.Employee.Salary)</span>
                                                <small>Thông tin này có giá trị tham khảo, tùy qui định của công ty.</small>
                                            </div>
                                        </div>
                                    </div>

                                    <!--BANKS-->
                                    <hr />
                                    <div class="row mb-4">
                                        <div class="col">
                                            <h5>Thông tin nhận lương</h5>
                                        </div>
                                        <!--end of col-->
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-12">
                                            <div class="form-group">
                                                <i class="icon icon-hand"></i>
                                                <label class="control-label">Hình thức nhận lương</label>
                                                <input value="@Constants.SalaryPaymentMethod(Model.Employee.SalaryPayMethod)" type="text" readonly class="form-control-plaintext" />
                                            </div>
                                        </div>
                                        <!--end of col-->
                                    </div>
                                    @if (Model.Employee.SalaryPayMethod == 1)
                                    {
                                        <div class="row bank-method">
                                            <div class="col-sm-6 col-12">
                                                <div class="form-group">
                                                    <i class="icon icon-hand"></i>
                                                    <label class="control-label">Tài khoản</label>
                                                    <input asp-for="Employee.EmployeeBank.BankAccount" type="text" readonly class="form-control-plaintext" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-12">
                                                <div class="form-group">
                                                    <i class="icon icon-hand"></i>
                                                    <label class="control-label">Họ tên</label>
                                                    <input asp-for="Employee.EmployeeBank.BankHolder" type="text" readonly class="form-control-plaintext" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label class="control-label">Ngân hàng</label>
                                                    <input asp-for="Employee.EmployeeBank.BankName" type="text" readonly class="form-control-plaintext" />
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-12">
                                                <div class="form-group">
                                                    <label class="control-label">Chi nhánh</label>
                                                    <input asp-for="Employee.EmployeeBank.BankLocation" type="text" readonly class="form-control-plaintext" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="row">
                                        <div class="col-12">
                                            <i class="icon-lock"></i>Giới hạn!
                                            <small>
                                                Bạn chưa được gán quyền để truy cập nội dung này.
                                            </small>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <!--end of container-->
                    </div>
                    <!--end of tab pane-->
                }
            }


        </div>
    </section>
    <!--end of section-->
</div>

<div>
    <a asp-action="Index"><i class="icon icon-back"></i>Trở về</a>
</div>

<div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="resultModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Tạo nhân viên thành công.</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                    <input type="text" class="form-control-plaintext" id="recipient-name">
                </div>
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Message:</label>
                    <textarea class="form-control" id="message-text"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <a href="/hr/nhan-su/thong-tin/" class="btn btn-danger" data-dismiss="modal">Thêm thông tin</a>
                <a href="/hr/nhan-su/tao-moi" class="btn btn-primary">Thêm mới</a>
                <a href="/hr/nhan-su" class="btn btn-info">Danh sách</a>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
        <script src="~/js/employee-data.js"></script>
    }
}

