@using Common.Utilities;
@using Common.Enums;
@using System.Globalization;
@model ViewModels.EmployeeViewModel

@{
    var employee = Model.Employee;
    ViewData["title"] = "NHÂN SỰ | THÔNG TIN " + employee.FullName.ToUpper();
    var isRight = (bool)ViewData[Constants.ActionViews.IsRight];
    var isChange = (bool)ViewData["isChange"];
    var sizeValueAvatar = (int)EImageSize.Avatar;
    var sizeValueCover = (int)EImageSize.Cover;
    var isImg = false;
    var images = new List<Img>
    {
        new Img() { Type = sizeValueAvatar },
        new Img() { Type = sizeValueCover }
    };
    if (employee != null && employee.Images != null && employee.Images.Count > 0)
    {
        isImg = true;
        images = employee.Images.ToList();
    }
    var avatarDisplay = "/images/placeholder/120x120.png";
    var coverDisplay = "background-image: url('/images/placeholder/354x167.png')";
    if (isImg)
    {
        var avatar = images.Where(m => m.Type.Equals(sizeValueAvatar)).FirstOrDefault();
        var cover = images.Where(m => m.Type.Equals(sizeValueCover)).FirstOrDefault();
        if (avatar != null)
        {
            avatarDisplay = "/" + System.IO.Path.Combine(avatar.Path, avatar.FileName).Replace("\\", "/");
        }
        if (cover != null)
        {
            coverDisplay = "background-image: url('/" + System.IO.Path.Combine(avatar.Path, avatar.FileName).Replace("\\", "/") + "'); height:167px";
        }
    }
}

<style>
    .form-group p {
        font-weight: bold;
    }
</style>

<div class="main-container">
    <nav aria-label="breadcrumb" role="navigation" class="bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/@Constants.LinkHr.Human">Nhân sự</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Thông tin @employee.FullName</li>
                    </ol>
                </div>
            </div>
        </div>
    </nav>

    <section class="bg-white space-sm pb-4">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h1 class="h2">Thông tin @employee.FullName</h1>
                </div>
                <div class="col-auto text-right">
                    <a href="/@Constants.LinkHr.Human/@Constants.ActionLink.Data/@employee.Id" class="btn btn-success">Chỉnh sửa</a>
                </div>
            </div>
        </div>
    </section>

    <section class="flush-with-above space-0">
        <div class="bg-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#general" role="tab" aria-selected="true">Thông tin</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="extend1-tab" data-toggle="tab" href="#extend1" role="tab" aria-selected="true">Cá nhân</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="extend2-tab" data-toggle="tab" href="#extend2" role="tab" aria-selected="false">Mở rộng</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="extend3-tab" data-toggle="tab" href="#extend3" role="tab" aria-selected="false">Tài liệu & Thông báo</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="space-sm">
        <div class="tab-content">
            <div class="tab-pane fade show active" id="general" role="tabpanel">
                <div class="container">
                    <div class="row">
                        <div class="col-12" id="cover" style="@coverDisplay">
                            <div class="media flex-wrap mb-0 align-items-center" id="avatar-upload">
                                <img id="avatarShow" alt="@employee.FullName" src="@avatarDisplay" class="avatar avatar-lg mb-3 mb-md-0" />
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row mb-4">
                        <div class="col">
                            <h5>Thông tin</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <i class="icon icon-text"></i>
                            <label class="control-label">Họ và Tên</label>
                            <p>@employee.FullName</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <i class="icon icon-login"></i>
                            <label class="control-label">Tên đăng nhập</label>
                            <p>@employee.UserName  | @employee.Email</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <i class="far fa-envelope"></i>
                            <label class="control-label">Email</label>
                            <p><a href="mailto:@employee.Email" target="_top">@employee.Email</a></p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <i class="icon icon-phone"></i> <label class="control-label">Điện thoại bàn</label>
                            @if (!string.IsNullOrEmpty(employee.Tel))
                            {
                                <p><a href="tel:@employee.Tel">@employee.Tel</a></p>
                            }
                        </div>
                        @if (employee.Mobiles != null && employee.Mobiles.Count > 0)
                        {
                            foreach (var mobile in employee.Mobiles)
                            {
                                @if (!string.IsNullOrEmpty(mobile.Number))
                                {
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12 nodeMobile node">
                                        <i class="icon icon-phone"></i>
                                        <label class="control-label">Số di động</label>
                                        <p><a href="tel:@mobile.Number">@mobile.Number</a></p>
                                    </div>
                                }
                            }
                        }
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <i class="icon icon-cake"></i>
                            <label class="control-label">Ngày sinh</label>
                            @{
                                var birthday = employee.Birthday.Year > 1900 ? employee.Birthday.ToString("dd/MM/yyyy") : string.Empty;
                            }
                            <p>@birthday</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <i class="icon icon-select-arrows"></i>
                            <label class="control-label">Giới tính</label>
                            <p>@employee.Gender</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <i class="icon icon-select-arrows"></i>
                            <label class="control-label">Khối chức năng</label>
                            <p>@employee.KhoiChucNangName</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <i class="icon icon-select-arrows"></i>
                            <label class="control-label">Phòng ban</label>
                            <p>@employee.PhongBanName</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <i class="icon icon-select-arrows"></i>
                            <label class="control-label">Bộ phận</label>
                            <p>@employee.BoPhanName</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <i class="icon icon-select-arrows"></i>
                            <label class="control-label">Nơi làm việc chính</label>
                            <p>@employee.CongTyChiNhanhName</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <i class="icon icon-select-arrows"></i>
                            <label class="control-label">Chức vụ</label>
                            <p>@employee.ChucVuName</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <i class="icon icon-select-arrows"></i>
                            <label class="control-label">Quản lý trực tiếp</label>
                            <p>@employee.ManagerInformation</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <i class="icon icon-time-slot"></i>
                            <label class="control-label">Ngày vào làm</label>
                            @{
                                var joinday = employee.Joinday.Year > 1900 ? employee.Joinday.ToString("dd/MM/yyyy") : string.Empty;
                            }
                            <p>@joinday</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <i class="icon icon-archive"></i>
                            <label class="control-label">Mức phép năm</label>
                            <p>@employee.LeaveLevelYear ngày</p>
                        </div>
                        <div class="form-group col-12 workplace">
                            <i class="icon icon-location"></i>
                            <label class="control-label">Nơi làm việc</label>
                        </div>
                        @if (employee.IsTimeKeeper)
                        {
                            if (employee.Workplaces != null)
                            {
                                foreach (var workplace in employee.Workplaces)
                                {
                                    @if (!string.IsNullOrEmpty(workplace.Fingerprint))
                                    {
                                        <div class="form-group col-md-5 col-sm-12 nodeWorkplace node">
                                            <div class="form-group col-xs-12">
                                                <label class="control-label">
                                                    <span class="badge badge-primary text-uppercase">@workplace.Code</span> Mã chấm công
                                                </label>
                                                <span class="badge badge-info">@workplace.Fingerprint</span>
                                                <label class="control-label">Thời gian làm việc</label>
                                                <span class="badge badge-info">@workplace.WorkingScheduleTime</span>
                                            </div>
                                        </div>
                                    }
                                }
                            }
                        }
                        else
                        {
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                <p>Không tính thời gian làm việc</p>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="extend1" role="tabpanel">
                <div class="container">
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-12">
                            <label class="control-label">Thường trú</label>
                            <p><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=@employee.AddressResident" data-toggle="tooltip" title="Bấm để đi đến bản đồ">@employee.AddressResident</a></p>
                        </div>
                        <div class="form-group col-md-6 col-sm-12">
                            <label class="control-label">Tạm trú</label>
                            <p><a target="_blank" href="https://www.google.com/maps/search/?api=1&query=@employee.AddressTemporary" data-toggle="tooltip" title="Bấm để đi đến bản đồ">@employee.AddressTemporary</a></p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label">Nguyên quán</label>
                            <p>@employee.Bornplace</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <i class="icon icon-email"></i>
                            <label class="control-label">Email cá nhân</label>
                            <p><a href="mailto:@employee.EmailPersonal" target="_top">@employee.EmailPersonal</a></p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label">Tình trạng hôn nhân</label>
                            <p>@Constants.Married(employee.StatusMarital)</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label">Quốc tịch</label>
                            <p>@employee.Nation</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label">Tôn giáo</label>
                            <p>@employee.Religion</p>
                        </div>
                        <div class="form-group col-12">
                            <label class="control-label">Giới thiệu</label>
                            <p>@employee.Intro</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-uppercase">
                            <h4 class="title-decorative">Số thẻ định danh</h4>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label">CMND</label>
                            <p>@employee.IdentityCard</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label">Ngày cấp</label>
                            @{
                                var identityCardDate = employee.IdentityCardDate.HasValue && employee.IdentityCardDate.Value.Year > 1900 ? employee.IdentityCardDate.Value.ToString("dd/MM/yyyy") : string.Empty;
                            }
                            <p>@identityCardDate</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label">Nơi cấp</label>
                            <p>@employee.IdentityCardPlace</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label">Hộ khẩu</label>
                            <p>@employee.HouseHold</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label">Chủ hộ</label>
                            <p>@employee.HouseHoldOwner</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label">Hộ chiếu</label>
                            <p>@employee.Passport</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label">Loại</label>
                            <p>@employee.PassportType</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label">Mã số</label>
                            <p>@employee.PassportCode</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label">Ngày cấp</label>
                            @{
                                var passportDate = employee.PassportDate.HasValue && employee.PassportDate.Value.Year > 1900 ? employee.PassportDate.Value.ToString("dd/MM/yyyy") : string.Empty;
                            }
                            <p>@passportDate</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label">Ngày hết hạn</label>
                            @{
                                var passportExpireDate = employee.PassportExpireDate.HasValue && employee.PassportExpireDate.Value.Year > 1900 ? employee.PassportExpireDate.Value.ToString("dd/MM/yyyy") : string.Empty;
                            }
                            <p>@passportExpireDate</p>
                        </div>
                        <div class="form-group col-md-4 col-sm-6 col-xs-12">
                            <label class="control-label">Nơi cấp</label>
                            <p>@employee.PassportPlace</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-12">
                            @{
                                var check = employee.BhxhEnable ? "checked" : "";
                            }
                            <div class="custom-control custom-checkbox custom-checkbox-switch">
                                <input type="checkbox" class="custom-control-input" id="public" @check disabled />
                                <label class="custom-control-label" for="public">Bảo hiểm xã hội</label>
                            </div>
                        </div>
                        @if (employee.BhxhEnable)
                        {
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label">Số sổ BHXH</label>
                                <p>@employee.BhxhBookNo</p>
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label">Số BHXH</label>
                                <p>@employee.BhxhCode</p>
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label">Ngày bắt đầu</label>
                                @{
                                    var bhxhStart = employee.BhxhStart.HasValue ? employee.BhxhStart.Value.ToString("dd/MM/yyyy") : string.Empty;
                                }
                                <p>@bhxhStart</p>
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label">Ngày kết thúc</label>
                                @{
                                    var bhxhEnd = employee.BhxhEnd.HasValue ? employee.BhxhEnd.Value.ToString("dd/MM/yyyy") : string.Empty;
                                }
                                <p>@bhxhEnd</p>
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label">Tình trạng</label>
                                <p>@employee.BhxhStatus</p>
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label">KCB ban đầu</label>
                                <p>@employee.BhxhHospital</p>
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label">Số BHYT</label>
                                <p>@employee.BhytCode</p>
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label">Ngày hiệu lực</label>
                                @{
                                    var bhytStart = employee.BhytStart.HasValue && employee.BhytStart.Value.Year > 1900 ? employee.BhytStart.Value.ToString("dd/MM/yyyy") : string.Empty;
                                }
                                <p>@bhytStart</p>
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label">Ngày kết thúc</label>
                                @{
                                    var bhytEnd = employee.BhytEnd.HasValue && employee.BhytEnd.Value.Year > 1900 ? employee.BhytEnd.Value.ToString("dd/MM/yyyy") : string.Empty;
                                }
                                <p>@bhytEnd</p>
                            </div>
                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                <label class="control-label">Nơi BHXH</label>
                                <p>@employee.BhxhLocation</p>
                            </div>
                            @if (employee.BhxhHistories != null && employee.BhxhHistories.Count > 0)
                            {
                                <div class="form-group col-12">
                                    <span class="badge badge-info">Tác vụ BHXH</span>
                                </div>

                                foreach (var item in employee.BhxhHistories)
                                {
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12 nodeBHXH node">
                                        <label class="control-label">Tác vụ</label>
                                        <p>@Constants.TaskBhxh(item.Task)</p>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                        <label class="control-label">Ngày thực hiện</label>
                                        @{
                                            var dateAction = item.DateAction.HasValue ? item.DateAction.Value.ToString("dd/MM/yyyy") : string.Empty;
                                        }
                                        <p>@dateAction</p>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                        <label class="control-label">Ngày trả kết quả</label>
                                        @{
                                            var dateResult = item.DateResult.HasValue ? item.DateResult.Value.ToString("dd/MM/yyyy") : string.Empty;
                                        }
                                        <p>@dateResult</p>
                                    </div>
                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                        <label class="control-label">Tình trạng</label>
                                        <p>@Constants.TaskStatusBhxh(item.Status)</p>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
            </div>

            <div class="tab-pane fade show" id="extend2" role="tabpanel">
                <div class="container">
                    <!-- FAMILY -->
                    @{
                        var families = employee.EmployeeFamilys;
                        if (families != null && families.Count > 0)
                        {
                            <div class="row">
                                <div class="col-12 text-uppercase">
                                    <h4 class="title-decorative">Thành viên gia đình</h4>
                                </div>
                                @foreach (var item in families)
                                {
                                    <div class="nodeFamily node col-12">
                                        <div class="row">
                                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                                <label class="control-label">Quan hệ</label>
                                                <p>@Constants.Relation(item.Relation.Value)</p>
                                            </div>
                                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                                <label class="control-label">Ngày sinh nhật</label>
                                                @{
                                                    var birthdayfamily = item.Birthday.HasValue && item.Birthday.Value.Year > 1900 ? item.Birthday.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                }
                                                <p>@birthdayfamily</p>
                                            </div>
                                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                                <label class="control-label">Họ và tên</label>
                                                <p>@item.FullName</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    }

                    <!-- Certificates -->
                    @{
                        var cers = employee.Certificates;
                        if (cers != null && cers.Count > 0)
                        {
                            <hr />
                            <div class="row mb-4">
                                <div class="col-12">
                                    <h5>Học vấn</h5>
                                </div>
                                @foreach (var item in cers)
                                {
                                    <div class="node col-12">
                                        <div class="row">
                                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                                <label class="control-label">Học vấn</label>
                                                <p>@item.Type</p>
                                            </div>
                                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                                <label class="control-label">Nơi cấp</label>
                                                <p>@item.Location</p>
                                            </div>
                                            <div class="form-group col-12">
                                                <label class="control-label">Nội dung</label>
                                                <p>@item.Description</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        }
                    }

                    <!-- HOP DONG LAO DONG -->
                    @{
                        if (employee.Contracts != null && employee.Contracts.Count > 0)
                        {
                            <hr />
                            <div class="row mb-4">
                                <div class="col-12">
                                    <h5>Hợp đồng lao động</h5>
                                </div>
                                @foreach (var contract in employee.Contracts)
                                {
                                    if (!string.IsNullOrEmpty(contract.Code))
                                    {
                                        <div class="nodeContract node col-12">
                                            <div class="row">
                                                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                                    <label class="control-label">Loại hợp đồng</label>
                                                    <p><span>@contract.TypeName</span></p>
                                                </div>
                                                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                                    <label class="control-label">Số hợp đồng</label>
                                                    <p><span>@contract.Code</span></p>
                                                </div>
                                                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                                    <label class="control-label">PLHĐ</label>
                                                    <p><span>@contract.PLHD</span></p>
                                                </div>
                                                @if (contract.Type == "HĐ KHÔNG XÁC ĐỊNH THỜI HẠN")
                                                {
                                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                                        <label class="control-label">Phụ lục điều chỉnh lương</label>
                                                        <p><span>@contract.PhuLucDieuChinhLuong</span></p>
                                                    </div>
                                                }
                                                @if (!string.IsNullOrEmpty(contract.Description))
                                                {
                                                    <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                                        <label class="control-label">Ghi chú</label>
                                                        <p><span>@contract.Description</span></p>
                                                    </div>
                                                }
                                                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                                    <label class="control-label">Ngày hiệu lực</label>
                                                    @{
                                                        var startContract = contract.Start.HasValue && contract.Start.Value.Year > 1900 ? contract.Start.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                    }
                                                    <p><span>@startContract</span></p>
                                                </div>
                                                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                                    <label class="control-label">Ngày hết hiệu lực</label>
                                                    @{
                                                        var endContract = contract.End.HasValue && contract.End.Value.Year > 1900 ? contract.End.Value.ToString("dd/MM/yyyy") : string.Empty;
                                                    }
                                                    <p><span>@endContract</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    }
 
                    <!-- DAO TAO -->
                    @{
                        var educations = employee.EmployeeEducations;
                        if (educations != null && educations.Count > 0)
                        {
                            <hr />
                            <div class="row mb-4">
                                <div class="col-12">
                                    <h5>ĐÀO TẠO (THỜI GIAN, CHUYÊN MÔN, CHỨNG CHỈ)</h5>
                                </div>
                                @foreach (var item in educations)
                                {
                                    if (!string.IsNullOrEmpty(item.Content))
                                    {
                                        <div class="nodeEducation node col-12">
                                            <div class="row">
                                                <div class="form-group col-12">
                                                    <label class="control-label">Nội dung</label>
                                                    <p>@item.Content</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        }
                    }
                    <!-- DIEU CHUYEN EmployeeMovements -->
                    <!-- KHEN THUONG -->
                    <!-- KY LUAT -->
                    <!-- DANH GIA NANG LUC -->
                    <!-- NGUOI LIEN LAC -->
                    <!-- GIAY TO KHAC -->
                    <!-- NGUOI CHECK -->
                </div>
            </div>
            <div class="tab-pane fade show" id="extend3" role="tabpanel">
                <div class="container">
                    <!-- SO LUONG BAN LUU -->
                    @if (employee.StorePapers != null && employee.StorePapers.Count > 0)
                    {
                        <hr />
                        <div class="row mb-4">
                            <div class="col-12">
                                <h5>Số lượng bản lưu</h5>
                            </div>
                            @foreach (var item in employee.StorePapers)
                            {
                                if (item.Count > 0)
                                {
                                    <div class="nodeStorePaper node col-12">
                                        <div class="row">
                                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                                <label class="control-label">Loại bảng lưu</label>
                                                <p>@item.Type</p>
                                            </div>
                                            <div class="form-group col-md-4 col-sm-6 col-xs-12">
                                                <label class="control-label">Số lượng</label>
                                                <p>@item.Count</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    }

                    @if (employee.Leave)
                    {
                        <div class="form-control col-sm-6 col-xs-12">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" checked readonly>
                                <label class="custom-control-label text-small" for="check-enable">
                                    Nghỉ việc
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-6 col-xs-12">
                            <label class="control-label">Ngày nghỉ việc</label>
                            @{
                                var leaveDay = employee.Leaveday.HasValue ? employee.Leaveday.Value.ToString("dd/MM/yyyy") : string.Empty;
                            }
                            <p>@leaveDay</p>
                        </div>
                        <div class="form-group col-12">
                            <label class="control-label">Lý do</label>
                            <p>@employee.LeaveReason</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>

    <section class="space-xs">
        <div class="container">
            <div class="form-group alert alert-info text-small">
                <i class="icon-shield"></i>
                <span>
                    Thông tin của bạn luôn được mã hóa và không cho các bên thứ ba truy cập.
                </span>
                <a href="/chinh-sach-bao-mat" target="_blank">Xem chính sách bảo mật của chúng tôi</a>
            </div>

            <div class="col-12">
                <a asp-action="Index" class="btn btn-primary btn-block"><i class="icon icon-back"></i> Trở về</a>
            </div>
        </div>
    </section>
</div>

        @section scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
                <script src="~/js/hr/employee-data.js?@Constants.VersionJs"></script>
            }
        }

